---
layout: default
title: Careers in Endpoint Management at Adaptiva
meta: "Join Adaptiva's team of talented, driven employees, and help shape the future of of modern endpoint management"
bodyclass: careers
redirect_from: "/jobs"
---
<section class="hero" id="hero-careers">
  <div class="content hero-content">
    <div class="j-col j-col-10 push-1">
      <h1>Careers</h1>
      <h3>The future of modern endpoint management starts here</h3>
      <a href="#openings" class="button" title="Explore current open positions at Adaptiva">Current Openings</a>
    </div>
  </div>
</section>
<section class="color-block white">
  <div class="content">
    <div class="j-col j-col-8 push-2">
      <h2 class="blue centered">Join us on our Next Adventure</h2>
      <p>We started with a simple idea: enterprise IT needs a simpler, faster, and smarter way to scale. One that doesn’t require purchasing a massive server infrastructure or negatively impacting the network.</p>
      <p>With that mission in mind, we created the world’s first smart scaling, network adaptive peer-to-peer technology. It revolutionized the systems management space and enabled companies to manage and secure endpoints across their enterprise faster and more cost effectively than anyone thought was possible.</p>
    </div>
  </div>
</section>
<section class="color-block dark-black">
  <div class="content vertical-center-row">
    <div class="j-col j-col-6">
      <div class="responsive-video js-scroll slideUp">
        <iframe src="https://player.vimeo.com/video/215216782" frameborder="0"></iframe>
      </div>
    </div>
    <div class="j-col j-col-5 push-1 employee-spotlight-txt js-scroll slideRight">
      <h4 class="blue">Employee Spotlight</h4>
      <p class="type-big white">
        Software Engineer Eric Soler talks about why he chose to work at Adaptiva and what life is like as a developer here.
      </p>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content">
    <div class="j-col j-col-8 push-2">
      <h2 class="blue centered">Ushering in the Future of Modern Endpoint Management</h2>
      <p>We now count hundreds of leading companies, including one of the largest retailers in the world, over 50% of the top 20 banks in North America, the world’s largest hospital chain, and dozens of companies in the Fortune 1000/Global 500 rankings as our customers. We are profitable, self-funded, and growing.</p>
      <p>And now we are ready to use our peer-to-peer technology to tackle new challenges.</p>
      <p>But we can’t do it alone. It takes an entire team united behind the belief that through technical excellence, customer focus, and a commitment to integrity we can achieve great things.</p>
    </div>
    <div class="j-row wrap" style="text-align: center; margin-top: 1em;">
      <a href="#openings" class="button" title="Apply for an open position at Adaptiva today">Apply Today</a>
    </div>
  </div>
</section>
<section class="color-block white">
  <div class="content">
    <h2 class="blue centered">Living our Core Values</h2>
    <div class="j-row">
      <div class="j-col j-col-8 push-2">
        <p class="centered">Adaptiva is a results-driven company that invests in hard-working, genuine, talented, and creative employees who don’t settle for anything short of their best work. Much of our success can be attributed to adherence to our four core values:</p>
      </div>
    </div>
    <div class="j-row">
      <div class="j-col j-col-6">
        <h3 class="blue">Integrity</h3>
        <p>Working at Adaptiva means absolute honesty and transparency in the way we do business, with coworkers, customers, and partners.</p>
      </div>
      <div class="j-col j-col-6">
        <h3 class="blue">Work Ethic</h3>
        <p>Adaptiva promotes a self-driven work environment, and our staff achieves results without being micro-managed.</p>
      </div>
    </div>
    <div class="j-row">
      <div class="j-col j-col-6">
        <h3 class="blue">Excellence</h3>
        <p>We believe in going the extra mile to deliver our best work in everything we do, every time.</p>
      </div>
      <div class="j-col j-col-6">
        <h3 class="blue">Dignity of Labor</h3>
        <p>We never ask anyone to do something we wouldn’t do ourselves. Being an executive doesn’t mean you can’t do the dishes.</p>
      </div>
    </div>
  </div>
</section>
<section class="color-block lighter-gray" id="openings">
  <div class="content overflow">
    <h2 class="black centered">Current Openings</h2>
    <div class="j-row" style="padding-bottom: 1em;">
      <div class="j-col j-col-8 push-2">
        {% for job in site.pages %}
          {% if job.layout == 'job' %}
          <a href="{{job.url}}" class="job js-scroll" title="Apply for {{job.title}}">
            {{job.title}}
            <span>{% include svg/arrow.svg width="16" color="orange" %}</span>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="slider careers-slider">
  <div class="slider-dots">
    <span class="slider-dot is-selected" id="careers-1"></span>
    <span class="slider-dot" id="careers-2"></span>
    <span class="slider-dot" id="careers-3"></span>
  </div>
  <div class="slides">
    <div class="slide is-visible" id="careers-1" style="background-image: url('/assets/img/adaptiva-careers-1.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
    </div>
    <div class="slide" id="careers-2" style="background-image: url('/assets/img/adaptiva-careers-2.jpg'); display: none;)">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
    </div>
    <div class="slide" id="careers-3" style="background-image: url('/assets/img/adaptiva-careers-3.jpg'); display: none;">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
    </div>
  </div>
</section>
<section class="color-block white">
  <div class="content">
    <h2 class="blue centered">We Love our People</h2>
    <div class="j-row" style="margin-bottom: 2em;">
      <p class="centered j-col j-col-8 push-2">There is no doubt that we work hard together. But we also laugh and have fun together, understanding the value of the time you spend outside of the office. Simply put: we take care of our people because they take care of us.</p>
    </div>
    <div class="grid-container">
      <div class="j-col j-col-4 careers-perk wrap vertical-center-row">
        <div class="j-col j-col-2 js-scroll slideUp">
          {% include svg/compensation.svg width="42" %}
        </div>
        <div class="j-col j-col-10 js-scroll slideRight">
          <span>Highly competitive salaries and compensation packages</span>
        </div>
      </div>
      <div class="j-col j-col-4 careers-perk wrap vertical-center-row">
        <div class="j-col j-col-2 js-scroll slideUp">
          {% include svg/company-events.svg width="42" %}
        </div>
        <div class="j-col j-col-10 js-scroll slideRight">
          <span>Incredible team outings and events</span>
        </div>
      </div>
      <div class="j-col j-col-4 careers-perk wrap vertical-center-row">
        <div class="j-col j-col-2 js-scroll slideUp">
          {% include svg/kitchen.svg width="42" %}
        </div>
        <div class="j-col j-col-10 js-scroll slideRight">
          <span>Fully stocked kitchen, plus frequent team lunches and dinners</span>
        </div>
      </div>
      <div class="j-col j-col-4 careers-perk wrap vertical-center-row">
        <div class="j-col j-col-2 js-scroll slideUp">
          {% include svg/vacation.svg width="42" %}
        </div>
        <div class="j-col j-col-10 js-scroll slideRight">
          <span>Employees start with 18 vacation days and gain one each year</span>
        </div>
      </div>
      <div class="j-col j-col-4 careers-perk wrap vertical-center-row">
        <div class="j-col j-col-2 js-scroll slideUp">
          {% include svg/benefits.svg width="42" %}
        </div>
        <div class="j-col j-col-10 js-scroll slideRight">
          <span>100% coverage on top-of-the-line medical, dental, and vision benefits</span>
        </div>
      </div>
      <div class="j-col j-col-4 careers-perk wrap vertical-center-row">
        <div class="j-col j-col-2 js-scroll slideUp">
          {% include svg/drinks.svg width="42" %}
        </div>
        <div class="j-col j-col-10 js-scroll slideRight">
          <span>Beverages on hand for happy hours and product launches</span>
        </div>
      </div>
    </div>
  </div>
</section>
