---
layout: default
title: About Adaptiva
meta: Adaptiva is an enterprise systems management software provider based in Bellevue, WA
bodyclass: about
---
<section class="hero" id="hero-about">
  <div class="content hero-content">
    <h1>{{page.title}}</h1>
    <div class="j-col j-col-10 push-1">
      <h3>Adaptiva was founded with a vision to deliver cost-effective ways for enterprises to scale their IT initiatives by intelligently doing more with the resources they already own.</h3>
    </div>
  </div>
</section>
<section class="color-block white">
  <div class="content">
    <div class="j-col j-col-8 push-2">
      <p>Adaptiva is a leading, global provider of smart scaling, network-aware IT systems management solutions, including OneSite™ and Client Health™. Adaptiva enables IT professionals to securely speed enterprise-wide software deployments without adding costly servers or throttling network bandwidth.</p>
      <p>The company’s breakthrough peer-to-peer systems management technology uses intelligence, automation, and bandwidth optimization techniques to distribute content faster than any other systems management solution available today. The company’s software is used by Fortune 500 companies and deployed on millions of devices in over 100 countries.</p>
    </div>
  </div>
</section>
<section class="color-block dark-black">
  <div class="content">
    <h2 class="white centered">
      Leadership Team
    </h2>
    <div class="tertiary leadership j-col j-col-10 push-1 wrap">
      <nav class="tertiary-nav vertical-center-row space-between">
        <ul>
          <li class="tertiary-nav-item js-scroll is-selected" id="bio-1">
            <img src="http://placehold.it/68x68" alt="">
          </li>
          <li class="tertiary-nav-item js-scroll" id="bio-2">
            <img src="http://placehold.it/68x68" alt="">
          </li>
          <li class="tertiary-nav-item js-scroll" id="bio-3">
            <img src="http://placehold.it/68x68" alt="">
          </li>
          <li class="tertiary-nav-item js-scroll" id="bio-4">
            <img src="http://placehold.it/68x68" alt="">
          </li>
          <li class="tertiary-nav-item js-scroll" id="bio-5">
            <img src="http://placehold.it/68x68" alt="">
          </li>
          <li class="tertiary-nav-item js-scroll" id="bio-6">
            <img src="http://placehold.it/68x68" alt="">
          </li>
          <li class="tertiary-nav-item js-scroll" id="bio-7">
            <img src="http://placehold.it/68x68" alt="">
          </li>
        </ul>
      </nav>
      <div class="tertiary-nav-content slideRight" id="bio-1">
        <h2>Management Name</h2>
        <h4>Management Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dicta perferendis, aspernatur! Quisquam libero pariatur, esse deserunt eveniet tempore ex! Aperiam ducimus veniam, velit esse. Consequatur nobis ut, porro. Assumenda quos aspernatur, sint, ipsam fugiat dolor, aperiam officiis cumque ex eveniet veniam.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="bio-2" style="display: none;">
        <h2>Management Name</h2>
        <h4>Management Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dicta perferendis, aspernatur! Quisquam libero pariatur, esse deserunt eveniet tempore ex! Aperiam ducimus veniam, velit esse. Consequatur nobis ut, porro. Assumenda quos aspernatur, sint, ipsam fugiat dolor, aperiam officiis cumque ex eveniet veniam.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="bio-3" style="display: none;">
        <h2>Management Name</h2>
        <h4>Management Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dicta perferendis, aspernatur! Quisquam libero pariatur, esse deserunt eveniet tempore ex! Aperiam ducimus veniam, velit esse. Consequatur nobis ut, porro. Assumenda quos aspernatur, sint, ipsam fugiat dolor, aperiam officiis cumque ex eveniet veniam.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="bio-4" style="display: none;">
        <h2>Management Name</h2>
        <h4>Management Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dicta perferendis, aspernatur! Quisquam libero pariatur, esse deserunt eveniet tempore ex! Aperiam ducimus veniam, velit esse. Consequatur nobis ut, porro. Assumenda quos aspernatur, sint, ipsam fugiat dolor, aperiam officiis cumque ex eveniet veniam.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="bio-5" style="display: none;">
        <h2>Management Name</h2>
        <h4>Management Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dicta perferendis, aspernatur! Quisquam libero pariatur, esse deserunt eveniet tempore ex! Aperiam ducimus veniam, velit esse. Consequatur nobis ut, porro. Assumenda quos aspernatur, sint, ipsam fugiat dolor, aperiam officiis cumque ex eveniet veniam.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="bio-6" style="display: none;">
        <h2>Management Name</h2>
        <h4>Management Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dicta perferendis, aspernatur! Quisquam libero pariatur, esse deserunt eveniet tempore ex! Aperiam ducimus veniam, velit esse. Consequatur nobis ut, porro. Assumenda quos aspernatur, sint, ipsam fugiat dolor, aperiam officiis cumque ex eveniet veniam.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="bio-7" style="display: none;">
        <h2>Management Name</h2>
        <h4>Management Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dicta perferendis, aspernatur! Quisquam libero pariatur, esse deserunt eveniet tempore ex! Aperiam ducimus veniam, velit esse. Consequatur nobis ut, porro. Assumenda quos aspernatur, sint, ipsam fugiat dolor, aperiam officiis cumque ex eveniet veniam.</p>
      </div>
    </div>
  </div>
</section>
<section class="slider about-careers-slider">
  <div class="slider-dots">
    <span class="slider-dot is-selected" id="about-careers-1"></span>
    <span class="slider-dot" id="about-careers-2"></span>
    <span class="slider-dot" id="about-careers-3"></span>
  </div>
  <div class="slides">
    <div class="slide is-visible" id="about-careers-1" style="background-image: url('/assets/img/about-adaptiva-careers-1.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Make an impact</h3>
            <p>We make products that runs on millions of machines, impacting lives on a daily basis, and our open company structure ensures that your ideas are heard.</p>
          </div>
          <a href="{{"/careers" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
    <div class="slide" id="about-careers-2" style="display: none; background-image: url('/assets/img/about-adaptiva-careers-2.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Grow your career</h3>
            <p>Do the best work of your life and learn from some of the brightest minds in technology. Solve real-world problems in cutting-edge areas from big data to software distribution.</p>
          </div>
          <a href="{{"/careers" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
    <div class="slide" id="about-careers-3" style="display: none; background-image: url('/assets/img/about-adaptiva-careers-3.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Work on a great team</h3>
            <p>Tackle some of the world’s toughest scalability challenges — together. Work with good people who care about the success of our customers, our company, and each other.</p>
          </div>
          <a href="{{"/careers" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block white awards">
  <div class="content centered">
    <div class="j-col j-col-12">
      <h2 class="black">Awards</h2>
      <p>Adaptiva's innovative technology consistently wins the industry's most prestigious awards</p>
    </div>
    <table class="awards">
      <thead>
        <tr>
          <th class="organization">Organization</th>
          <th class="award-name">Award</th>
          <th class="product">Product</th>
          <th class="year">Year</th>
        </tr>
      </thead>
      <tbody>
        {% for award in site.data.awards %}
        <tr class="js-awards-row">
          <td class="organization" data-th="Organization"><span>{{award.org}}</span></td>
          <td class="award-name" data-th="Award"><span>{{award.award}}</span></td>
          <td class="product" data-th="Product"><span>{{award.product}}</span></td>
          <td class="year" data-th="Year"><span>{{award.year}}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="text-align: center; margin-top: 1.618em;">
      <a class="js-awards button" href="javascript:void(0)">Show More</a>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered">Latest Insights</h2>
    <div class="grid-container">
      <a class="j-col j-col-4 insights-article tile js-scroll" href="#0">
        <div class="tile-content white">
          <div class="insights-article-img">
            <img src="http://placehold.it/760x507">
          </div>
          <p class="insights-article-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illum necessitatibus, soluta sit nihil maxime iste iusto voluptatem impedit vel?</p>
          <span href="#0" class="button">Read More</span>
        </div>
      </a>
      <a class="j-col j-col-4 insights-article tile js-scroll" href="#0">
        <div class="tile-content white">
          <div class="insights-article-img">
            <img src="http://placehold.it/760x507">
          </div>
          <p class="insights-article-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illum necessitatibus, soluta sit nihil maxime iste iusto voluptatem impedit vel?</p>
          <span href="#0" class="button">Read More</span>
        </div>
      </a>
      <a class="j-col j-col-4 insights-article tile js-scroll" href="#0">
        <div class="tile-content white">
          <div class="insights-article-img">
            <img src="http://placehold.it/760x507">
          </div>
          <p class="insights-article-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illum necessitatibus, soluta sit nihil maxime iste iusto voluptatem impedit vel?</p>
          <span href="#0" class="button">Read More</span>
        </div>
      </a>
    </div>
  </div>
</section>
