---
layout: default
title: Leading Global Provider of Endpoint Managment & Security
meta: "Adaptiva is a leading global provider of modern endpoint management and security solutions that empower enterprise IT teams with peer-to-peer technology"
bodyclass: about
js:
  - "about.js"
redirect_from:
  - "/company/"
  - "/management-team/"
  - "/why-adaptiva/"
  - "/awards/"
  - "/customers/"
---
<section class="hero" id="hero-about">
  <div class="content hero-content">
    <h1 class="white">About Adaptiva</h1>
    <div class="j-col j-col-10 push-1">
      <h3>The leading global provider of modern endpoint management and security solutions</h3>
    </div>
  </div>
</section>
<section class="color-block white about">
  <div class="content">
    <div class="tertiary">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected">
            <a href="#about-mission">Our Mission</a>
          </li>
          <li class="tertiary-nav-item">
            <a href="#about-products">Our Products</a>
          </li>
          <li class="tertiary-nav-item">
            <a href="#about-customers">Our Customers</a>
          </li>
        </ul>
      </nav>
      <div class="tertiary-nav-content is-visible" id="about-mission">
        <div class="j-col j-col-8 push-2">
          <h2 class="blue centered">Our Mission</h2>
          <p>Adaptiva was founded with a mission to significantly simplify and reduce the cost of enterprise IT management and security through the power of its intelligent peer-to-peer automation technology.</p>
        </div>
      </div>
      <div class="tertiary-nav-content" id="about-products" style="display:none;">
        <div class="j-col j-col-8 push-2">
          <h2 class="blue centered">Our Products</h2>
          <p>Our company’s <a href="{{"/products/" | relative_url}}" title="Adaptiva Products">products</a>, including OneSite™ and Evolve VM™, empower enterprise IT teams to manage and secure endpoints with unparalleled speed and at massive scale. They eliminate the need for a vast IT infrastructure and automate countless endpoint management tasks for many of the world’s largest enterprises.</p>
        </div>
      </div>
      <div class="tertiary-nav-content" id="about-customers" style="display:none;">
        <div class="j-col j-col-8 push-2">
          <h2 class="blue centered">Our Customers</h2>
          <p>Adaptiva is self-funded, highly profitable, growing at a rapid rate and counts among its customers many leading global Fortune 1000 organizations, including T-Mobile, Nokia, FedEx/<a class="plain-underline" href="https://direct.tnt.co.uk/" target="_blank" rel="noopener">TNT</a>, HSBC, Adidas, Walgreens, the U.S. Department of Defense, U.S. Department of Homeland Security and more.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block dark-black">
  <div class="content">
    <h2 class="white centered">
      Leadership Team
    </h2>
    <div class="tertiary leadership j-col j-col-10 push-1 wrap">
      <nav class="tertiary-nav vertical-center-row space-between">
        <ul>
          <li class="tertiary-nav-item js-scroll is-selected">
            <a href="#jim-souders">
              <img src="{{"/assets/img/leadership/adaptiva-jim-souders.jpg"}}" alt="Adaptiva CEO, Jim Souders">
            </a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#deepak-kumar"><img src="{{"/assets/img/leadership/adaptiva-deepak-kumar.jpg"}}" alt="Adaptiva CTO &amp; Founder, Dr. Deepak Kumar"></a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#anne-baker">
              <img src="{{"/assets/img/leadership/adaptiva-anne-baker.jpg"}}" alt="Adaptiva VP of Marketing, Anne Baker">
            </a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#pattie-stibre">
              <img src="{{"/assets/img/leadership/adaptiva-pattie-stibre.jpg"}}" alt="Adaptiva Director of Finance &amp; HR, Pattie Stibre">
            </a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#dan-richings">
              <img src="{{"/assets/img/leadership/adaptiva-dan-richings.jpg"}}" alt="Adaptiva Sr. Director, Technical Solutions &amp; Services, Dan Richings">
            </a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#gary-walker">
              <img src="{{"/assets/img/leadership/adaptiva-gary-walker.jpg"}}" alt="Adaptiva Director of Customer Experience, Gary Walker">
            </a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#maxime-albi">
              <img src="{{"/assets/img/leadership/adaptiva-maxime-abli.jpg"}}" alt="Adaptiva Sr. Director of Business Development, Maxime Albi">
            </a>
          </li>
        </ul>
      </nav>
      <div class="tertiary-nav-content slideRight" id="jim-souders">
        <h2>Jim Souders</h2>
        <h4>CEO</h4>
        <p>Jim is responsible for scaling operations at Adaptiva to support the continued success and rapid customer adoption of our market-leading solutions. Jim joins Adaptiva with more than 20 years experience in multi-stage company evolution and development. Prior to Adaptiva, Jim was General Manager and Vice President at Dorado Software.</p>
        <p>He has led high growth organizations delivering a variety of leading edge technologies, including IT infrastructure management, cross-platform mobile application development, WAN/LAN optimization, and wireless supply chain automation systems.</p>
        <p>Jim is a dedicated Seattle sports fan, and an expert fisherman and boater. His smoked salmon is outstanding.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="deepak-kumar" style="display: none;">
        <h2>Dr. Deepak Kumar</h2>
        <h4>CTO &amp; Founder</h4>
        <p>Dr. Kumar is responsible for strategic product direction and leads the development organization. He was the lead program manager with Microsoft’s Systems Management Server 2003 team and program manager with the Windows NT Networking team. Prior to Microsoft, he was a group manager for IP Telephony products at Nortel.</p>
        <p>Dr. Kumar has received five patents related to his work on SMS 2003 at Microsoft and has written more than 50 publications, including a book on Windows programming. While at Microsoft, Dr. Kumar also authored the Thinkweek paper for Bill Gates that became Project Greenwich, now known as Microsoft Office Communications Server / Lync.</p>
        <p>Deepak is an avid outdoorsman and hiker.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="anne-baker" style="display: none;">
        <h2>Anne Baker</h2>
        <h4>VP of Marketing</h4>
        <p>Anne leads the marketing and public relations program at Adaptiva. She brings to the company a unique combination of over 15 years of high-tech marketing experience with a technical engineering background. During her career, Anne has created global campaigns for leading technology companies, such as Microsoft and SAP, and led the launch strategies for emerging start-up companies, such as Zmags and L4 Digital.</p>
        <p>Prior to joining Adaptiva, Anne was founder and president of Blue Creek Marketing and held positions at Action Engine, Marconi, and Accenture. Her work has earned her recognition as one of the “100 Top Women in Seattle Technology” by the Puget Sound Business Journal and one of the “Top 50 Women in Mobile Content” by Mobile Entertainment Magazine. Anne holds a mechanical engineering degree from Cornell University and an MBA from Seattle University.</p>
        <p>Anne is an enthusiast of all things related to marketing, media, and mashed potatoes (not necessarily in that order). She spends an inordinate amount of her time in hockey rinks.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="pattie-stibre" style="display: none;">
        <h2>Pattie Stibre</h2>
        <h4>Director of Finance &amp; HR</h4>
        <p>Patricia Stibre runs the finance and human resources department at Adaptiva where she has helped to manage the company’s unprecedented revenue growth and long-term profitability. She has an extensive background in finance and operations management and has over two decades of experience working with firms in the technology, legal, and non-profit sectors. Pattie is known for her dedicated service both within corporations and outside of the office, earning awards at the Washington State level for exemplary volunteerism.</p>
        <p>Pattie has also planned and hosted some of Adaptiva’s most memorable and well run corporate events earning her the office nickname of "Party Pattie."</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="dan-richings" style="display: none;">
        <h2>Dan Richings</h2>
        <h4>VP of Solutions &amp; Support</h4>
        <p>Based in the UK, Dan oversees the management of Adaptiva's world-class support team and technical solutions group. Dan has a strong technical background in IT Systems Management across a career spanning numerous industry sectors including construction, design & consulting, software development and IT professional services. Dan and his team augment Adaptiva's engineering by developing shippable and customer-bespoke solutions utilizing Adaptiva's extensive product set and delivering unprecedented customer support.</p>
        <p>In his free time, Dan enjoys racquetball, airsoft, and karting.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="gary-walker" style="display: none;">
        <h2>Gary Walker</h2>
        <h4>Technical Director of Strategic Accounts</h4>
        <p>Gary is responsible for all aspects of delivering the outstanding product support that has become the hallmark of doing business with Adaptiva. Gary specializes in very large scale enterprise systems management infrastructures. He has helped design, model, and implement SCCM 2012 architectures for some of the most respected Fortune 500 companies in the world.</p>
        <p>Gary’s involvement with Microsoft’s systems management platforms goes back more than two decades, to the SMS 1.0 beta days. Before that, he was involved with a broad range of hard core networking and IT functional areas in medium and large enterprises.</p>
        <p>In his spare time, Gary enjoys zipping around the mid-west in an RV with his family, and spending time outdoors at his farm.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="maxime-albi" style="display: none;">
        <h2>Maxime Albi</h2>
        <h4>Sr. Director of Business Development</h4>
        <p>Maxime runs the business & channel development program at Adaptiva to broaden and deepen the company’s partnerships and increase channel revenue participation.  Maxime brings an extensive background in building and developing strategic partnerships at companies both large and small.  Prior to Adaptiva, Maxime led business development and alliances at multiple silicon valley high growth firms, such as Tintri, Riverbed and Citrix. He built foundations for developing strategic partnerships and increasing revenue generation with channel partners in various technology areas such as storage, networking, virtualization, and high performance computing. He has a Bachelor’s and Master’s in Mechanical Engineering (Columbia and Michigan).</p>
        <p>When Maxime isn’t in the office you can usually find him on a racquetball or beach volleyball court somewhere in Seattle.</p>
      </div>
    </div>
  </div>
</section>
<section class="slider about-careers-slider">
  <div class="slider-dots">
    <span class="slider-dot is-selected" id="about-careers-1"></span>
    <span class="slider-dot" id="about-careers-2"></span>
    <span class="slider-dot" id="about-careers-3"></span>
  </div>
  <div class="slides">
    <div class="slide is-visible" id="about-careers-1" style="background-image: url('/assets/img/about-adaptiva-careers-1.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Make an impact</h3>
            <p>We make products that run on millions of machines, impacting lives on a daily basis, and our open company structure ensures that your ideas are heard.</p>
          </div>
          <a href="{{"/careers/" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
    <div class="slide" id="about-careers-2" style="display: none; background-image: url('/assets/img/about-adaptiva-careers-2.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Grow your career</h3>
            <p>Do the best work of your life and learn from some of the brightest minds in technology. Solve real-world problems in cutting-edge areas from big data to software distribution.</p>
          </div>
          <a href="{{"/careers/" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
    <div class="slide" id="about-careers-3" style="display: none; background-image: url('/assets/img/about-adaptiva-careers-3.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Work on a great team</h3>
            <p>Tackle some of the world’s toughest scalability challenges — together. Work with good people who care about the success of our customers, our company, and each other.</p>
          </div>
          <a href="{{"/careers/" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block white awards">
  <div class="content centered">
    <div class="j-col j-col-12">
      <h2 class="black">Awards</h2>
      <p>Adaptiva's innovative technology consistently wins the industry's most prestigious awards</p>
    </div>
    <table class="awards">
      <thead>
        <tr>
          <th class="organization">Organization</th>
          <th class="award-name">Award</th>
          <th class="product">Product</th>
          <th class="year">Year</th>
        </tr>
      </thead>
      <tbody>
        {% for award in site.data.awards %}
        <tr class="js-awards-row">
          <td class="organization" data-th="Organization"><span>{{award.org}}</span></td>
          <td class="award-name" data-th="Award"><span>{{award.award}}</span></td>
          <td class="product" data-th="Product"><span>{{award.product}}</span></td>
          <td class="year" data-th="Year"><span>{{award.year}}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="text-align: center; margin-top: 1.618em;">
      <a class="js-awards button" href="javascript:void(0)">Show More</a>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.insights | sort: 'date' | reverse %}
      {% for post in insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
