---
layout: default
title: Leading Global Provider of Endpoint Managment & Security
meta: "Adaptiva is a leading global provider of modern endpoint management and security solutions that empower enterprise IT teams with peer-to-peer technology"
bodyclass: about
js:
  - "about.js"
redirect_from:
  - "/company/"
  - "/management-team/"
  - "/why-adaptiva/"
  - "/awards/"
  - "/customers/"
---
<section class="hero" id="hero-about">
  <div class="content hero-content">
    <h1 class="white">About Adaptiva</h1>
    <div class="j-col j-col-10 push-1">
      <h3>The leading global provider of modern endpoint management and security solutions</h3>
    </div>
  </div>
</section>
<section class="color-block white about">
  <div class="content">
    <div class="tertiary">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected">
            <a href="#about-mission">Our Mission</a>
          </li>
          <li class="tertiary-nav-item">
            <a href="#about-products">Our Products</a>
          </li>
          <li class="tertiary-nav-item">
            <a href="#about-customers">Our Customers</a>
          </li>
        </ul>
      </nav>
      <div class="tertiary-nav-content is-visible" id="about-mission">
        <div class="j-col j-col-8 push-2">
          <h2 class="blue centered">Our Mission</h2>
          <p>Adaptiva was founded with a mission to significantly simplify and reduce the cost of enterprise IT management and security through the power of its intelligent peer-to-peer automation technology.</p>
        </div>
      </div>
      <div class="tertiary-nav-content" id="about-products" style="display:none;">
        <div class="j-col j-col-8 push-2">
          <h2 class="blue centered">Our Products</h2>
          <p>Our company’s <a href="{{"/products/" | relative_url}}" title="Adaptiva Products">products</a>, including OneSite™ and Evolve VM™, empower enterprise IT teams to manage and secure endpoints with unparalleled speed and at massive scale. They eliminate the need for a vast IT infrastructure and automate countless endpoint management tasks for many of the world’s largest enterprises.</p>
        </div>
      </div>
      <div class="tertiary-nav-content" id="about-customers" style="display:none;">
        <div class="j-col j-col-8 push-2">
          <h2 class="blue centered">Our Customers</h2>
          <p>Adaptiva is self-funded, highly profitable, growing at a rapid rate and counts among its customers many leading global Fortune 1000 organizations, including T-Mobile, Nokia, FedEx/<a class="plain-underline" href="https://direct.tnt.co.uk/" target="_blank" rel="noopener">TNT</a>, HSBC, Adidas, Walgreens, the U.S. Department of Defense, U.S. Department of Homeland Security and more.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block dark-black">
  <div class="content">
    <h2 class="white centered">
      Leadership Team
    </h2>
    <div class="tertiary leadership j-col j-col-10 push-1 wrap">
      <nav class="tertiary-nav vertical-center-row space-between">
        <ul>
          <!-- <li class="tertiary-nav-item js-scroll is-selected">
            <a href="#jim-souders">
              <img src="{{"/assets/img/leadership/adaptiva-jim-souders.jpg"}}" alt="Adaptiva CEO, Jim Souders">
            </a>
          </li> -->
          <li class="tertiary-nav-item js-scroll">
            <a href="#deepak-kumar"><img src="{{"/assets/img/leadership/deepak.jpg"}}" alt="Founder &amp; President, Dr. Deepak Kumar"></a>
          </li>
          <li class="tertiary-nav-item js-scroll">
             <a href="#doug-kennedy"><img src="{{"/assets/img/leadership/doug-kennedy.jpg"}}" alt="Chief Growth Officer"></a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#david-langston"><img src="{{"/assets/img/leadership/david_langston2.jpg"}}" alt="Chief Revenue Officer"></a>
          </li>
          <!-- <li class="tertiary-nav-item js-scroll">
            <a href="#davinder-singh"><img src="{{"/assets/img/leadership/davinder-singh.jpeg"}}" alt="Chief Technology Officer, Davinder Sing"></a>
          </li> -->
          <li class="tertiary-nav-item js-scroll">
            <a href="#jeff-harrell">
              <img src="{{"/assets/img/leadership/jeff-harrell.jpg"}}" alt="Adaptiva VP of Marketing, Jeff Harrell">
            </a>
          </li>
          <!-- <li class="tertiary-nav-item js-scroll">
            <a href="#shailesh-kumar"><img src="{{"/assets/img/leadership/shailesh-kumar.jpg"}}" alt="VP of Engineering, Shailesh Kumar"></a>
          </li> -->
          <li class="tertiary-nav-item js-scroll">
            <a href="#dan-richings">
              <img src="{{"/assets/img/leadership/adaptiva-dan-richings.jpg"}}" alt="Adaptiva Sr. Director, Technical Solutions &amp; Services, Dan Richings">
            </a>
          </li>
          <li class="tertiary-nav-item js-scroll">
            <a href="#pattie-stibre">
              <img src="{{"/assets/img/leadership/adaptiva-pattie-stibre.jpg"}}" alt="Director of Finance &amp; Operations, Pattie Stibre">
            </a>
          </li>

          <!-- <li class="tertiary-nav-item js-scroll">
            <a href="#gary-walker">
              <img src="{{"/assets/img/leadership/adaptiva-gary-walker.jpg"}}" alt="Adaptiva Director of Customer Experience, Gary Walker">
            </a>
          </li> -->
          <!-- <li class="tertiary-nav-item js-scroll"> -->
            <!-- <a href="#maxime-albi">
              <img src="{{"/assets/img/leadership/adaptiva-maxime-abli.jpg"}}" alt="Adaptiva Sr. Director of Business Development, Maxime Albi">
            </a> -->
          <!-- </li> -->
        </ul>
      </nav>
      <!-- <div class="tertiary-nav-content slideRight" id="jim-souders">
        <h2>Jim Souders</h2>
        <h4>CEO</h4>
        <p>Jim Souders is CEO of Adaptiva. A global business executive with more than 20 years’ experience, Jim excels at leading teams in creating differentiated software solutions, penetrating markets, achieving revenue goals, and P/L management. <p>Prior to Adaptiva, Jim led high-growth organizations from start up to public offering and acquisition in a variety of advanced technologies, including IT infrastructure management, cross-platform mobile application development, WAN/LAN optimization, and wireless supply chain automation systems.
        <p>Jim is a dedicated Seattle sports fan, and an expert fisherman and boater. His smoked salmon is outstanding.</p>
      </div> -->
      <div class="tertiary-nav-content slideRight" id="deepak-kumar">
        <h2>Dr. Deepak Kumar</h2>
        <h4>Founder and President</h4>
        <p>Dr. Kumar is responsible for the overseeing the company’s ability to execute on its strategic product vision in the endpoint management and security space. Prior to Microsoft, he was a group manager for IP Telephony products at Nortel.</p>
        <p>Dr. Kumar has received five patents related to his work on SMS 2003 at Microsoft and has written more than 50 publications, including a book on Windows programming. While at Microsoft, Dr. Kumar also authored the Thinkweek paper for Bill Gates that became Project Greenwich, now known as Microsoft Office Communications Server / Lync.</p>
        <p>Deepak is an avid outdoorsman and hiker.</p>
      </div>
    <div class="tertiary-nav-content slideRight" id="doug-kennedy"  style="display: none;">
        <h2>Doug Kennedy</h2>
        <h4>Chief Growth Officer</h4>
        <p>Doug has a strong business and technical background.  His career in the computing industry started four decades ago in the 80’s as an IBM mainframe systems engineer.  Over the past 20 years, Doug has held VP and SVP roles within Microsoft, NetSuite and Oracle that span a variety of functional areas including development, support services, marketing, sales, partnering and corporate strategy.</p>
        <p>Outside of work, Doug is a musician, golfer, husband and father.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="david-langston"  style="display: none;">
        <h2>David Langston</h2>
        <h4>Chief Revenue Officer</h4>
        <p>David is responsible for global sales growth at Adaptiva.  He is a highly experienced veteran in enterprise sales with a wealth of industry knowledge, having worked for such prestigious firms as Microsoft, Oracle, IBM and most recently DXC Technology.  David’s experience is cross industry and international.</p>
        <p>Outside of work, David is a sports enthusiast, art collector, enjoys photography and is the father of three amazing sons.</p>
      </div>
      <!-- <div class="tertiary-nav-content slideRight" id="shailesh-kumar" style="display: none;">
        <h2>Shailesh Kumar</h2>
        <h4>VP of Engineering</h4>
        <p>Shailesh Kumar is the VP of Engineering at Adaptiva, where he leads the Seattle engineering team and manages all stages of the product development process. Shailesh is responsible for R&D as well as the development of both new and existing products for the company’s large customer base of Global 1000 enterprises. In his career at Adaptiva, Shailesh held multiple architect roles across the design and development of Adaptiva core platform components including the company’s award-winning peer-to-peer technology, messaging service, content system, and more. He has proven expertise in creating and executing large scale architectural designs for products in the systems management, endpoint security, and enterprise application integration domains.</p>
        <p>Prior to Adaptiva, Shailesh was a member of core team at Fiorano Software where he developed world's first grid-enabled, peer-to-peer messaging platform for enterprise application integration.</p>
        <p>He has a Bachelor in Computer Science (Hons) from Birla Institute of Technology and Science, Pilani.</p>
        <p>Shailesh enjoys hiking and biking around beautiful Seattle and the Cascade mountains.</p>
      </div> -->
      <!-- <div class="tertiary-nav-content slideRight" id="davinder-singh" style="display: none;">
        <h2>Davinder Singh</h2>
        <h4>Chief Technology Officer</h4>
        <p>Davinder Singh is the Chief Technology Officer at Adaptiva. In this role, Davinder leads software architecture, sets the vision for the overall engineering team, and executes the technical strategy for the company. In his career at Adaptiva, Davinder has held multiple senior architect level roles in design and development of company's award-winning peer-to-peer platform and product suite. The products he has architected are deployed on millions of devices across the company’s large customer base on Fortune Global 1000 enterprises. <p>Prior to Adaptiva, Davinder held software engineering positions at companies such as HPE and Fiorano Software. He brings extensive back-end software development experience and technical leadership to the Adaptiva team.
        <p>In his free time Davinder enjoys road-biking, hiking, and watching his daughter’s softball games.</p>

      </div> -->
      <div class="tertiary-nav-content slideRight" id="jeff-harrell" style="display: none;">
        <h2>Jeff Harrell</h2>
        <h4>Vice President of Marketing</h4>
        <p>Jeff has over 20 years of experience in marketing and product management leadership roles, creating high-growth enterprise B2B software businesses and leading them to success. Prior to Adaptiva, Jeff has held a variety of VP roles including product marketing, product management, and overall marketing. Jeff has been a founder or employee for several startups including nCircle, Qualys, McAfee, PGP, PrivNet, Redbooth, and eMusic, and has participated in 7 acquisitions on both sides of the table.</p>
        <p>Jeff is an aspiring birder and can usually be found looking up through a pair of binoculars.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="pattie-stibre" style="display: none;">
        <h2>Pattie Stibre</h2>
        <h4>Director of Finance &amp; Operations</h4>
        <p>Patricia Stibre runs the finance and human resources department at Adaptiva where she has helped to manage the company’s unprecedented revenue growth and long-term profitability. She has an extensive background in finance and operations management and has over two decades of experience working with firms in the technology, legal, and non-profit sectors. Pattie is known for her dedicated service both within corporations and outside of the office, earning awards at the Washington State level for exemplary volunteerism.</p>
        <p>Pattie has also planned and hosted some of Adaptiva’s most memorable and well run corporate events earning her the office nickname of "Party Pattie."</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="dan-richings" style="display: none;">
        <h2>Dan Richings</h2>
        <h4>VP of Solutions &amp; Support</h4>
        <p>Based in the UK, Dan oversees the management of Adaptiva's world-class support team and technical solutions group. Dan has a strong technical background in IT Systems Management across a career spanning numerous industry sectors including construction, design & consulting, software development and IT professional services. Dan and his team augment Adaptiva's engineering by developing shippable and customer-bespoke solutions utilizing Adaptiva's extensive product set and delivering unprecedented customer support.</p>
        <p>In his free time, Dan enjoys racquetball, airsoft, and karting.</p>
      </div>
      <div class="tertiary-nav-content slideRight" id="gary-walker" style="display: none;">
        <h2>Gary Walker</h2>
        <h4>Technical Director of Strategic Accounts</h4>
        <p>Gary is responsible for all aspects of delivering the outstanding product support that has become the hallmark of doing business with Adaptiva. Gary specializes in very large scale enterprise systems management infrastructures. He has helped design, model, and implement SCCM 2012 architectures for some of the most respected Fortune 500 companies in the world.</p>
        <p>Gary’s involvement with Microsoft’s systems management platforms goes back more than two decades, to the SMS 1.0 beta days. Before that, he was involved with a broad range of hard core networking and IT functional areas in medium and large enterprises.</p>
        <p>In his spare time, Gary enjoys zipping around the mid-west in an RV with his family, and spending time outdoors at his farm.</p>
      </div>
      <!-- <div class="tertiary-nav-content slideRight" id="maxime-albi" style="display: none;">
        <h2>Maxime Albi</h2>
        <h4>Sr. Director of Business Development</h4>
        <p>Maxime runs the business & channel development program at Adaptiva to broaden and deepen the company’s partnerships and increase channel revenue participation.  Maxime brings an extensive background in building and developing strategic partnerships at companies both large and small.  Prior to Adaptiva, Maxime led business development and alliances at multiple silicon valley high growth firms, such as Tintri, Riverbed and Citrix. He built foundations for developing strategic partnerships and increasing revenue generation with channel partners in various technology areas such as storage, networking, virtualization, and high performance computing. He has a Bachelor’s and Master’s in Mechanical Engineering (Columbia and Michigan).</p>
        <p>When Maxime isn’t in the office you can usually find him on a racquetball or beach volleyball court somewhere in Seattle.</p>
      </div> -->
    </div>
  </div>
</section>
<section class="slider about-careers-slider">
  <div class="slider-dots">
    <span class="slider-dot is-selected" id="about-careers-1"></span>
    <span class="slider-dot" id="about-careers-2"></span>
    <span class="slider-dot" id="about-careers-3"></span>
  </div>
  <div class="slides">
    <div class="slide is-visible" id="about-careers-1" style="background-image: url('/assets/img/about-adaptiva-careers-1.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Make an impact</h3>
            <p>We make products that run on millions of machines, impacting lives on a daily basis, and our open company structure ensures that your ideas are heard.</p>
          </div>
          <a href="{{"/careers/" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
    <div class="slide" id="about-careers-2" style="display: none; background-image: url('/assets/img/about-adaptiva-careers-2.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Grow your career</h3>
            <p>Do the best work of your life and learn from some of the brightest minds in technology. Solve real-world problems in cutting-edge areas from big data to software distribution.</p>
          </div>
          <a href="{{"/careers/" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
    <div class="slide" id="about-careers-3" style="display: none; background-image: url('/assets/img/about-adaptiva-careers-3.jpg');">
      <div class="slider-arrow prev">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="slider-arrow next">
        {% include svg/angle.svg width="20" color="white" %}
      </div>
      <div class="content overflow">
        <div class="j-col j-col-4 slide-content">
          <div class="slide-content-txt">
            <h3>Work on a great team</h3>
            <p>Tackle some of the world’s toughest scalability challenges — together. Work with good people who care about the success of our customers, our company, and each other.</p>
          </div>
          <a href="{{"/careers/" | relative_url }}" class="button">Join Adaptiva</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block white awards">
  <div class="content centered">
    <div class="j-col j-col-12">
      <h2 class="black">Awards</h2>
      <p>Adaptiva's innovative technology consistently wins the industry's most prestigious awards</p>
    </div>
    <table class="awards">
      <thead>
        <tr>
          <th class="organization">Organization</th>
          <th class="award-name">Award</th>
          <th class="product">Product</th>
          <th class="year">Year</th>
        </tr>
      </thead>
      <tbody>
        {% for award in site.data.awards %}
        <tr class="js-awards-row">
          <td class="organization" data-th="Organization"><span>{{award.org}}</span></td>
          <td class="award-name" data-th="Award"><span>{{award.award}}</span></td>
          <td class="product" data-th="Product"><span>{{award.product}}</span></td>
          <td class="year" data-th="Year"><span>{{award.year}}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="text-align: center; margin-top: 1.618em;">
      <a class="js-awards button" href="javascript:void(0)">Show More</a>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.insights | sort: 'date' | reverse %}
      {% for post in insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
