---
layout: default
title: Contact Us
meta: "Contact Adaptiva for a free trial, demo, or proof of concept of any of our peer-to-peer, modern endpoint management products."
bodyclass: contact
map: true
redirect_from: "/contact-us"
---
<section class="hero" id="hero-contact">
  <div class="content hero-content">
    <h1 class="blue">Contact Us</h1>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content centered">
    <div class="j-row overflow">
      <div class="j-col j-col-8 push-2">
        <h2>Questions or comments?<br>Talk to a human.</h2>
        <div class="form-container">
          <iframe src="https://go.pardot.com/l/139131/2017-09-19/25g6ps" scrolling="no" width="100%" type="text/html" frameborder="0" allowTransparency="true" style="border: 0; height: 850px;"></iframe>
        </div>
        <p class="gray" style="margin-top: 2.618em;">Having problems with this form? View it in its <a class="plain-underline" href="http://www2.adaptiva.com/l/139131/2016-02-09/fs72" target="_blank" rel="noopener" title="View contact form in new window">own window</a>.</p>
      </div>
    </div>
  </div>
</section>
<section class="color-block dark-black location vertical-center-row">
  <div class="content overflow">
    <div class="j-col j-col-4 tile">
      <div class="tile-content white">
        <h2 class="blue">Adaptiva Headquarters</h2>
        <p><a href="tel:4258234500">+1 (425) 823-4500</a></p>
        <p>3005 112th Ave NE, Ste. 250<br>Bellevue, WA 98004</p>
        <a href="https://goo.gl/maps/PQYGjnYKVHy" class="button" title="Open in Google Maps" target="_blank" rel="noopener">Open in Google Maps</a>
      </div>
    </div>
  </div>
  <div id="map">
  </div>
</section>
<section class="color-block dark-black">
  <div class="content centered">
    <p class="white type-big" style="margin: 0">Visit the <a href="https://support.adaptiva.com" target="_blank" rel="noopener" title="View support page">support portal</a> or <a href="https://partners.adaptiva.com" title="View support page" target="_blank" rel="noopener">partner portal</a></p>
  </div>
</section>
<section class="color-block darker-blue sales">
  <div class="content">
    <h2 class="white centered">Adaptiva Sales Team</h2>
    <div class="sales-map overflow js-scroll">
      <a href="javascript:void(0)" class="territory js-scroll rich-helgeson" id="rich-helgeson" title="Rich Helgeson: NE &amp; Canada"></a>
      <a href="javascript:void(0)" class="territory js-scroll row-3" id="jesse-good" title="Jesse Good: APAC"></a>
      <a href="javascript:void(0)" class="territory js-scroll" id="jeffrey-day" title="Jeffrey Day: EMEA"></a>
      <a href="javascript:void(0)" class="territory js-scroll row-2" id="jesse-good" title="Jesse Good: ANZ"></a>
      <a href="javascript:void(0)" class="territory js-scroll ada-hq" id="ada-hq" title="Adaptiva Headquarters"></a>
      <a href="javascript:void(0)" class="territory js-scroll" id="jesse-good" title="Jesse Good: Western US"></a>
      <a href="javascript:void(0)" class="territory js-scroll row-1" id="jesse-good" title="Jesse Good: LATAM"></a>
      <a href="javascript:void(0)" class="territory js-scroll" id="david-sommerville" title="David Sommerville: SEC &amp; Federal Govt."></a>
      {% include svg/map.svg %}
    </div>
    <div class="sales-map-profiles">
      <div class="sales-map-profile" id="ada-hq" style="display: none;">
        <div class="js-sales-close" title="Close">
          <span></span><span></span>
        </div>
        <a class="js-prev">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <a class="js-next">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <div class="content vertical-center-row">
          <div class="j-col j-col-4 sales-map-img">
            <img src="{{"/assets/img/sales/jim-souders.png"}}" alt="Adaptiva Headquarters in Bellevue, WA" />
          </div>
          <div class="j-col j-col-7 push-1 sales-map-info">
            <h2>Jim Souders</h2>
            <h4>CEO</h4>
            <p><strong>Adaptiva Headquarters</strong><br>3005 112th Avenue NE<br>Suite 250<br>Bellevue, WA 98004</p>
            <p><a href="tel:14258234500">+1 (425) 823-4500</a></p>
          </div>
        </div>
      </div>
      <div class="sales-map-profile" id="rich-helgeson" style="display: none;">
        <div class="js-sales-close" title="Close">
          <span></span><span></span>
        </div>
        <a class="js-prev">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <a class="js-next">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <div class="content vertical-center-row">
          <div class="j-col j-col-4 sales-map-img">
            <img src="{{"/assets/img/sales/rich-helgeson.png"}}" alt="Rich Helgeson, Adaptiva" />
          </div>
          <div class="j-col j-col-7 push-1 sales-map-info">
            <h2>Rich Helgeson</h2>
            <h4>Director of Sales, NE &amp; Canada</h4>
            <p>Rich oversees the following states and territories:<br>
            ME, NY, VT, IN, NH, MI, MA, NJ, OH, WV, VA, RI, Washington DC, PA, CT<br>
            Rest of world: Canada</p>
          </div>
        </div>
      </div>
      <div class="sales-map-profile" id="jesse-good" style="display: none;">
        <div class="js-sales-close" title="Close">
          <span></span><span></span>
        </div>
        <a class="js-prev">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <a class="js-next">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <div class="content vertical-center-row">
          <div class="j-col j-col-4 sales-map-img">
            <img src="{{"/assets/img/sales/jesse-good.png"}}" alt="Jesse Good, Adaptiva" />
          </div>
          <div class="j-col j-col-7 push-1 sales-map-info">
            <h2>Jesse Good</h2>
            <h4>Sr. Account Executive, West</h4>
            <p>Jesse oversees the following states and territories:<br>
            WI, MN, IA, ND, SD, NE, MT, WY, CO, NM, ID, UT, AZ, NV, WA, OR, CA, AK, HI<br>
            Rest of world: ANZ, APAC, LATAM</p>
          </div>
        </div>
      </div>
      <div class="sales-map-profile" id="david-sommerville" style="display: none;">
        <div class="js-sales-close" title="Close">
          <span></span><span></span>
        </div>
        <a class="js-prev">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <a class="js-next">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <div class="content vertical-center-row">
          <div class="j-col j-col-4 sales-map-img">
            <img src="{{"/assets/img/sales/david-sommerville.png"}}" alt="David Sommerville, Adaptiva" />
          </div>
          <div class="j-col j-col-7 push-1 sales-map-info">
            <h2>David Sommerville</h2>
            <h4>Director of Sales, SE &amp Fed. Govt.</h4>
            <p>David oversees the following states and territories:<br>
            TX, OK , KS, MO, AK, LA, MS, AL, GA, FL, SC, NC, TN, MO, IL, KY<br>
            All Federal Government accounts</p>
          </div>
        </div>
      </div>
      <div class="sales-map-profile" id="jeffrey-day" style="display: none;">
        <div class="js-sales-close" title="Close">
          <span></span><span></span>
        </div>
        <a class="js-prev">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <a class="js-next">
          <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
        </a>
        <div class="content vertical-center-row">
          <div class="j-col j-col-4 sales-map-img">
            <img src="{{"/assets/img/sales/jeffrey-day.png"}}" alt="Jeffrey Day, Adaptiva" />
          </div>
          <div class="j-col j-col-7 push-1 sales-map-info">
            <h2>Jeffrey Day</h2>
            <h4>Sales Director, EMEA</h4>
            <p>Jeffrey oversees sales for all EMEA countries and territories</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
