---
layout: default
title: Contact Us to Learn About Endpoint Management & Security Solutions
meta: "Contact Adaptiva for a free trial, demo, or proof of concept of any of our peer-to-peer, modern endpoint
management products including OneSite, Windows 10 Deployment Accelerator, and Client Health."
bodyclass: contact
map: true
js:
- "contact.js"
redirect_from: "/contact-us"
---
<section class="hero" id="hero-contact">
    <div class="content hero-content">
        <h1 class="white">Contact Us</h1>
    </div>
</section>
<section class="color-block lighter-gray">
    <div class="flex flex-row flex-justify-center">
        <div class="flex mr-xl">
            <div class="">
                <h2 class="centered">General or Sales Questions</h2>
                <div class="j-row centered">
                    <a href="#gen-sales" class="button">Contact Adaptiva</a>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="">
                <h2 class="centered">Technical Support</h2>
                <div class="j-row centered">
                    <a href="https://adaptiva.com/support/" class="button" title="View support page" target="_blank"
                        rel="noopener">Get Support</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="color-block dark-black location vertical-center-row">
    <div class="content overflow">
        <div class="j-col j-col-4 tile">
            <div class="tile-content white">
                <h2 class="blue">Adaptiva Headquarters</h2>
                <p><a href="tel:4258234500">+1 (425) 823-4500</a></p>
                <p>4010 Lake Washington Blvd NE, Suite 200<br>Kirkland, WA 98033</p>
                <a href="https://goo.gl/maps/MLAghuCY5922" class="button" title="Open in Google Maps" target="_blank"
                    rel="noopener">Open in Google Maps</a>
            </div>
        </div>
    </div>
    <div id="map">
    </div>
</section>
<section class="color-block lighter-gray">
    <div class="content">
        <h2 id="gen-sales" class="centered">General or Sales Questions</h2>
		<p class="text-center">Let us know how to reach you and what topic you are interested in, and one of our experts will get back to you shortly.</p>
		<div class="contact-form-container">
			<iframe src="https://www2.adaptiva.com/l/139131/2017-09-19/25g6ps" width="100%" height="1000" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
		</div>
    </div>
</section>
<section class="color-block darker-blue sales">
    <div class="content">
        <h2 class="white centered">Adaptiva Sales Team</h2>
        <div class="sales-map overflow js-scroll">
            <a href="javascript:void(0)" data-territory="jeffrey-day" class="territory js-scroll ada-hq" id="row-3" title="Jeffrey Day"></a>
            <a href="javascript:void(0)" data-territory="jeffrey-day" class="territory js-scroll jeffrey-day" id="jeffrey-day" title="Jeffrey Day: EMEA"></a>
            <a href="javascript:void(0)" data-territory="david-sommerville" class="territory js-scroll david-sommerville" id="row-2" title="David Sommerville: ANZ"></a>
            <a href="javascript:void(0)" data-territory="ada-hq" class="territory js-scroll ada-hq" id="ada-hq" title="Adaptiva Headquarters"></a>
            <a href="javascript:void(0)" data-territory="yong-kok-kee" class="territory js-scroll yong-kok-kee" id="row-1" title="yong-kok-kee"></a>
            <a href="javascript:void(0)" data-territory="yong-kok-kee" class="territory js-scroll yong-kok-kee" id="singapore" title="Yong Kok Kee"></a>
            <a href="javascript:void(0)" data-territory="jeffrey-day" class="territory js-scroll ada-hq" id="africa" title="Jeffrey Day: Africa"></a>
            <a href="javascript:void(0)" data-territory="david-sommerville" class="territory js-scroll david-sommerville" id="david-sommerville" title="David Sommerville: SEC &amp; Federal Govt."></a>
            <a href="javascript:void(0)" data-territory="wayne-collier" class="territory js-scroll wayne-collier" id="wayne-collier" title="Wayne Collier"></a>
            <a href="javascript:void(0)" data-territory="torsten-wiedemeyer" class="territory js-scroll torsten-wiedemeyer" id="torsten-wiedemeyer" title="Torsten Wiedemeyer"></a>
            <a href="javascript:void(0)" data-territory="brian-warren" class="territory js-scroll brian-warren" id="brian-warren" title="Brian Warren"></a>
            <a href="javascript:void(0)" data-territory="jeff-canfield" class="territory js-scroll jeff-canfield" id="jeff-canfield" title="Jeff Canfield"></a>
            <a href="javascript:void(0)" data-territory="bob-goldsmith" class="territory js-scroll bob-goldsmith" id="bob-goldsmith" title="Bob Goldsmith"></a>
            <a href="javascript:void(0)" data-territory="samir-shah" class="territory js-scroll samir-shah" id="samir-shah" title="Samir Shah"></a>
            <a href="javascript:void(0)" data-territory="nicolas-ippolito" class="territory js-scroll nicolas-ippolito" id="nicolas-ippolito" title="Nicolas Ippolito"></a>
            {% include svg/map.svg %}
        </div>
        <div class="sales-map-profiles">
            <div class="sales-map-profile" id="ada-hq" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/doug-k.jpg"}}" alt="Adaptiva Headquarters in Kirkland, WA" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Doug Kennedy</h2>
                        <h4>Chief Growth Officer</h4>
                        <p><strong>Adaptiva Headquarters</strong><br>4010 Lake Washington Blvd<br>Suite 200<br>Kirkland,
                            WA 98033</p>
                        <p><a href="tel:14258234500">+1 (425) 823-4500 X208</a></p>
                        <p><a href="mailto:doug.kennedy@adaptiva.com">doug.kennedy@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            
            <div class="sales-map-profile" id="brian-warren" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <!-- <img src="{{"/assets/img/sales/rich-helgeson.png"}}" alt="Brian Warren, Adaptiva" /> -->
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Brian Warren</h2>
                        <h4>Regional Sales Manager</h4>
                        <p>Brian oversees the following states:<br>
                            KY, TN, NC, SC, GA, AL, MS, LA, FL</p>
                        <p><a href="mailto:brian.warren@adaptiva.com">brian.warren@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            <div class="sales-map-profile" id="samir-shah" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/samir-shah.png"}}" alt="Samir Shah, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Samir Shah</h2>
                        <h4>Regional Sales Manager</h4>
                        <p>Samir oversees the following states:<br>
                            CA, NV, UT, CO, AZ, NM, WA, OR, UT, MT, ID, WY</p>
                        <p><a href="mailto:samir.shah@adaptiva.com">samir.shah@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            <div class="sales-map-profile" id="bob-goldsmith" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/bob-goldsmith-circle.png"}}" alt="Bob Goldsmith, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Bob Goldsmith</h2>
                        <h4>Regional Sales Manager</h4>
                        <p>Bob oversees the following states:<br>
                            ME, NH, VT, MA, RI, CT, NY</p>
                        <p><a href="mailto:bob.goldsmith@adaptiva.com">bob.goldsmith@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            <div class="sales-map-profile" id="jeff-canfield" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <!-- <img src="{{"/assets/img/sales/jeff-canfield.png"}}" alt="Jeff Canfield, Adaptiva" /> -->
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Jeff Canfield</h2>
                        <h4>Regional Sales Manager</h4>
                        <p>Jeff oversees the following states:<br>
                            PA, NJ, DE, MD, DC, WV, VA</p>
                        <p><a href="mailto:jeff.canfield@adaptiva.com">jeff.canfield@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            <div class="sales-map-profile" id="nicolas-ippolito" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/nicolas-ippolito.png"}}" alt="Nicolas Ippolito, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Nicolas Ippolito</h2>
                        <h4>Regional Sales Manager</h4>
                        <p>Nicolas oversees the following countries:<br>
                            France,Italy,Spain &amp; Portugal</p>
                        <p><a href="mailto:nicolas.ippolito@adaptiva.com">nicolas.ippolito@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            <div class="sales-map-profile" id="wayne-collier" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/wayne-collier.png"}}" alt="Wayne Callier, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Wayne Collier</h2>
                        <h4>Regional Sales Manager</h4>
                        <p>Wayne oversees the following countries:<br>
                            UK and Ireland, Norway,Sweden, Finland, Denmark, Netherlands, Belgium, Luxembourg</p>
                        <p><a href="mailto:wayne.collier@adaptiva.com">wayne.collier@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            <div class="sales-map-profile" id="torsten-wiedemeyer" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/torsten-widemeyer.png"}}" alt="Torsten Wiedemeyer, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Torsten Wiedemeyer</h2>
                        <h4>Regional Sales Manager</h4>
                        <p>Torsten oversees the following countries:<br>
                            Germany, Austria, Switzerland, Armenia, Azerbaijan ,Albania, Bosnia and Herzegovina, Bulgaria, Croatia, Czech Republic, Estonia, Georgia, Hungary, Kazakhstan, Latvia, Lithuania, Macedonia, Poland, Republic of Kosovo, Republic of Moldova, Romania, Russia, Serbia, Slovakia, Slovenia, Ukraine, Montegro</p>
                            <p><a href="mailto:torsten.wiedemeyer@adaptiva.com">torsten.wiedemeyer@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
           
            <div class="sales-map-profile" id="david-sommerville" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/david-sommerville.png"}}" alt="David Sommerville, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>David Sommerville</h2>
                        <h4>Director of Sales</h4>
                        <p>David oversees the following states and territories:<br>
                            AK, ND, SD, MN, NE, IA, KS, MO, OK, AR, TX, HI, US Fed Govt, Australia, New Zealand, Mexico, Latin, Central & South America</p>
                        <p><a href="mailto:david.sommerville@adaptiva.com">david.sommerville@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
            <div class="sales-map-profile" id="jeffrey-day" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/jeffrey-day.png"}}" alt="Jeffrey Day, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Jeffrey Day</h2>
                        <h4>Sales Director, EMEA</h4>
                        <p>Jeffrey oversees sales for all EMEA countries and territories</p>
                        <p><a href="mailto:jeffrey.day@adaptiva.com">jeffrey.day@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
			<div class="sales-map-profile" id="yong-kok-kee" style="display: none;">
                <div class="js-sales-close" title="Close">
                    <span></span><span></span>
                </div>
                <a class="js-prev">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <a class="js-next">
                    <span href="javascript:void(0)">{% include svg/angle.svg width="26" color="white" %}</span>
                </a>
                <div class="content vertical-center-row">
                    <div class="j-col j-col-4 sales-map-img">
                        <img src="{{"/assets/img/sales/yong-kok-kee.png"}}" alt="Yong Kok Kee, Adaptiva" />
                    </div>
                    <div class="j-col j-col-7 push-1 sales-map-info">
                        <h2>Yong Kok Kee</h2>
                        <h4>Regional Sales Director, ASIA</h4>
                        <p><a href="mailto:kokkee.yong@adaptiva.com">kokkee.yong@adaptiva.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src="https://js.chilipiper.com/marketing.js" type="text/javascript"></script>
	<script>
		var leadObj = {};
		//Below is the event listener that will listen for the Pardot Events
		window.addEventListener("message", receiveMessage, false);

		function receiveMessage(event) {
			// Form data ready, update leadObj
			if (event.data && event.data.message === "PARDOT_DATA_READY" && event.data.data) {
				leadObj = event.data.data; // Update leadObj
			}
			// Form was submitted and validated, call ChiliPiper
			if (event.data && event.data.message === "PARDOT_FORM_SUCCESS") {
				// Account domain and router name are from Step #1 - no need to change it here
				ChiliPiper.submit(leadObj["CPTenantDomain"], leadObj["CPTenantRouter"], {
					map: true,
					lead: leadObj,
				});
			}
		}
	</script>
</section>
