---
layout: default
meta: "Adaptiva is a leading global provider of modern endpoint management and security solutions that empower enterprise IT teams with peer-to-peer technology"
bodyclass: home
---
<a class="hero full-screen" id="hero-homepage" href="#what-is-p2p">
  <div class="hero-content">
    <h1>Peer into the future of modern endpoint management</h1>
    <h3>Manage and secure your endpoints with unparalleled speed and at massive scale with Adaptiva peer-to-peer technology</h3>
    <span id="scroll" title="Learn more">{% include svg/arrow.svg width="26" color="blue" %}</span>
  </div>
</a>
<section class="color-block" id="what-is-p2p">
  <div class="content overflow">
    <div class="j-row">
      <div class="j-col j-col-8 push-2">
        <h2 class="blue centered js-scroll slideUp">What does the future of endpoint management look like?</h2>
      </div>
    </div>
    <div class="tertiary what-is-p2p">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected" id="smart-scaling"><span>Smart Scaling</span></li>
          <li class="tertiary-nav-item" id="network-adaptive"><span>Network Adaptive</span></li>
          <li class="tertiary-nav-item" id="zero-impact"><span>Zero Impact</span></li>
          <li class="tertiary-nav-item" id="secure-control"><span>Secure Control</span></li>
        </ul>
      </nav>
      <div class="tertiary-nav-content vertical-center-row is-visible" id="smart-scaling">
        <div class="j-col j-col-5">
          <p>Adaptiva’s smart scaling peer-to-peer architecture lets you distribute content, applications, operating systems or security updates to hundreds of thousands of devices all without the need for a complex server infrastructure.</p>
          <a href="{{"/products/" | relative_url}}" class="button" title="Learn more about the Adaptiva platform">Learn More</a>
        </div>
        <div class="j-col j-col-6 push-1">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/234765436" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" style="display:none;" id="network-adaptive">
        <div class="j-col j-col-5">
          <p>Adaptiva’s sophisticated network adaptive protocol harvests bandwidth in real-time to deliver content at the highest possible speeds, reliably, under <em>any</em> network conditions.</p>
          <a href="{{"/products/" | relative_url}}" class="button" title="Learn more about the Adaptiva platform">Learn More</a>
        </div>
        <div class="j-col j-col-6 push-1">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/234765394" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="zero-impact" style="display:none;">
        <div class="j-col j-col-5">
          <p>Adaptiva’s revolutionary caching file system harvests the free disk space on devices and combines it into a Virtual Storage Area Network (SAN). This self-managing storage system lets you perform complex actions at infinite scale with zero impact on end users or the network.</p>
          <a href="{{"/products/" | relative_url}}" class="button" title="Learn more about the Adaptiva platform">Learn More</a>
        </div>
        <div class="j-col j-col-6 push-1">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/234765452" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="secure-control" style="display:none;">
        <div class="j-col j-col-5">
          <p>Adaptiva’s real-time content delivery tools, reports, and dashboards give you the peace of mind to know you have complete visibility and control over every endpoint at any time.</p>
          <a href="{{"/products/" | relative_url}}" class="button" title="Learn more about the Adaptiva platform">Learn More</a>
        </div>
        <div class="j-col j-col-6 push-1">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/234765419" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block light-gray">
  <div class="content overflow">
    <h2 class="js-scroll slideLeft centered">Deployed on millions of seats across the globe</h2>
    <div class="tertiary customers-home">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected js-scroll slideRight" id="finance"><span>Finance</span></li>
          <li class="tertiary-nav-item js-scroll slideRight" id="government"><span>Government</span></li>
          <li class="tertiary-nav-item js-scroll slideRight" id="healthcare"><span>Healthcare</span></li>
          <li class="tertiary-nav-item js-scroll slideRight" id="retail"><span>Retail</span></li>
          <li class="tertiary-nav-item js-scroll slideRight" id="manufacturing"><span>Manufacturing</span></li>
          <li class="tertiary-nav-item js-scroll slideRight" id="utilities"><span>Utilities</span></li>
        </ul>
      </nav>
      <div class="tertiary-nav-content is-visible slideDown" id="finance">
        <div class="customer-logo">
          {% include svg/customers/customers-hsbc.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-fidelity-investments.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-suntrust.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-cibc.svg %}
        </div>
      </div>
      <div class="tertiary-nav-content slideDown" id="government" style="display:none;">
        <div class="customer-logo">
          {% include svg/customers/customers-us-army.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-aus-dod.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-usdhs.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-illinois.svg %}
        </div>
      </div>
      <div class="tertiary-nav-content slideDown" id="healthcare" style="display:none;">
        <div class="customer-logo">
          {% include svg/customers/customers-ascension-health.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-red-cross.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-providence-health.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-baylor-scott-white.svg %}
        </div>
      </div>
      <div class="tertiary-nav-content slideDown" id="retail" style="display:none;">
        <div class="customer-logo">
          {% include svg/customers/customers-adidas.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-walgreens.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-coles.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-cvs-pharmacy.svg %}
        </div>
      </div>
      <div class="tertiary-nav-content slideDown" id="manufacturing" style="display:none;">
        <div class="customer-logo">
          {% include svg/customers/customers-philips.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-nokia.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-ericsson.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-bridgestone.svg %}
        </div>
      </div>
      <div class="tertiary-nav-content slideDown" id="utilities" style="display:none;">
        <div class="customer-logo">
          {% include svg/customers/customers-t-mobile.svg %}
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-fedex.svg %}
        </div>
        <div class="customer-logo">
          <img src="{{"/assets/img/customers/customers-chevron.png"}}" alt="Chevron" title="Chevron">
        </div>
        <div class="customer-logo">
          {% include svg/customers/customers-adt.svg %}
        </div>
      </div>
    </div>
    <div class="j-col j-col-8 push-2">
      <div class="responsive-video" style="background-color: #333;">
        <iframe src="https://player.vimeo.com/video/156781386?color=ff902c" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <h2 class="white js-scroll slideLeft">Visit Adaptiva Academy</h2>
    <div class="j-col j-col-6 push-3">
      <p class="white js-scroll fadeIn">Discover dozens of free resources on important endpoint security and management topics including Microsoft System Center Configuration Manager, Windows 10, and much more.</p>
      <a href="{{"/academy/" | relative_url }}" class="button white js-scroll slideUp">Get Free Stuff</a>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered js-scroll slideUp">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.academy | sort: 'date' | reverse %}
      {% for post in site.data.insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
