---
layout: default
title: Products
meta: Information on Adaptiva's products, built on a revolutionary P2P platform. Learn more about Adaptiva OneSite, Client Health, Windows 10, and Green Planet.
bodyclass: products
---
<section class="hero" id="hero-products">
  <div class="content hero-content">
    <h1>{{page.title}}</h1>
    <p class="type-big white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam, incidunt quaerat rem, error eveniet reprehenderit</p>
  </div>
</section>
<section class="color-block white products">
  <div class="content">
    <h2 class="blue centered">What do you want to do?</h2>
    <div class="tertiary">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected" id="windows-10">Deploy Windows 10</li>
          <li class="tertiary-nav-item" id="software-distribution">Speed Software Distribution</li>
          <li class="tertiary-nav-item" id="security">Lock Down Endpoint Health &amp; Security</li>
          <li class="tertiary-nav-item" id="wake-on-lan">Optimize Wake-on-LAN</li>
        </ul>
      </nav>
      <div class="tertiary-nav-content vertical-center-row is-visible" id="windows-10">
        <div class="slider">
          <div class="slider-dots">
            <span class="slider-dot is-selected" id="windows-10-overview"></span>
            <span class="slider-dot" id="windows-10-features"></span>
            <span class="slider-dot" id="windows-10-comparison"></span>
            <span class="slider-dot" id="windows-10-roi"></span>
          </div>
          <div class="slides">
            <div class="slide is-visible" id="windows-10-overview">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>ROI</span>
              </div>
              <div class="slider-arrow next">
                <span>Features</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-overview vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="black">Overview</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum hic, illum quam ullam exercitationem sit id commodi quo voluptas reiciendis fugit maiores optio totam assumenda minima perferendis eaque vero eos aperiam laudantium incidunt modi at vel esse.</p>
                  <a href="#0" class="button">Download Windows 10 Brochure</a>
                </div>
                <div class="j-col j-col-6 product-overview-video">
                  <div class="responsive-video" style="background: #333;"></div>
                </div>
              </div>
            </div>

            <div class="slide" id="windows-10-features" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Overview</span>
              </div>
              <div class="slider-arrow next">
                <span>Comparison</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-features vertical-center-row">
                <div class="j-col j-col-6 wrap product-features-txt">
                  <h3 class="black">Features</h3>
                  <div class="j-col j-col-6 product-feature-item">
                    <span class="product-feature-name">Feature</span>
                    <p>Cumque ex nihil fugiat dolorem, tenetur quae nostrum.</p>
                  </div>
                  <div class="j-col j-col-6 product-feature-item">
                    <span class="product-feature-name">Feature</span>
                    <p>Eveniet facilis, explicabo cupiditate impedit error, ipsam sapiente!</p>
                  </div>
                  <div class="j-col j-col-6 product-feature-item">
                    <span class="product-feature-name">Feature</span>
                    <p>Illum cum aut nobis. Optio, cupiditate beatae eos!</p>
                  </div>
                  <div class="j-col j-col-6 product-feature-item">
                    <span class="product-feature-name">Feature</span>
                    <p>Dicta perferendis harum accusamus inventore est tempora voluptatum?</p>
                  </div>
                  <div class="j-col j-col-6 product-feature-item">
                    <span class="product-feature-name">Feature</span>
                    <p>Expedita minus quidem error reiciendis et placeat id.</p>
                  </div>
                  <div class="j-col j-col-6 product-feature-item">
                    <span class="product-feature-name">Feature</span>
                    <p>Odit esse, ipsum. Totam sed dolore voluptatibus dolorum.</p>
                  </div>
                </div>
                <div class="j-col j-col-6 product-features-video">
                  <div class="responsive-video" style="background: #333;"></div>
                </div>
              </div>
            </div>

            <div class="slide" id="windows-10-comparison" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Features</span>
              </div>
              <div class="slider-arrow next">
                <span>ROI</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-comparison vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="black">Comparison</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum hic, illum quam ullam exercitationem sit id commodi quo voluptas reiciendis fugit maiores optio totam assumenda minima perferendis eaque vero eos aperiam laudantium incidunt modi at vel esse.</p>
                  <a href="#0" class="button">Download Competitive Matrix</a>
                </div>
                <div class="j-col j-col-6 product-comparison-video">
                  <div class="responsive-video" style="background: #333;"></div>
                </div>
              </div>
            </div>

            <div class="slide" id="windows-10-roi" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Comparions</span>
              </div>
              <div class="slider-arrow next">
                <span>Overview</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-roi vertical-center-row">
                <div class="j-col j-col-6 wrap product-roi-txt">
                  <h3 class="black">ROI</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam necessitatibus voluptatibus, corrupti voluptatum, ipsum deleniti corporis perferendis vitae et, ea harum sapiente reiciendis ipsam.</p>
                </div>
                <div class="j-col j-col-6 product-roi-form">
                  <div class="responsive-video" style="background: #333;"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="software-distribution">

      </div>
      <div class="tertiary-nav-content vertical-center-row" id="security">

      </div>
      <div class="tertiary-nav-content vertical-center-row" id="wake-on-lan">

      </div>
    </div>
  </div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <h2 class="white js-scroll slideRight">Take the Next Step</h2>
    <p class="type-big white js-scroll slideUp">See the product first-hand in a quick, 30-minute demo. Absolutely free.</p>
    <a href="#0" class="button white outline js-scroll slideLeft">Get a Demo</a>
  </div>
</section>
<section class="products-brands">
  <div class="content">
    <h1 class="white centered">Trusted by the World's Most Valuable Brands</h1>
    <div class="tertiary">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected" id="aecom">AECOM</li>
          <li class="tertiary-nav-item" id="skanska">Skanska</li>
          <li class="tertiary-nav-item" id="alere">Alere</li>
        </ul>
      </nav>
      <div class="tertiary-nav-content is-visible slideRight vertical-center-row" id="aecom">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/168128128?color=ff902c" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit officia, beatae dolor magnam commodi eum repudiandae.</p>
        </div>
      </div>
      <div class="tertiary-nav-content slideRight vertical-center-row" id="skanska" style="display: none;">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/153144512?color=ff902c" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi, suscipit enim voluptate maxime. Corporis, officiis, deserunt.</p>
        </div>
      </div>
      <div class="tertiary-nav-content slideRight vertical-center-row" id="alere" style="display: none;">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/187217690" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aspernatur odio, consequatur sit cumque perferendis.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block dark-black centered">
  <a href="#0" class="content">
    <h2 class="white" style="margin: 0;">Check us out on Gartner Peer Reviews <span class="link-arrow">{% include svg/arrow.svg color="orange" width="26" %}</span></h2>
  </a>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered js-scroll slideUp blue">Product Insights</h2>
    <div class="grid-container">
      <a class="j-col j-col-4 insights-article tile js-scroll" href="#0">
        <div class="tile-content white">
          <div class="insights-article-img">
            <img src="http://placehold.it/760x507">
          </div>
          <p class="insights-article-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illum necessitatibus, soluta sit nihil maxime iste iusto voluptatem impedit vel?</p>
          <span href="#0" class="button">Read More</span>
        </div>
      </a>
      <a class="j-col j-col-4 insights-article tile js-scroll" href="#0">
        <div class="tile-content white">
          <div class="insights-article-img">
            <img src="http://placehold.it/760x507">
          </div>
          <p class="insights-article-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illum necessitatibus, soluta sit nihil maxime iste iusto voluptatem impedit vel?</p>
          <span href="#0" class="button">Read More</span>
        </div>
      </a>
      <a class="j-col j-col-4 insights-article tile js-scroll" href="#0">
        <div class="tile-content white">
          <div class="insights-article-img">
            <img src="http://placehold.it/760x507">
          </div>
          <p class="insights-article-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illum necessitatibus, soluta sit nihil maxime iste iusto voluptatem impedit vel?</p>
          <span href="#0" class="button">Read More</span>
        </div>
      </a>
    </div>
  </div>
</section>
