---
title: Adaptiva Brand Assets
meta: Free, high res and vector downloads of Adaptiva's logos and other brand assets
layout: default
---
<section class="hero" id="brand">
  <div class="content hero-content">
    <h1 class="white" style="font-size: 3rem; margin: 0;">Adaptiva Brand Assets</h2>
  </div>
</section>
<section class="brand-assets" style="padding: 1.681rem;">
  <div class="content">
    <div class="j-col j-col-12">

      <h2 style="color: #0860b8; margin-top: 2.681rem;">The Adaptiva Logo</h2>
        <div class="grid-container">
          {% for asset in site.data.assets %}
          {%if asset.for contains 'Adaptiva Logo'%}
          <div class="j-col j-col-6" style="padding: 2rem;">
          <a class="brand-asset {% if asset.class %}{{asset.class}}{% endif %}" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank"><img src="{{site.baseurl}}/assets/downloads/{{asset.svg}}"></a>
          <h4>{{asset.title}}</h4>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank">SVG</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.eps}}" title="Download EPS" target="_blank">EPS</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.png}}" title="Download PNG" target="_blank">PNG</a>
          {% if asset.jpg %}
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.jpg}}" title="Download JPG" target="_blank">JPG</a>
          {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <a class="button purple" style="margin-top: 1.681rem;" href="{{"/assets/downloads/adaptiva-logos.zip" | relative_url}}" target="_blank">Download All Company Logos</a>
        <h2 style="color: #0860b8; margin-top: 2.681rem;">OneSite Logo</h2>
          <div class="grid-container">
          {% for asset in site.data.assets %}
          {%if asset.for contains 'onesite'%}
          <div class="j-col j-col-6" style="padding: 2rem;">
          <a class="brand-asset {% if asset.class %}{{asset.class}}{% endif %}" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank"><img src="{{site.baseurl}}/assets/downloads/{{asset.svg}}"></a>
          <h4>{{asset.title}}</h4>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank">SVG</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.eps}}" title="Download EPS" target="_blank">EPS</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.png}}" title="Download PNG" target="_blank">PNG</a>
          {% if asset.jpg %}
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.jpg}}" title="Download JPG" target="_blank">JPG</a>
          {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <a class="button purple" style="margin-top: 1.681rem;" href="{{"/assets/downloads/onesite-logos.zip" | relative_url}}" target="_blank">Download All OneSite Logos</a>
        <h2 style="color: #0860b8; margin-top: 2.681rem;">Windows 10 Accelerator Program (W10AP) Logo</h2>
          <div class="grid-container">
          {% for asset in site.data.assets %}
          {%if asset.for contains 'w10ap'%}
          <div class="j-col j-col-6" style="padding: 2rem;">
          <a class="brand-asset {% if asset.class %}{{asset.class}}{% endif %}" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank"><img src="{{site.baseurl}}/assets/downloads/{{asset.svg}}"></a>
          <h4>{{asset.title}}</h4>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank">SVG</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.eps}}" title="Download EPS" target="_blank">EPS</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.png}}" title="Download PNG" target="_blank">PNG</a>
          {% if asset.jpg %}
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.jpg}}" title="Download JPG" target="_blank">JPG</a>
          {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <a class="button purple" style="margin-top: 1.681rem;" href="{{"/assets/downloads/w10ap-logos.zip" | relative_url}}" target="_blank">Download All W10AP Logos</a>
        <h2 style="color: #0860b8; margin-top: 2.681rem;">Client Health Logo</h2>
          <div class="grid-container">
          {% for asset in site.data.assets %}
          {%if asset.for contains 'client-health'%}
          <div class="j-col j-col-6" style="padding: 2rem;">
          <a class="brand-asset {% if asset.class %}{{asset.class}}{% endif %}" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank"><img src="{{site.baseurl}}/assets/downloads/{{asset.svg}}"></a>
          <h4>{{asset.title}}</h4>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank">SVG</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.eps}}" title="Download EPS" target="_blank">EPS</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.png}}" title="Download PNG" target="_blank">PNG</a>
          {% if asset.jpg %}
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.jpg}}" title="Download JPG" target="_blank">JPG</a>
          {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div> 
        <a class="button purple" style="margin-top: 1.681rem;" href="{{"/assets/downloads/client-health-logos.zip" | relative_url}}" target="_blank">Download All Client Health Logos</a>
        <h2 style="color: #0860b8; margin-top: 2.681rem;">Evolve VM Logo</h2>
          <div class="grid-container">
          {% for asset in site.data.assets %}
          {%if asset.for contains 'evolve-vm'%}
          <div class="j-col j-col-6" style="padding: 2rem;">
          <a class="brand-asset {% if asset.class %}{{asset.class}}{% endif %}" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank"><img src="{{site.baseurl}}/assets/downloads/{{asset.svg}}"></a>
          <h4>{{asset.title}}</h4>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.svg}}" title="Download SVG" target="_blank">SVG</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.eps}}" title="Download EPS" target="_blank">EPS</a>
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.png}}" title="Download PNG" target="_blank">PNG</a>
          {% if asset.jpg %}
          <a class="file-type" href="{{site.baseurl}}/assets/downloads/{{asset.jpg}}" title="Download JPG" target="_blank">JPG</a>
          {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <a class="button purple" style="margin-top: 1.681rem;" href="{{"/assets/downloads/evolve-vm-zip.zip" | relative_url}}" target="_blank">Download All Evolve VM Logos</a>
        <h2 style="color: #0860b8; margin-top: 2.681rem;">Typefaces</h2>
        <div class="j-row">
          <div class="j-col j-col-4">
            <h3>Museo Sans</h3>
            <a class="button purple" style="margin-top: 1.681rem;" href="https://adaptiva.sharepoint.com/TeamSite/_layouts/15/guestaccess.aspx?guestaccesstoken=yTHM1%2fQlAcIbS1kR7KYRRgkQr705Xt%2bCttF6sUu9FFU%3d&docid=2_06a1aa600a6034692a03527d209874aca&rev=1" title="Download" target="_blank">Download Museo Sans</a>
          </div>
          <div class="j-col j-col-4">
            <h3>FUTURA PT</h3>
            <a class="button purple" style="margin-top: 1.681rem;" href="https://adaptiva.sharepoint.com/TeamSite/_layouts/15/guestaccess.aspx?guestaccesstoken=CcM8TTzBiy4rXmLZn8hLphbTdQ87lA5TkmdVV3xDQ6U%3d&docid=2_046a91b6abc2347418d8104185d32db0c&rev=1" target="_blank" title="Download">Download Futura PT</a>
          </div>
          <div class="j-col j-col-4">
            <h3>Download all fonts</h3>
            <a class="button purple" style="margin-top: 1.681rem;" href="https://adaptiva.sharepoint.com/TeamSite/_layouts/15/guestaccess.aspx?guestaccesstoken=98fQQ%2fBDEeUzjRftY1mssxJ2Q0TI%2bYoM5nGeGcrEL0Q%3d&docid=2_077fd491fba314732a26a5d1a539a9d0c&rev=1" title="Download" target="_blank">Download all fonts</a>
          </div>
        </div>
      </div>
</section>
