---
layout: default
title: Endpoint Management & Security Resources for Enterprise IT
meta: "Explore our curated library of free resources and educational materials for Microsoft Systems Center ConfigMgr administrators. Find webinars, podcasts, case studies and more to help you streamline enterprise IT security and management."
backtotop: true
bodyclass: academy
redirect_from:
  - "/sccm-academy/"
  - "/case-studies/"
  - "/tnt-uses-onesite-to-streamline-sccm-infrastructure/"
js:
  - "academy.js"
---
<section class="hero" id="hero-academy">
  <div class="content hero-content">
    <h1>Adaptiva Academy</h1>
    <div class="academy-dropdown j-col j-col-6 push-3">
      <select name="academy" id="academy">
        <option value="all">All Resources</option>
        <option value="podcast">Podcasts</option>
        <option value="video">Videos</option>
        <option value="webinar">Webinars</option>
        <option value="report">Reports</option>
        <option value="case-study">Case Studies</option>
        <option value="product-resource">Product Resources</option>
        <option value="technology-comparison">Technology Comparisons</option>
        <option value="infographic">Infographics</option>
        <option value="tools">Tools</option>
      </select>
    </div>
  </div>
</section>
<form class="j-row academy-search">
  <div class="content">
    <div class="j-col j-col-10 academy-search-bar">
      <input id="academySearch" type="text" placeholder="Search for resources">
    </div>
    <div class="j-col j-col-2 academy-search-button">
      <button type="submit">Search</button>
    </div>
  </div>
</form>
<section class="color-block white academy">
  <div class="content grid-container">
    {% assign academy = site.data.academy | sort: 'date' | reverse %}
    {% for asset in academy %}
      <a class="j-col j-col-3 asset is-showing{% for class in asset.classes %} {{class.class}}{% endfor %}" href="{{asset.link}}" target="_blank" rel="noopener" title="{{asset.title}}">
        <div class="asset-content">
          <div class="asset-title{% if asset.img %} has-image{% endif %}" style="{% if asset.img %}background-image: url('/assets/img/academy/{{asset.img}}'); background-size: cover; backgrounbd-position: center;{% else %}background-image: url('/assets/img/academy/type/academy-{{asset.type}}.svg');{% if asset.type=='video' %}background-size: 68px;{% else %} background-size: 42px;{% endif %} background-position: bottom 1em right 1em;{% endif %}">
            <h3 class="white">{{asset.title}}</h3>
          </div>
          <span class="asset-date">{{asset.posted}}</span>
          {% for category in asset.categories %}
            <span class="asset-category">{{category.category}}</span>
          {% endfor %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <div class="j-col j-col-8 push-2">
      <h2 class="white">Learn how Adaptiva can help you automate your environment</h2>
      <p class="white">See Adaptiva's award-winning software for yourself</p>
      <a title="Get a free trial and proof-of-concept of Adaptiva software" class="button white js-trial">Get a free trial</a>
    </div>
  </div>
</section>
