---
---
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}
// Kokkaku framework
{% include scss/kokkaku/kokkaku.scss %}

// Icons
{% include scss/icons.scss %}

// Page specific styles
// ----------
// Homepage
{% include scss/homepage.scss %}

// Products
{% include scss/products.scss %}

// About
{% include scss/about.scss %}

// Careers
{% include scss/careers.scss %}

// Contact
{% include scss/contact.scss %}

// SCCM Academy
{% include scss/academy.scss %}

// Partners
{% include scss/partners.scss %}

// Support
{% include scss/support.scss %}

// Altiris
{% include scss/altiris.scss %}
