/*Adaptiva Documentation*/
/*Font*/
h1 {
  font-family: "museo-sans", sans-serif;
}
  body {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
  }
  .new-toc .ui-toc-tree .x-tree-node .lct-1 a span.ltxt1 {
    color: #041d39!important;
    font-weight: 700;
    font-size: 16px;
    font-family: "museo-sans", sans-serif;
}
/*Header*/
.head_content img {
    max-width: 150px;
}
/*Side Nav */
.new-toc .x-tree-node .x-tree-selected {
    background-color: #0860b8;
}
.new-toc .x-tree-node .x-tree-selected .lct-1 a span.ltxt1 {
    color: #fff !important;
}
/*Paragraph Bottom Margin*/
#ui-main-tab p {
      margin-bottom: 1.6em;
}
/*Add New Button*/
.ux-orange-button {
    background-color: #0860b8!important;
    height: 25px;
    width: 128px!important;
    margin-bottom: 2px;
    padding: 0 14px;
    font-family: "museo-sans", sans-serif;
    border-radius: 0px;
    background-color: #0860b8!important;
    color: #fff!important;
    font-size: 15px!important;
  }
  .x-tree-node {
    color: #fff;
  }
  .x-dd-drag-ghost {
      color: #fff;
      background-color: #fff;
  }
/*Search Input*/
.hiq-t .searchInput.txt_srch {
    border-radius: 0 !important;
}
/*Close sidebar*/
.x-layout-split-west .x-layout-mini,
.x-layout-cmini-west .x-layout-mini {
    top: 2%!important;
}
/*Adaptiva Logo*/
#logo_cust img {
    max-height: 48px;
    width: 250px;
}
#helpiq-header .x-toolbar .x-form-field-wrap {
    overflow: visible !important;
    position: relative;
    top: -84px;
}
.hiq-t {
    padding: 0;
    margin: 0;
}
/*Top Search Bar*/
.ext-strict #helpiq-header .ui-se-txt {
    border-radius: 0;
}
/*Log out button*/
#login {
    font-size: 10px;
    position: relative;
    top: 50;
}
/*Create your own Knowlege Base*/
.ui-poweredby-kb {
  display: none;
}
/*Was this inforamtion helpful?*/
.ui-fb-btns td.x-btn-mc {
    border-radius: 0;
    padding: 5px 17px!important;
}
#ui-main-tab p {
    margin-bottom: 1.6em;
}
.x-panel-body {
    border-color: #99bbe8;
    background-color: transparent;
}
.hiq-t {
    min-height: 0;
}
/*Home Search Input Text*/
.hiq-t h1 {
    font-family: "museo-sans" sans-serif;
    font-size: 2.75em;
    font-weight: 300;
    line-height: 0;
    padding-bottom: 25px;
}
.hiq-t form {
    position: relative;
    top: 25%;
}
/*Adaptiva Documentation*/
/*Font*/
h1 {
  font-family: "museo-sans", sans-serif;
}
  body {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
  }
  .new-toc .ui-toc-tree .x-tree-node .lct-1 a span.ltxt1 {
    color: #041d39!important;
    font-weight: 700;
    font-size: 16px;
    font-family: "museo-sans", sans-serif;
}
/*Header*/
.head_content img {
    max-width: 150px;
}
/*Side Nav */
.new-toc .x-tree-node .x-tree-selected {
    background-color: #0860b8;
}
.new-toc .x-tree-node .x-tree-selected .lct-1 a span.ltxt1 {
    color: #fff !important;
}
/*Paragraph Bottom Margin*/
#ui-main-tab p {
      margin-bottom: 1.6em;
}
/*Add New Button*/
.ux-orange-button {
    background-color: #0860b8!important;
    height: 25px;
    width: 128px!important;
    margin-bottom: 2px;
    font-size: 15px!important;
    padding: 0 14px;
    font-family: "museo-sans", sans-serif;
}
.ux-orange-button button {
    background-color: #0860b8!important;
    color: #fff!important;
    font-size: 15px!important;
  }
  .x-tree-node {
    color: #fff;
  }
  .x-dd-drag-ghost {
      color: #fff;
      background-color: #fff;
  }
/*Search Input*/
.hiq-t .searchInput.txt_srch {
    border-radius: 0 !important;
}
/*Close sidebar*/
.x-layout-split-west .x-layout-mini,
.x-layout-cmini-west .x-layout-mini {
    top: 2%!important;
}
/*Adaptiva Logo*/
#logo_cust img {
    max-height: 48px;
    width: 250px;
}
#helpiq-header .x-toolbar .x-form-field-wrap {
    overflow: visible !important;
    position: relative;
    top: -84px;
}
/*Banner*/
/*.banner {
  height: 900px !important;*/
}
.hiq-t {
    padding: 0;
    margin: 0;
}
/*Top Search Bar*/
.ext-strict #helpiq-header .ui-se-txt {
    border-radius: 0;
}
/*Log out button*/
#login {
    font-size: 10px;
    position: relative;
    top: 50;
}
/*Create your own Knowlege Base*/
.ui-poweredby-kb {
  display: none;
}
/*Was this inforamtion helpful?*/
.ui-fb-btns td.x-btn-mc {
    border-radius: 0;
    padding: 5px 17px!important;
}
#ui-main-tab p {
    margin-bottom: 1.6em;
}
.x-panel-body {
    border-color: #99bbe8;
    background-color: transparent;
}
.hiq-t {
    min-height: 0;
}
/*Home Search Input Text*/
.hiq-t h1 {
    font-family: "museo-sans" sans-serif;
    font-size: 2.68em;
    font-weight: 300;
    line-height: 1em;
    padding-bottom: 25px;
    padding-top: 25px;
}
.banner h1 {
    position: relative;
    top: 25%;
    font-size: 2.68em;
}
.banner + p {
  display: none;
}
/*Paragraph top padding*/
#ui-main-tab p {
    margin-bottom: 1.6em;
    /*margin-top: -15px;*/
}
.x-panel-bwrap {
  height: 100%;
}
.new-toc #ui-main-tab .x-tab-panel-body-top {
    padding: 0;
    overflow: visible !important;
    height: 100%;
}
.x-tab-panel-body x-tab-panel-body-noborder x-tab-panel-body-top {
  width: 1037px;
  /*height: 780px;*/
}
  /*#home div {
  background-color: transparent;
}*/
  #home {
  background-image: radial-gradient(circle farthest-side at right top, #0860b8, #052b55 125%);
  height: 780px;
}
/*.ui-admin-panel .ui-admin-panel-inner*/
.ui-admin-panel .ui-admin-panel-inner {
    padding: 25px;
}
.x-tab-panel-body {
    background-color: #fff;
    padding: 25px;
}
