---
layout: default
title: Endpoint Security Configuration Management
product: Client Health
meta: "Adaptiva Client Health™ is a peer-to-peer endpoint health and security engine that automatically checks the health of endpoints across an enterprise, diagnoses any configuration management problems, and fixes those issues instantly. Get a demo today."
bodyclass: client-health
js:
  - "products.js"
---
<section class="hero" id="hero-products">
  <div class="content hero-content">
    <div class="j-col j-col-6 push-3">
			<h1 class="white"><span class="product-icon">{% include svg/client-health.svg width="68" height="68" random="oa18d" %}</span> Client Health</h1>
    </div>
  </div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-row centered">
			<div class="j-col j-col-12">
				<h2 class="blue">Automate Endpoint Security</h2>
			</div>
		</div>
		<div class="j-row vertical-center-row">
			<div class="j-col j-col-6">
				<p>Today’s IT operations professionals have too many endpoints to manage and too little time to secure them. Client Health is an endpoint health and security engine that uses peer-to- peer technology to manage and secure endpoint configurations at scale. It automatically checks an endpoint’s health, diagnoses any problems, and fixes issues…instantly.</p>
				<a href="http://www2.adaptiva.com/downloads/client-health-features?_ga=2.162417788.1544815003.1520457394-417149680.1520457394" target="_blank" rel="noopener" class="button" title="Download Client Health Overview Brochure">Download Brochure</a>
			</div>
			<div class="j-col j-col-6 product-overview-video">
				<div class="responsive-video" style="border: 2px solid #eee;">
					<iframe src="https://player.vimeo.com/video/190639881" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block lighter-gray">
	<div class="content">
		<div class="j-row centered">
			<div class="j-col j-col-12">
				<h2 class="blue">Features</h2>
			</div>
		</div>
		<div class="j-row">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/smart-scaling.svg height="20" %} &nbsp;
						Smart-scaling P2P Technology
					</h3>
					<p class="gray">Drive continuous endpoint compliance and configuration management at scale</p>
					<div class="collapsible-section--content" style="display:none;">
						<div class="responsive-video" style="border: 2px solid #eee;">
							<img src="/assets/img/products/smart-scaling-p2p-technology.png" alt="Adaptiva Smart Scaling Peer-to-peer Technology">
						</div>
					</div>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/health-checks.svg height="20" %} &nbsp;
						Pre-packaged Health Checks
					</h3>
					<p class="gray">Close common security holes instantly</p>
					<div class="collapsible-section--content" style="display:none;">
						<p>Adaptiva Client Health comes with over 75 prepackaged health checks</p>
						<a href="http://www2.adaptiva.com/l/139131/2016-10-27/srxx9/139131/34988/Client_Health_Health_Check_List.pdf?_ga=2.128781132.1544815003.1520457394-417149680.1520457394" target="_blank" rel="noopener" title="Download full list of health checks" class="button">Download Health Check List</a>
					</div>
				</div>
			</div>
		</div>
		<div class="j-row">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/workflow-designer.svg height="20" %} &nbsp;
						Workflow Designer &amp; Engine
					</h3>
					<p class="gray">Create your own custom health checks without coding</p>
					<div class="collapsible-section--content" style="display:none;">
						<div class="responsive-video" style="border: 2px solid #eee;">
							<img src="/assets/img/client-health-workflow-designer-engine-wannacry.jpg" alt="Adaptiva Smart Scaling Peer-to-peer Technology">
						</div>
					</div>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/visual-reporting.svg height="20" %} &nbsp;
						Visual Reporting Engine
					</h3>
					<p class="gray">Gain instant insights on endpoint health and security success</p>
					<div class="collapsible-section--content" style="display:none;">
						<div class="responsive-video" style="border: 2px solid #eee;">
							<img src="/assets/img/client-health-visual-reporting-engine.jpg" alt="Client Health Visual Reporting Engine Screenshot">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-row">
			<h2 class="blue centered">Comparison</h2>
		</div>
		<div class="j-row vertical-center-row">
			<div class="j-col j-col-6">
				<p>Client Health is the only endpoint security product which can <strong>drive endpoint compliance</strong> and configurations at scale even in the most demanding environments, <strong>empower IT to create health checks</strong> instantly without writing a single line of code, and <strong>increase endpoint management efficiency</strong> with intelligent, self-managing automation.</p>
			</div>
			<div class="j-col j-col-6 product-comparison-video">
				<div class="responsive-video" style="border: 2px solid #eee;">
					<iframe src="https://player.vimeo.com/video/234048228" frameborder="0"></iframe>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <h2 class="white js-scroll slideRight">Take the Next Step</h2>
    <p class="type-big white js-scroll slideUp">See our products first-hand in a quick, 30-minute demo. Absolutely free.</p>
    <a class="button white js-scroll js-trial slideLeft">Get a Demo</a>
  </div>
</section>
<section class="color-block dark-black centered">
  <a href="{{"/academy/" | relative_url }}" class="content" title="Visit the Adaptiva Academy for free resources on how modern endpoint management, including Microsoft ConfigMgr tips and tricks">
    <h2 class="white" style="margin: 0;">Get more product resources <span class="link-arrow">{% include svg/arrow.svg color="orange" width="26" height="26" %}</span></h2>
  </a>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered js-scroll slideUp blue">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.insights | sort: 'date' | reverse %}
      {% for post in insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
