---
layout: default
title: Endpoint Security Configuration Management
product: Endpoint Health
meta: "Adaptiva Client Health™ is a peer-to-peer endpoint health and security engine that automatically checks the health of endpoints across an enterprise, diagnoses any configuration management problems, and fixes those issues instantly. Get a Free Trial today."
bodyclass: endpoint-health product-single
js:
  - "products.js"
redirect_from:
  - "/products/client-health/"
---

<section class="product-hero bg-cover bg-cover--center-btm">
    <div class="inner cf">
        <div class="float66 product-hero-content full-800">
            <div class="product-logo"><img src="/assets/img/products/enpoint-health-knockout.png" alt="Endpoint Health Logo"></div>
            <h1 class="white">Automate Configuration Compliance</h1>
        </div>
    </div>
    <div class="cf angle-separator"></div>
</section>
<section class="product-subhero bg-lt-grey">
    <div class="inner cf">
        <div class="float33 right full-800">
            <a id="brochure" class="download-wrap" href="https://insights.adaptiva.com/downloads/datasheets/endpoint_health_datasheet.pdf" target="blank">
                <div class="brochure-cta grad-dblue-lblue-reverse diffuse-shadow text-left">
                    <img src="/assets/img/products/onesite-vmware-edition-web-white.svg" alt="onesite vmware edition logo">
                    <h3>Product <br />Overview</h3>
                    <div class="b-mark"><img src="/assets/img/products/small-adaptive-brandmark.png"></div>
                </div>
                <p>Download Brochure</p>
            </a>
        </div>
        <div class="float66 product-subhero-text full-800">
            <p class="big-p">For most large enterprises, the majority of help desk tickets are created due to a handful of issues related to endpoint configurations – missing patches, misconfigured group policy, insufficient disk space, etc. Many of these issues have required IT staff to physically visit the endpoint to diagnose and remediate the issue – until now. </p>
            <p class="big-p">Adaptiva Endpoint Health automatically checks the conﬁguration of endpoints, diagnoses any problems, and remediates any issues. And it does this at massive scale – hundreds of thousands of endpoints – without bandwidth throttling or disrupting business processes. Endpoint Health is the fastest, most scalable solution to manage endpoint health at scale.</p>
        </div>
        
    </div>
</section>
<section class="features">
    <div class="inner">
        <h2>Features</h2>
        <div class="feature-row flex flex-align-center no-flex-800">
            <div class="w50 feature-text">
                <h3>Smart-scaling P2P Technology </h3>
                <p>Drive continuous endpoint compliance and configuration management at scale</p>
            </div>
            <div class="w50 feature-graphic image-max js-scroll slideLeft">
                <img src="/assets/img/products/smart-scaling-p2p-technology.png" alt="Adaptiva Smart Scaling Peer-to-peer Technology">
            </div>
        </div>
        <div class="feature-row flex flex-align-center row-reverse no-flex-800">
            <div class="w50 feature-text">
                <h3>Visual Reporting Engine  </h3>
                <p>Gain instant insights on endpoint health and security success.</p>
            </div>
            <div class="w50 feature-graphic image-max ">
                <img src="/assets/img/client-health-visual-reporting-engine.jpg" alt="Client Health Visual Reporting Engine Screenshot">
            </div>
        </div>
        <div class="feature-row flex flex-align-center ">
            <div class="w50 feature-text">
                <h3>Workflow Designer & Engine</h3>
                <p>Create your own custom health checks without coding</p>
            </div>
            <div class="w50 feature-graphic image-max js-scroll slideRight">
                <img src="/assets/img/client-health-workflow-designer-engine-wannacry.jpg" alt="Adaptiva Smart Scaling Peer-to-peer Technology">
            </div>
        </div>
        <div class="feature-row text-center no-flex-800">
            <div class="inline66 full-800 js-scroll slideUp">
                <h3>Pre-packaged Health Checks </h3>
                <h4>Close common security holes instantly</h4>
                <p>Adaptiva Endpoint Health comes with over 100 prepackaged health checks</p>
                <a href="https://www2.adaptiva.com/l/139131/2016-10-27/srxx9/139131/34988/Client_Health_Health_Check_List.pdf?_ga=2.128781132.1544815003.1520457394-417149680.1520457394" target="_blank" class="cta cta--alt"><div class="cta-inner">Download Health Check List</div></a>
            </div>
        </div>
    </div>
</section>
<section class="comparison grad-black-blue-vertical section-pad">
    <div class="inner">
        <h2 class="white text-center">Comparison</h2>
        <div class="flex flex-align-center center no-flex-800">
            <div class="w50">
                <p class="white">Client Health is the only endpoint security product which can drive endpoint compliance and configurations at scale even in the most demanding environments, empower IT to create health checks instantly without writing a single line of code, and increase endpoint management efficiency with intelligent, self-managing automation.</p>
            </div>
            <div class="w50">
                <div class="responsive-video" style="border: 2px solid #eee;">
                    <iframe src="https://player.vimeo.com/video/234048228" frameborder="0"></iframe>
                </div>
            </div>
        </div>
       
    </div>
</section>
<section class="bg-lt-grey recommended-content">
  <div class="content overflow">
    <h2>Recommended Content for You</h2>
    <div class="grid-container recommended-content cf">
        {% assign academy = site.data.academy | sort: 'date' | reverse %}
        {% for asset in academy limit:4 %}
            <div class="float25 half-800 asset-wrap full-500">
                <a class="asset is-showing{% for class in asset.classes %} {{class.class}}{% endfor %}" href="{{asset.link}}" target="_blank" rel="noopener" title="{{asset.title}}" data-original-index="{{forloop.index0}}">
                    <div class="asset-content diffuse-shadow">
                        <div class="asset-title grad-dblue-lblue-reverse">
                            <h3 class="white">{{asset.title}}</h3>
                            <div class="asset-btm cf">
                                <span class="res-icon">
                                    {% if asset.type=='webinar' %}
                                        <i class="fa fa-play-circle"></i> Watch
                                    {% elsif asset.type=='podcast' %}
                                        <i class="fa fa-microphone"></i> Listen to
                                    {% elsif asset.type=='document' %}
                                        <i class="fa fa-file-alt" aria-hidden="true"></i> Read
                                    {% endif %}
                                </span> 
                                {% for category in asset.categories %}
                                    {{category.category}}
                                {% endfor %}
                                <div class="right"><img src="/assets/img/products/Chevron-Right.png" alt="resource arrow"></div>
                            </div>
                            
                        </div>
                    </div>
            </a>
          </div>
        {% endfor %}
    </div>
  </div>
</section>
<section class="big-cta bg-cover bg-cover-top">
    <div class="inner text-center">
        <h2 class="white">Ready to Take the Next Step?</h2>
        <p class="grey big-p">See our products first-hand. Absolutely free.</p>
        <a class="cta cta--alt diffuse-shadow" href="https://www2.adaptiva.com/product-demo" target="_blank"><div class="cta-inner">Get a Free Trial</div></a>
    </div>
</section>
<script>
    jQuery(function(){
        $('#brochure').addClass('active');
    });
</script>

