---
layout: default
title: Endpoint Vulnerability Management
product: Evolve VM
meta: "Adaptiva Evolve VM™ is a peer-to-peer endpoint health and security engine that automatically checks the health of endpoints across an enterprise, diagnoses any configuration management problems, and fixes those issues instantly. Get a Free Trial today."
bodyclass: client-health
js:
  - "products.js"
redirect_from:
  - "/client-health/"
---
<section class="hero" id="hero-products">
  <div class="content hero-content">
    <div class="j-col j-col-6 push-3">
	<img src="/assets/downloads/evolve-vm-white-horizontal.svg"> </span>
    </div>
  </div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-row centered">
			<div class="j-col j-col-12">
				<h2 class="blue">Automate Vulnerability Management</h2>
			</div>
		</div>
		<div class="j-row vertical-center-row">
			<div class="j-col j-col-6">
        <h3>Overview</h3>
				<p>Today’s security and IT operations professionals have too many endpoints to manage and too little time to secure them. As a result, security vulnerabilities can often go days, weeks, and even months before they are repaired. Evolve VM introduces a new, rapid approach to endpoint compliance and vulnerability management that automatically detects and resolves issues at the moment it discovers them. It uses peer-to- peer technology to proactively speed time to resolution of endpoint compliance and vulnerability issues faster than any other product on the market today. </p>
				<a href="http://adaptiva.wpengine.com/images/evolve-vm-datasheet.pdf" target="_blank" rel="noopener" class="button" title="Download Evolve VM Overview Brochure">DOWNLOAD EVOLVE VM DATASHEET</a>
			</div>
			<div class="j-col j-col-6 product-overview-video">
				<div class="responsive-video" style="border: 2px solid #eee;">
					<iframe src="https://player.vimeo.com/video/320795833" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block lighter-gray">
	<div class="content">
		<div class="j-row centered">
			<div class="j-col j-col-12">
				<h2 class="blue">Features</h2>
			</div>
		</div>
		<div class="j-row">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/health-checks.svg height="20" %} &nbsp;
						Endpoint Compliance and Vulnerability Checks
					</h3>
          <p class="gray">Identify common security holes instantly</p>
					<div class="collapsible-section--content" style="display:none;">
            <img src="/assets/img/products/vulnerability-checks-bg.svg" style="max-width: 100%; padding-bottom: 1.618rem;" alt="vulnerability checks">
            <p class="gray">Evolve VM is equipped with thousands of pre-packaged endpoint health, compliance, and vulnerability checks that can be run on-demand or on a scheduled basis from the Evolve VM administrator console. These checks cover areas like security configuration checks, software, application, and operating system checks, SCAP-based guidelines, and more.</p>
					</div>
				</div>
			</div>
      <div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/smart-scaling.svg height="20" %} &nbsp;
						Real-time Remediation Actions
					</h3>
					<p class="gray">Drive continuous endpoint compliance and security at scale</p>
					<div class="collapsible-section--content" style="display:none;">
						<div class="responsive-video" style="border: 2px solid #eee;">
							<img src="/assets/img/products/evolve-vm-remediation.png" alt="Adaptiva Smart Scaling Peer-to-peer Technology">
						</div>
            <p class="gray" style="padding-top: 1.618rem;">Evolve VM delivers real-time remediation actions that can automatically run at scale to fix endpoint health, compliance, and security issues in seconds. From updating configuration settings to turning on application features, Evolve VM offers remediation actions out-of-the-box and the ability to rapidly create new ones as needed without scripting.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="j-row">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/workflow-designer.svg height="20" %} &nbsp;
						Visual Workflow Designer &amp; Engine
					</h3>
				<p class="gray">Create your own custom checks and remdediations without coding</p>
					<div class="collapsible-section--content" style="display:none;">
						<div class="responsive-video" style="border: 2px solid #eee;">
							<img src="/assets/img/client-health-workflow-designer-engine-wannacry.jpg" alt="vulnerability checks">
						</div>
            <p class="gray" style="padding-top: 1.618rem;">The Evolve VM Visual Workflow Designer and Engine grants teams the ability to create custom compliance and security checks and remediation actions in seconds without writing a single a line of code. Evolve VM administrators can use the Workflow Designer and Adaptiva’s built-in API creation capabilities to easily integrate with other third-party products for deeper customization.</p>
					</div>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/visual-reporting.svg height="20" %} &nbsp;
            Interactive Dashboard System
					</h3>
					<p class="gray">Gain instant insights on endpoint health and security success</p>
					<div class="collapsible-section--content" style="display:none;">
						<div class="responsive-video">
							<img src="/assets/img/products/evolve-reporting-3.jpg" style="max-width: 100%;" alt="Evolve VM Visual Reporting Engine Screenshot">
						</div>
            <p class="gray" style="padding-top: 1.618rem;">Evolve VM Interactive Dashboard System provides a live view of vulnerabilities and the risk level across an organization. Choose from dozens of interactive dashboards to get real-time information on which checks and remediation actions were run, their current status, success, failure, and repair rates, and trends over time.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-row">
			<h2 class="blue centered">Comparison</h2>
      </div>
      <div class="centered">
      <img src="/assets/img/products/find-fix-flex-no-text-below.svg" style="max-width: 42%;">
    </div>
    <div class="centered" style="padding-top: 1.618rem;">
    <h3 class="blue">Evolve VM is the only vulnerability management product that can</h3>
    <div class="j-col j-col-6 push-3">
      <h4 class="orange" style="margin-top: 0;">Find</h4>Identify endpoint compliance issues and security vulnerabilities at scale using P2P technology
      <h4 class="orange">Fix</h4>Automatically remediate at-risk endpoints in seconds
        <h4 class="orange">Flex</h4>Easily adapt to new corporate policies and changing security conditions without coding<p><p> Unlike traditional vulnerability management products which require time-consuming manual intervention to remediate each detected issue, Evolve VM can save teams countless hours by repairing at-risk endpoints at the exact moment it identifies them.
       </div>
		</div>
		</div>
	</div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <h2 class="white js-scroll slideRight">Take the Next Step</h2>
    <p class="type-big white js-scroll slideUp">See our products first-hand. Absolutely free.</p>
    <a href="http://www2.adaptiva.com/product-demo" class="button white js-scroll slideLeft">Get a Free Trial</a>
  </div>
</section>
<section class="color-block dark-black centered">
  <a href="{{"/academy/" | relative_url }}" class="content" title="Visit the Adaptiva Academy for free resources on how modern endpoint management, including Microsoft ConfigMgr tips and tricks">
    <h2 class="white" style="margin: 0;">Get more product resources <span class="link-arrow">{% include svg/arrow.svg color="orange" width="26" height="26" %}</span></h2>
  </a>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered js-scroll slideUp blue">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.insights | sort: 'date' | reverse %}
      {% for post in insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
