---
layout: default
title: Wake-on-LAN
product: Green Planet
meta: "Adaptiva Green Planet is an endpoint wake-up product that safeguards the enterprise by remotely turning on devices which need software updates and patches.  Green Planet enforces security policies by ensuring that computers are powered on and ready to install critical software deliveries, OS updates, and patches."
bodyclass: greenplanet product-single
js:
  - "products.js"
redirect_from:
  - "/green-planet/"
---

<section class="product-hero bg-cover bg-cover--center-btm">
    <div class="inner cf">
        <div class="float66 product-hero-content full-800">
            <div class="product-logo"><img src="/assets/img/products/green-planet-logo-knockout.png" alt="Evolve Vm Logo"></div>
            <h1 class="white">Wake-on-LAN</h1>
        </div>
    </div>
    <div class="cf angle-separator"></div>
</section>
<section class="product-subhero bg-lt-grey">
    <div class="inner cf">
        <div class="float33 right full-800">
            <a class="download-wrap" href="https://www2.adaptiva.com/l/139131/2016-11-01/t3l41/139131/35532/Green_Planet_Overview.pdf" target="blank">
                <div class="brochure-cta grad-dblue-lblue-reverse diffuse-shadow text-left">
                    <img src="/assets/img/products/onesite-vmware-edition-web-white.svg" alt="onesite vmware edition logo">
                    <h3>Product <br />Overview</h3>
                    <div class="b-mark"><img src="/assets/img/products/small-adaptive-brandmark.png"></div>
                </div>
                <p>Download Brochure</p>
            </a>
        </div>
        <div class="float66 product-subhero-text full-800">
            <p class="big-p">Peer-to- peer software distribution is quickly becoming the industry standard for delivering content on scale and without the large infrastructure investments traditionally required for systems management.</p>
            <p class="big-p">While it may seem simple, a critical component to ensuring software deployment success is making sure that computers are turned on when needed, available and ready to send or receive content.</p>
            <p class="big-p">For enterprises that want to maximize the speed and success rates associated with software deployment, Adaptiva offers Green Planet. Green Planet is an endpoint wake-up product that safeguards the enterprise by remotely turning on devices which need software updates and patches.</p>
            <p class="big-p">Green Planet empowers enterprise IT teams to enforce their security policies by ensuring that computers are powered on and ready to install critical software deliveries, OS updates, patches, and more. </p>
        </div>
        
    </div>
</section>
<section class="features">
    <div class="inner">
        <h2>Features</h2>
        <div class="flex flex-wrap">
            <div class="w50 gp-feature">
                <h3>Wake-on-LAN</h3>
                <p>Endpoint boot up capabilities</p>
            </div>
            <div class="w50 gp-feature">
                <h3>Scheduling</h3>
                <p>Built-in scheduling capabilities to specify the timing of endpoint wake-ups</p>
            </div>
            <div class="w50 gp-feature">
                <h3>OneSite Integration</h3>
                <p>Integration with the Adaptiva OneSite software distribution product for advanced reporting and customization capabilities</p>
            </div>
            <div class="w50 gp-feature">
                <h3>Auto-handling</h3>
                <p>Automatic handling of WoL magic packets with no configurations to the routed environment</p>
            </div>
        </div>
    </div>
</section>
<section class="comparison grad-black-blue-vertical section-pad">
    <div class="inner text-center">
        <div class="text-col">
            <h2 class="white">Are you ready to speed peer-to- peer software distribution through Wake-on- LAN?</h2>
            <p class="white">When used with Adaptiva OneSite™, Green Planet delivers the benefits enterprises need to maximize the speed and efficiency of their peer-to-peer software distribution process including:</p>
        </div>
        <div class="flex green-planet-benefits text-center">
            <div class="w33">
                <div class="gp-bene bg-lt-grey text-left">
                    <h3 class="green">Wake endpoints that store content locally</h3>
                    <p>Green Planet can ensure that any endpoint that is storing content locally can be powered on to share that content with its peers. This reduces WAN downloads by keeping local content highly available.</p>
                </div>
            </div>
            <div class="w33">
                <div class="gp-bene bg-lt-grey text-left">
                    <h3 class="green">Wake endpoints that need to receive software deployments</h3>
                    <p>Green Planet can ensure that any endpoint that needs to receive content can be powered on automatically and remotely.</p>
                </div>
            </div>
            <div class="w33">
                <div class="gp-bene bg-lt-grey text-left">
                    <h3 class="green">Ensure security compliance and patching success</h3>
                    <p>Green Planet can ensure that patches and software can be deployed at anytime from anywhere to protect the enterprise and drive compliance.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="bg-lt-grey recommended-content">
  <div class="content overflow">
    <h2>Recommended Content for You</h2>
    <div class="grid-container recommended-content cf">
        {% assign academy = site.data.academy | sort: 'date' | reverse %}
        {% for asset in academy limit:4 %}
            <div class="float25 half-800 asset-wrap full-500">
                <a class="asset is-showing{% for class in asset.classes %} {{class.class}}{% endfor %}" href="{{asset.link}}" target="_blank" rel="noopener" title="{{asset.title}}" data-original-index="{{forloop.index0}}">
                    <div class="asset-content diffuse-shadow">
                        <div class="asset-title grad-dblue-lblue">
                            <h3 class="white">{{asset.title}}</h3>
                            <div class="asset-btm cf">
                                <span class="res-icon">
                                    {% if asset.type=='webinar' %}
                                        <i class="fa fa-play-circle"></i> Watch
                                    {% elsif asset.type=='podcast' %}
                                        <i class="fa fa-microphone"></i> Listen to
                                    {% elsif asset.type=='document' %}
                                        <i class="fa fa-file-alt" aria-hidden="true"></i> Read
                                    {% endif %}
                                </span> 
                                {% for category in asset.categories %}
                                    {{category.category}}
                                {% endfor %}
                                <div class="right"><img src="/assets/img/products/Chevron-Right.png" alt="resource arrow"></div>
                            </div>
                            
                        </div>
                    </div>
            </a>
          </div>
        {% endfor %}
    </div>
  </div>
</section>
<section class="big-cta bg-cover bg-cover-top">
    <div class="inner text-center">
        <h2 class="white">Ready to Take the Next Step?</h2>
        <p class="white">See our products first-hand. Absolutely free.</p>
        <a class="cta cta--alt diffuse-shadow" href="/products/"><div class="cta-inner">Get a Free Trial</div></a>
    </div>
</section>

<!-- OLD CONTENT -->
<section class="hero" id="hero-products">
  <div class="content hero-content">
    <div class="j-col j-col-6 push-3">
			<h1 class="white"><span class="product-icon">{% include svg/green-planet.svg width="68" height="68" random="n10xan" %}</span> Green Planet</h1>
    </div>
  </div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-row">
			<div class="j-col j-col-8 push-2">
				<h2 class="blue centered">Wake-on-LAN</h2>
				<p>Peer-to- peer software distribution is quickly becoming the industry standard for delivering content on scale and without the large infrastructure investments traditionally required for systems management.</p>
				<p>While it may seem simple, a critical component to ensuring software deployment success is making sure that computers are turned on when needed, available and ready to send or receive content.</p>
				<p>For enterprises that want to maximize the speed and success rates associated with software deployment, Adaptiva offers Green Planet. Green Planet is an endpoint wake-up product that safeguards the enterprise by remotely turning on devices which need software updates and patches.</p>
				<p>Green Planet empowers enterprise IT teams to enforce their security policies by ensuring that computers are powered on and ready to install critical software deliveries, OS updates, patches, and more.</p>
				<div class="centered">
					<a href="https://www2.adaptiva.com/l/139131/2016-11-01/t3l41/139131/35532/Green_Planet_Overview.pdf" target="_blank" rel="noopener" class="button" title="Download Green Planet Overview Brochure">Download Brochure</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block lighter-gray">
	<div class="content">
		<div class="j-row centered">
			<div class="j-col j-col-12">
				<h2 class="blue">Features</h2>
			</div>
		</div>
		<div class="grid-container">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white">
					<h3 class="blue">Wake-on-LAN</h3>
					<p>Endpoint boot up capabilities</p>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white">
					<h3 class="blue">Scheduling</h3>
					<p>Built-in scheduling capabilities to specify the timing of endpoint wake-ups</p>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white">
					<h3 class="blue">OneSite Integration</h3>
					<p>Integration with the Adaptiva OneSite software distribution product for advanced reporting and customization capabilities</p>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white">
					<h3 class="blue">Auto-handling</h3>
					<p>Automatic handling of WoL magic packets with no configurations to the routed environment</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-col j-col-10 push-1">
			<h2 class="blue centered">Are you ready to speed peer-to- peer software distribution through Wake-on- LAN?</h3>
			<p>When used with Adaptiva OneSite™, Green Planet delivers the benefits enterprises need to maximize the speed and efficiency of their peer-to-peer software distribution process including:</p>
			<div class="grid-container">
				<div class="j-col j-col-4 tile">
					<div class="tile-content lighter-gray">
						<h3 class="green">Wake endpoints that store content locally</h3>
						<p>Green Planet can ensure that any endpoint that is storing content locally can be powered on to share that content with its peers. This reduces WAN downloads by keeping local content highly available.</p>
					</div>
				</div>
				<div class="j-col j-col-4 tile">
					<div class="tile-content lighter-gray">
						<h3 class="green">Wake endpoints that need to receive software deployments</h3>
						<p>Green Planet can ensure that any endpoint that needs to receive content can be powered on automatically and remotely.</p>
					</div>
				</div>
				<div class="j-col j-col-4 tile">
					<div class="tile-content lighter-gray">
						<h3 class="green">Ensure security compliance and patching success</h3>
						<p>Green Planet can ensure that patches and software can be deployed at anytime from anywhere to protect the enterprise and drive compliance.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <h2 class="white js-scroll slideRight">Take the Next Step</h2>
    <p class="type-big white js-scroll slideUp">See our products first-hand. Absolutely free.</p>
    <a href="https://www2.adaptiva.com/product-demo" class="button white js-scroll slideLeft">Get a Free Trial</a>
  </div>
</section>
<section class="color-block dark-black centered">
  <a href="{{"/academy/" | relative_url }}" class="content" title="Visit the Adaptiva Academy for free resources on how modern endpoint management, including Microsoft ConfigMgr tips and tricks">
    <h2 class="white" style="margin: 0;">Get more product resources <span class="link-arrow">{% include svg/arrow.svg color="orange" width="26" height="26" %}</span></h2>
  </a>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered js-scroll slideUp blue">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.insights | sort: 'date' | reverse %}
      {% for post in insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
