---
layout: default
title: Endpoint Management & Security Products for Enterprise IT
meta: "Adaptiva's products are built on a revolutionary peer-to-peer platform that empowers enterprise IT administrators with solutions like OneSite, Client Health, and the Windows 10 Accelerator Program."
bodyclass: products
js:
  - "products.js"
redirect_from:
  - "/suite/"
---
<section class="hero" id="hero-products">
  <div class="content hero-content">
    <h1>Products</h1>
    <p class="type-big white">Discover the world’s most trusted endpoint management and security products</p>
  </div>
</section>
<section class="color-block white products">
  <div class="content">
    <h2 class="blue centered">What do you want to do?</h2>
    <div class="tertiary">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected"><a href="#onesite">Speed Software Distribution</a></li>
          <li class="tertiary-nav-item"><a href="#windows-10">Deploy Windows 10</a></li>
          <li class="tertiary-nav-item"><a href="#client-health">Automate Endpoint Security</a></li>
        </ul>
      </nav>
      <div class="tertiary-nav-content is-visible vertical-center-row" id="onesite">
        <div class="slider">
          <div class="slider-dots">
            <span class="slider-dot is-selected" id="sw-dist-overview" title="Overview"></span>
            <span class="slider-dot" id="sw-dist-features" title="Features"></span>
            <span class="slider-dot" id="sw-dist-comparison" title="Comparison"></span>
            <span class="slider-dot" id="sw-dist-demo" title="Get a Free Trial"></span>
          </div>
          <div class="slides">

            <div class="slide is-visible" id="sw-dist-overview">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Demo</span>
              </div>
              <div class="slider-arrow next">
                <span>Features</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-overview vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="black"><span class="product-icon">{% include svg/onesite.svg width="26" height="26" random="k18fa" %}</span> OneSite</h3>
                  <p>The Adaptiva OneSite content distribution engine securely speeds enterprise-wide software deployments with its breakthrough peer-to-peer technology. Now you can reliably distribute any software at unparalleled speed and massive scale without the need for costly server investments, bandwidth throttling, or time-consuming manual efforts.</p>
                  <a href="http://www2.adaptiva.com/l/139131/2016-04-15/6s9hh/139131/9648/OneSite_Product_Overview.pdf" class="button" target="_blank" rel="noopener" title="Download OneSite Overview Brochure">Download OneSite Brochure</a>
                </div>
                <div class="j-col j-col-6 product-overview-video">
                  <div class="responsive-video" style="background: #333;">
                    <iframe src="https://player.vimeo.com/video/129049313?color=ff9933" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide" id="sw-dist-features" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Overview</span>
              </div>
              <div class="slider-arrow next">
                <span>Comparison</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-features vertical-center-row">
                <div class="j-col j-col-6 wrap product-features-txt">
                  <h3 class="blue">Features</h3>
                  <div class="grid-container">
                    <div class="product-feature-item vertical-center-row is-selected" id="memory-pipeline-architecture" title="Eliminate IT infrastructure costs with peer-to-peer software distribution">
                      <div class="product-feature-icon">
                        {% include svg/features/memory-pipeline-architecture.svg %}
                      </div>
                      <span class="product-feature-name">Memory Pipeline Architecture</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="virtual-san" title="Intelligently store content at infinite scale without user or device impacts">
                      <div class="product-feature-icon">
                        {% include svg/features/virtual-san.svg %}
                      </div>
                      <span class="product-feature-name">Virtual SAN</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="predictive-bandwidth-harvesting" title="Maximize delivery speed while protecting the network">
                      <div class="product-feature-icon">
                        {% include svg/features/predictive-bandwidth-harvesting.svg %}
                      </div>
                      <span class="product-feature-name">Predictive Bandwidth Harvesting</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="liveflow" title="Gain real-time visibility and control over content">
                      <div class="product-feature-icon">
                        {% include svg/features/liveflow.svg %}
                      </div>
                      <span class="product-feature-name">LiveFlow</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="workflow-designer-engine" title="Learn more in the Workflow Designer &amp; Engine Datasheet">
                      <div class="product-feature-icon">
                        {% include svg/features/workflow-designer.svg %}
                      </div>
                      <span class="product-feature-name">Workflow Designer &amp; Engine</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="p2p-pxe" title="Automate Windows OS deployments without tedious configuration work">
                      <div class="product-feature-icon">
                        {% include svg/features/p2p-pxe.svg %}
                      </div>
                      <span class="product-feature-name">P2P PXE</span>
                    </div>
                  </div>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="memory-pipeline-architecture">
                  <script src="https://fast.wistia.com/embed/medias/j0knkj1rfa.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0knkj1rfa videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                  <p>Eliminate IT infrastructure costs with peer-to-peer software distribution</p>
                </div>
                <div class="j-col j-col-6 product-features-video" id="virtual-san" style="display: none;">
                  <script src="https://fast.wistia.com/embed/medias/luwd8v7u0d.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_luwd8v7u0d videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                  <p>Intelligently store content at infinite scale without user or device impacts</p>
                </div>
                <div class="j-col j-col-6 product-features-video" id="predictive-bandwidth-harvesting" style="display: none;">
                  <script src="https://fast.wistia.com/embed/medias/nmcnn0ed4a.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_nmcnn0ed4a videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                  <p>Maximize delivery speed while protecting the network</p>
                </div>
                <div class="j-col j-col-6 product-features-video" id="liveflow" style="display: none;">
                  <script src="https://fast.wistia.com/embed/medias/cbrtqn7l56.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_cbrtqn7l56 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                  <p>Gain real-time visibility and control over content</p>
                </div>
                <div class="j-col j-col-6 product-features-video" id="workflow-designer-engine" style="display: none;">
                  <div class="responsive-video text-content" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">Learn more in the Workflow Designer &amp; Engine Datasheet</h3>
                      <a href="http://www2.adaptiva.com/l/139131/2016-07-12/hjl93/139131/20082/Automation_Content_Workflow.pdf" class="button" target="_blank" rel="noopener">Download</a>
                    </div>
                  </div>
                  <p>Automate IT tasks without coding</p>
                </div>
                <div class="j-col j-col-6 product-features-video" id="p2p-pxe" style="display: none;">
                  <script src="https://fast.wistia.com/embed/medias/4k111hpxo0.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_4k111hpxo0 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                  <p>Automate Windows OS deployments without tedious configuration work</p>
                </div>
              </div>
            </div>
            <div class="slide" id="sw-dist-comparison" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Features</span>
              </div>
              <div class="slider-arrow next">
                <span>Demo</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-comparison vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="blue">Comparison</h3>
                  <p>Traditional approaches to software distribution often can be infrastructure, network, and administration intensive. OneSite’s peer-to-peer approach to software distribution eliminates the need for thousands of costly servers by doing more with the resources you already own. OneSite is the fastest way to deliver content across an enterprise today.
                  </p>
                </div>
                <div class="j-col j-col-6 product-comparison-video">
                  <div class="responsive-video text-content" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">Read our free guide on questions to ask when selecting a content distribution engine</h3>
                      <a href="http://www2.adaptiva.com/l/139131/2017-05-05/228kfg/139131/56481/Questions_to_Ask_When_Evaluating_Content_Delivery_Solutions.pdf" class="button" target="_blank" rel="noopener" title="Questions to ask when selecting a content distribution engine">Download</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide" id="sw-dist-demo" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Comparison</span>
              </div>
              <div class="slider-arrow next">
                <span>Overview</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-roi vertical-center-row">
                <div class="j-col j-col-6 product-roi-txt">
                  <h3 class="blue">Demo</h3>
                  <p>Many Adaptiva OneSite customers have experienced an immediate ROI including implementations which resulted in a <strong>99% reduction</strong> in IT infrastructure investment, <strong>5x faster</strong> content delivery times, and <strong>1000s of hours</strong> saved each year through automation.</p>
                </div>
                <div class="j-col j-col-6 product-roi-form centered">
                  <div class="responsive-video text-content" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">See for yourself how OneSite can drastically reduce costs and administrative burden</h3>
                      <a href="http://www2.adaptiva.com/product-demo" class="button" title="Get a Free Trial">Get a Free Trial</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="windows-10" style="display: none;">
        <div class="slider">
          <div class="slider-dots">
            <span class="slider-dot is-selected" id="windows-10-overview" title="Overview"></span>
            <span class="slider-dot" id="windows-10-features" title="Features"></span>
            <span class="slider-dot" id="windows-10-comparison" title="Comparison"></span>
            <span class="slider-dot" id="windows-10-demo" title="Get a Free Trial"></span>
          </div>
          <div class="slides">
            <div class="slide is-visible" id="windows-10-overview">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Demo</span>
              </div>
              <div class="slider-arrow next">
                <span>Features</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-overview vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="black"><span class="product-icon">{% include svg/windows-10.svg width="26" height="26" %}</span> Windows 10 Accelerator Program</h3>
                  <p>Adaptiva’s Windows 10 Accelerator Program provides a stress-free, cost-effective way for enterprise IT professionals to plan, test, deploy and maintain Windows 10. The program delivers an end-to- end ecosystem of all the products, tools, and training you need to speed zero-touch Windows 10 deployments at scale.</p>
                </div>
                <div class="j-col j-col-6 product-overview-video">
                  <div class="responsive-video" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">Learn more about how Adaptiva can speed and simplify Windows 10 deployments</h3>
                      <a href="http://adaptiva.wpengine.com/downloads/documents/brochure_windows_10_accelerator_program_overview.pdf" target="_blank" rel="noopener" class="button">Download Windows 10 Brochure</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide" id="windows-10-features" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Overview</span>
              </div>
              <div class="slider-arrow next">
                <span>Comparison</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-features vertical-center-row">
                <div class="j-col j-col-6 wrap product-features-txt">
                  <h3 class="blue">Features</h3>
                  <div class="grid-container">
                    <div class="product-feature-item vertical-center-row is-selected" id="windows-10-community-tools" title="Leverage best-in-class tools for automated BIOS to UEFI conversion, application migration, software license management, and more.">
                      <div class="product-feature-icon">
                        {% include svg/features/community-tools.svg %}
                      </div>
                      <span class="product-feature-name">Windows 10 Community Tools</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="windows-10-mvp" title="Get your team deployment-ready with hours of video training and guides created by leading Windows 10 experts.">
                      <div class="product-feature-icon">
                        {% include svg/features/microsoft-training.svg %}
                      </div>
                      <span class="product-feature-name">Microsoft MVP Training and Guides</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="windows-10-onesite" title="Distribute Windows 10 software and updates across the enterprise rapidly and without the need for a complex IT infrastructure.">
                      <div class="product-feature-icon">
                        {% include svg/onesite.svg width="26" height="26" random="av24z" %}
                      </div>
                      <span class="product-feature-name">Adaptiva OneSite</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="windows-10-client-health" title="Automate Windows 10 security configuration management, corporate policy compliance, and endpoint health.">
                      <div class="product-feature-icon">
                        {% include svg/client-health.svg height="26" width="26" random="nb10z" %}
                      </div>
                      <span class="product-feature-name">Adaptiva Client Health for Windows 10</span>
                    </div>
                  </div>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="windows-10-community-tools">
                  <div class="responsive-video" style="background: #333;">
                    <iframe src="https://player.vimeo.com/video/175298193?color=ff902c" frameborder="0"></iframe>
                  </div>
                  <p>Leverage best-in-class tools for automated BIOS to UEFI conversion, application migration, software license management, and more.</p>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="windows-10-mvp" style="display: none;">
                  <div class="responsive-video" style="background: #052b55;">
                    <img src="{{"/assets/img/windows-10-mvp-training.jpg"}}" alt="Microsoft Windows 10 MVP Training, Ami Casto and Mikael Nystrom">
                  </div>
                  <p>Get your team deployment-ready with hours of video training and guides created by leading Windows 10 experts.</p>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="windows-10-onesite" style="display: none;">
                  <div class="responsive-video" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">Learn more about OneSite and Windows 10 in our free Windows 10 OSD brochure</h3>
                      <a href="http://www2.adaptiva.com/l/139131/2016-05-13/b9p3k/139131/12964/Windows_10_OSD_Brochure.pdf" class="button" target="_blank" rel="noopener" title="Download brochure">Download</a>
                    </div>
                  </div>
                  <p>Distribute Windows 10 software and updates across the enterprise rapidly and without the need for a complex IT infrastructure.</p>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="windows-10-client-health" style="display: none;">
                  <div class="responsive-video text-content" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">Learn more about Client Health for Windows 10 in our free Client Health product brochure</h3>
                      <a href="https://insights.com/downloads/documents/datasheet_windows_10_health_checks.pdf" class="button" target="_blank" rel="noopener" title="Download datasheet">Download</a>
                    </div>
                  </div>
                  <p>Automate Windows 10 security configuration management, corporate policy compliance, and endpoint health.</p>
                </div>
              </div>
            </div>

            <div class="slide" id="windows-10-comparison" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Features</span>
              </div>
              <div class="slider-arrow next">
                <span>Demo</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-comparison vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="blue">Comparison</h3>
                  <p>The Windows 10 Accelerator Program minimizes the need for investments in multiple third-party products and services to make deploying Windows 10 as cost effective as possible. It delivers complimentary training, tools, and products and leverages readily available Microsoft technologies to keep your costs low.</p>
                </div>
                <div class="j-col j-col-6 product-comparison-video">
                  <div class="responsive-video text-content" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">"Adaptiva enables us to accomplish our goals with a lean, agile IT team and reduces time consuming efforts across our enterprise."</h3>
                      <p class="black">Steve Capper, Global CTO, AECOM</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide" id="windows-10-demo" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Comparison</span>
              </div>
              <div class="slider-arrow next">
                <span>Overview</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-roi vertical-center-row">
                <div class="j-col j-col-6 product-roi-txt">
                  <h3 class="blue">Demo</h3>
                  <p>See how the Windows 10 Accelerator Program can provide an immediate return on investment for your business. Free Trial today!</p>
                </div>
                <div class="j-col j-col-6 product-roi-form">
                  <div class="responsive-video text-content" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">Find out how much time and money your organization can save with the Windows 10 Accelerator Program</h3>
                      <a href="http://www2.adaptiva.com/product-demo" class="button" title="Get a Free Trial">Get a Free Trial</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="client-health" style="display: none;">
        <div class="slider">
          <div class="slider-dots">
            <span class="slider-dot is-selected" id="security-overview" title="Overview"></span>
            <span class="slider-dot" id="security-features" title="Features"></span>
            <span class="slider-dot" id="security-comparison" title="Comparison"></span>
            <span class="slider-dot" id="security-demo" title="Get a Free Trial"></span>
          </div>
          <div class="slides">
            <div class="slide is-visible" id="security-overview">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Demo</span>
              </div>
              <div class="slider-arrow next">
                <span>Features</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-overview vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="black"><span class="product-icon">{% include svg/client-health.svg width="26" height="26" random="aBn0p" %}</span> Client Health</h3>
                  <p>Today’s IT operations professionals have too many endpoints to manage and too little time to secure them. Client Health is an endpoint health and security engine that uses peer-to- peer technology to manage and secure endpoint configurations at scale. It automatically checks an endpoint’s health, diagnoses any problems, and fixes issues…instantly.</p>
                  <a href="http://www2.adaptiva.com/downloads/client-health-features" target="_blank" rel="noopener" class="button" title="Client Health Key Features Datasheet">Download Client Health Datasheet</a>
                </div>
                <div class="j-col j-col-6 product-overview-video">
                  <div class="responsive-video" style="background: #333;">
                    <iframe src="https://player.vimeo.com/video/190639881" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide" id="security-features" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Overview</span>
              </div>
              <div class="slider-arrow next">
                <span>Comparison</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-features vertical-center-row">
                <div class="j-col j-col-6 wrap product-features-txt">
                  <h3 class="blue">Features</h3>
                  <div class="grid-container">
                    <div class="product-feature-item vertical-center-row is-selected" id="security-p2p-tech" title="Drive continuous endpoint compliance and configuration management at scale">
                      <div class="product-feature-icon">
                        {% include svg/features/smart-scaling.svg %}
                      </div>
                      <span class="product-feature-name">Smart-scaling P2P Technology</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="security-health-checks" title="Close common security holes instantly">
                      <div class="product-feature-icon">
                        {% include svg/features/health-checks.svg %}
                      </div>
                      <span class="product-feature-name">Pre-packaged Health Checks</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="security-workflow" title="Create your own custom health checks without coding">
                      <div class="product-feature-icon">
                        {% include svg/features/workflow-designer.svg %}
                      </div>
                      <span class="product-feature-name">Workflow Designer &amp; Engine</span>
                    </div>
                    <div class="product-feature-item vertical-center-row" id="security-visual-reporting" title="Gain instant insights on endpoint health and security success">
                      <div class="product-feature-icon">
                        {% include svg/features/visual-reporting.svg %}
                      </div>
                      <span class="product-feature-name">Visual Reporting Engine</span>
                    </div>
                  </div>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="security-p2p-tech">
                  <div class="responsive-video" style="border: 2px solid #eee;">
                    <img src="{{"/assets/img/products/smart-scaling-p2p-technology.png"}}" alt="Adaptiva Smart Scaling Peer-to-peer Technology">
                  </div>
                  <p>Drive continuous endpoint compliance and configuration management at scale</p>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="security-health-checks" style="display: none;">
                  <div class="responsive-video" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">Adaptiva Client Health comes with over 75 prepackaged health checks</h3>
                      <a href="http://www2.adaptiva.com/l/139131/2016-10-27/srxx9/139131/34988/Client_Health_Health_Check_List.pdf" target="_blank" rel="noopener" class="button" title="Adaptiva Client Health Health Checks List Datasheet">Download Health Checks List</a>
                    </div>
                  </div>
                  <p>Close common security holes instantly</p>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="security-workflow" style="display: none;">
                  <div class="responsive-video" style="border: 2px solid #eee;">
                    <img src="{{"/assets/img/client-health-workflow-designer-engine-wannacry.jpg"}}" alt="Adaptiva Smart Scaling Peer-to-peer Technology">
                  </div>
                  <p>Create your own custom health checks without coding</p>
                </div>
                <div class="j-col j-col-6 product-features-video is-visible" id="security-visual-reporting" style="display: none;">
                  <div class="responsive-video" style="border: 2px solid #eee;">
                    <img src="{{"/assets/img/client-health-visual-reporting-engine.jpg"}}" alt="Client Health Visual Reporting Engine Screenshot">
                  </div>
                  <p>Gain instant insights on endpoint health and security success</p>
                </div>
              </div>
            </div>

            <div class="slide" id="security-comparison" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Features</span>
              </div>
              <div class="slider-arrow next">
                <span>Demo</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-comparison vertical-center-row">
                <div class="j-col j-col-6 product-overview-txt">
                  <h3 class="blue">Comparison</h3>
                  <p>Client Health is the only endpoint security product which can <strong>drive endpoint compliance</strong> and configurations at scale even in the most demanding environments, <strong>empower IT to create health checks</strong> instantly without writing a single line of code, and <strong>increase endpoint management efficiency</strong> with intelligent, self-managing automation.</p>
                </div>
                <div class="j-col j-col-6 product-comparison-video">
                  <div class="responsive-video" style="background: #333;">
                    <iframe src="https://player.vimeo.com/video/234048228" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide" id="security-demo" style="display: none;">
              <div class="slider-arrow prev">
                {% include svg/angle.svg width="20" color="blue" %}
                <span>Comparison</span>
              </div>
              <div class="slider-arrow next">
                <span>Overview</span>
                {% include svg/angle.svg width="20" color="blue" %}
              </div>
              <div class="product-roi vertical-center-row">
                <div class="j-col j-col-6 product-roi-txt">
                  <h3 class="blue">Demo</h3>
                  <p>Client Health is used by some of the largest organizations in the world to automatically run millions of daily health checks which <strong>prevent and respond</strong> to viruses and attacks (like WannaCry), <strong>check and update</strong> security settings and configurations, and <strong>analyze and resolve</strong> Windows OS issues.</p>
                </div>
                <div class="j-col j-col-6 product-roi-form">
                  <div class="responsive-video" style="background: #fff; border: 2px solid #0860b8;">
                    <div class="responsive-video-content centered">
                      <h3 class="blue">See for yourself how Client Health can streamline your endpoint security configuration management and improve system uptime</h3>
                      <a href="http://www2.adaptiva.com/product-demo" class="button" title="Get a free product demo and trial">Get a Free Trial</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block lighter-gray overflow">
  <div class="content">
    <h2 class="blue centered">Solutions</h2>
    <div class="grid-container">
      <div class="j-col j-col-4 tile">
        <div class="tile-content centered white vertical-distribute space-between">
          <div style="padding:1em;">
            {% include svg/onesite.svg width="68" height="68" random="n198v" %}
          </div>
          <h3 class="dark-gray">
            OneSite
          </h3>
          <p>Peer-to-peer content distribution engine</p>
          <a href="{{"/products/onesite/" | relative_url}}" class="button" title="Learn more about OneSite" rel="noopener">Learn More</a>
        </div>
      </div>
      <div class="j-col j-col-4 tile">
        <div class="tile-content centered white vertical-distribute space-between">
          <div style="padding:1em;">
            {% include svg/windows-10.svg width="68" height="68" random="vy18x" %}
          </div>
          <h3 class="dark-gray" style="margin-top:0;">
            Windows 10<br>Accelerator Program
          </h3>
          <p>Plan, test, deploy and maintain Windows 10</p>
          <a href="{{"/products/windows-10-accelerator-program/" | relative_url}}" class="button" title="Learn more about the Windows 10 Accelerator Program">Learn More</a>
        </div>
      </div>
      <div class="j-col j-col-4 tile">
        <div class="tile-content centered white vertical-distribute space-between">
          <div style="padding:1em;">
            {% include svg/client-health.svg width="68" height="68" random="bn156" %}
          </div>
          <h3 class="dark-gray">
            Client Health
          </h3>
          <p>Endpoint health and security engine</p>
          <a href="{{"/products/client-health/" | relative_url}}" class="button" title="Learn more about Client Health">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <h2 class="white js-scroll slideRight">Take the Next Step</h2>
    <p class="type-big white js-scroll slideUp">See our products first-hand. Absolutely free.</p>
    <a href="http://www2.adaptiva.com/product-demo" class="button white js-scroll slideLeft">Get a Free Trial</a>
  </div>
</section>
<section class="products-brands color-block">
  <div class="content">
    <h2 class="white centered type-larger">Trusted by Leading Enterprises</h2>
    <div class="tertiary">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected"><a href="#aecom">AECOM</a></li>
          <li class="tertiary-nav-item"><a href="#skanska">Skanska</a></li>
          <li class="tertiary-nav-item"><a href="#alere">Alere</a></li>
        </ul>
      </nav>
      <div class="tertiary-nav-content is-visible vertical-center-row" id="aecom">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/168128128?color=ff902c" frameborder="0"></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <div class="products-brands-logo">
            {% include svg/customers/customers-aecom.svg %}
          </div>
          <p>AECOM Global CTO Steve Capper discusses his team's success in software distribution with Adaptiva OneSite</p>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="skanska" style="display: none;">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/153144512?color=ff902c" frameborder="0"></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <div class="products-brands-logo">
            {% include svg/customers/customers-skanska.svg %}
          </div>
          <p>James Pitcher talks about how OneSite saves his team endless time and resources with powerful automation capabilities and network awareness</p>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="alere" style="display: none;">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/187217690" frameborder="0"></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <div class="products-brands-logo">
            {% include svg/customers/customers-alere.svg %}
          </div>
          <p>David Baker from Alere shares how Adaptiva helped his organization avoid a large, unwieldy ConfigMgr server infrastructure</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block dark-black centered">
  <a href="{{"/academy/" | relative_url }}" class="content" title="Visit the Adaptiva Academy for free resources on how modern endpoint management, including Microsoft ConfigMgr tips and tricks">
    <h2 class="white" style="margin: 0;">Get more product resources <span class="link-arrow">{% include svg/arrow.svg color="orange" width="26" height="26" %}</span></h2>
  </a>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered js-scroll slideUp blue">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.insights | sort: 'date' | reverse %}
      {% for post in insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
