---
layout: default
title: Peer-to-Peer Software Distribution with ConfigMgr
product: OneSite
meta: "Adaptiva OneSite™ is a peer-to-peer content distribution engine that delivers IT professionals the ability to securely and reliably deliver software, like Windows 10, across an enterprise without the need for costly server investments, bandwidth throttling, and time-consuming, manual efforts. Get a Free Trial today."
bodyclass: onesite
js:
  - "products.js"
redirect_from:
  - "/simplified-sccm-topology/"
  - "/zero-footprint-caching/"
  - "/peer-to-peer-pxe/"
  - "/virtual-state-migration-points/"
  - "/virtual-san/"
  - "/memory-pipeline-architecture/"
  - "/workflow-designer-engine/"
  - "/sccm-liveflow/"
  - "/whats-new-onesite-5-5/"
  - "/content-push/"
  - "/sccm-powershell-fusion/"
  - "/sccm-endpoint-security/"
  - "/speed/"
---
<section class="hero" id="hero-products">
  <div class="content hero-content">
    <div class="j-col j-col-6 push-3">
			<h1 class="white"><span class="product-icon">{% include svg/onesite.svg width="68" height="68" random="oa18d" %}</span> OneSite</h1>
    </div>
  </div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-row centered">
			<div class="j-col j-col-12">
				<h2 class="blue">Speed Software Distribution</h2>
			</div>
		</div>
		<div class="j-row vertical-center-row">
			<div class="j-col j-col-6">
				<p>The Adaptiva OneSite content distribution engine securely speeds enterprise-wide software deployments with its breakthrough peer-to-peer technology. Now you can reliably distribute any software at unparalleled speed and massive scale without the need for costly server investments, bandwidth throttling, or time-consuming manual efforts.</p>
				<a href="https://www2.adaptiva.com/l/139131/2016-04-15/6s9hh/139131/9648/OneSite_Product_Overview.pdf?_ga=2.104661824.1544815003.1520457394-417149680.1520457394" target="_blank" rel="noopener" class="button" title="Download OneSite Overview Brochure">Download Brochure</a>
			</div>
			<div class="j-col j-col-6 product-overview-video">
				<div class="responsive-video" style="border: 2px solid #eee;">
          <iframe src="https://fast.wistia.net/embed/iframe/efoubm5s7a" title="OneSite Overview Video" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
<script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block lighter-gray">
	<div class="content">
		<div class="j-row centered">
			<div class="j-col j-col-12">
				<h2 class="blue">Features</h2>
			</div>
		</div>
		<div class="j-row">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/memory-pipeline-architecture.svg height="20" %} &nbsp;
						Memory Pipeline Architecure
					</h3>
					<p class="gray">Eliminate IT infrastructure costs with peer-to-peer software distribution</p>
					<div class="collapsible-section--content" style="display:none;">
						<script src="https://fast.wistia.com/embed/medias/j0knkj1rfa.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="border:2px solid #eee;padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0knkj1rfa videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					</div>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/virtual-san.svg height="20" %} &nbsp;
						Virtual SAN
					</h3>
					<p class="gray">Intelligently store content at infinite scale without user or device impacts</p>
					<div class="collapsible-section--content" style="display:none;">
						<script src="https://fast.wistia.com/embed/medias/luwd8v7u0d.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="border:2px solid #eee;padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_luwd8v7u0d videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="j-row">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/predictive-bandwidth-harvesting.svg height="20" %} &nbsp;
						Predictive Bandwidth Harvesting
					</h3>
					<p class="gray">Maximize delivery speed while protecting the network</p>
					<div class="collapsible-section--content" style="display:none;">
						<script src="https://fast.wistia.com/embed/medias/nmcnn0ed4a.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="border:2px solid #eee;padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_nmcnn0ed4a videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					</div>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/liveflow.svg height="20" %} &nbsp;
						LiveFlow
					</h3>
					<p class="gray">Gain real-time visibility and control over content</p>
					<div class="collapsible-section--content" style="display:none;">
						<script src="https://fast.wistia.com/embed/medias/cbrtqn7l56.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="border:2px solid #eee;padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_cbrtqn7l56 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="j-row">
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/workflow-designer.svg height="20" %} &nbsp;
						Workflow Designer &amp; Engine
					</h3>
					<p class="gray">Automate IT tasks without coding</p>
					<div class="collapsible-section--content" style="display:none;">
						<p>Adaptiva OneSite™ gives you the ability to easily incorporate your company’s best practices and operations standards into the software distribution process. OneSite uses visual workflows to empower you to customize and standardize the procedures your teams follow to distribute content.</p>
						<a href="https://www2.adaptiva.com/l/139131/2016-07-12/hjl93/139131/20082/Automation_Content_Workflow.pdf?_ga=2.159149562.1544815003.1520457394-417149680.1520457394" target="_blank" rel="noopener" class="button">Download Brochure</a>
					</div>
				</div>
			</div>
			<div class="j-col j-col-6 tile js-scroll slideUp">
				<div class="tile-content white collapsible-section">
					<h3 class="blue collapsible-title">
						{% include svg/features/p2p-pxe.svg height="20" %} &nbsp;
						P2P PXE
					</h3>
					<p class="gray">Automate Windows OS deployments without tedious configuration work</p>
					<div class="collapsible-section--content" style="display:none;">
						<script src="https://fast.wistia.com/embed/medias/4k111hpxo0.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="border:2px solid #eee;padding:56.25% 0 0 0;position:relative;box-shadow:0 0.68em 1em -0.42em rgba(0, 0, 0, 0.2);margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_4k111hpxo0 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block white">
	<div class="content">
		<div class="j-row">
			<h2 class="blue centered">Comparison</h2>
		</div>
		<div class="j-row vertical-center-row">
			<div class="j-col j-col-6">
				<p>Traditional approaches to software distribution often can be infrastructure, network, and administration intensive. OneSite’s peer-to-peer approach to software distribution eliminates the need for thousands of costly servers by doing more with the resources you already own. OneSite is the fastest way to deliver content across an enterprise today.</p>
			</div>
			<div class="j-col j-col-6 product-comparison-video">
				<div class="responsive-video text-content" style="background: #fff; border: 2px solid #0860b8;">
					<div class="responsive-video-content centered">
						<h3 class="blue">Read our free guide on questions to ask when selecting a content distribution engine</h3>
						<a href="https://www2.adaptiva.com/l/139131/2017-05-05/228kfg/139131/56481/Questions_to_Ask_When_Evaluating_Content_Delivery_Solutions.pdf" class="button" target="_blank" rel="noopener" title="Questions to ask when selecting a content distribution engine">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="color-block blue">
  <div class="content centered">
    <h2 class="white js-scroll slideRight">Take the Next Step</h2>
    <p class="type-big white js-scroll slideUp">See our products first-hand. Absolutely free.</p>
    <a href="https://www2.adaptiva.com/product-demo" class="button white js-scroll slideLeft">Get a Free Trial</a>
  </div>
</section>
<section class="products-brands color-block">
  <div class="content">
    <h2 class="white centered type-larger">Trusted by Leading Enterprises</h2>
    <div class="tertiary">
      <nav class="tertiary-nav">
        <ul>
          <li class="tertiary-nav-item is-selected"><a href="#aecom">AECOM</a></li>
          <li class="tertiary-nav-item"><a href="#skanska">Skanska</a></li>
          <li class="tertiary-nav-item"><a href="#alere">Alere</a></li>
        </ul>
      </nav>
      <div class="tertiary-nav-content is-visible vertical-center-row" id="aecom">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/168128128?color=ff902c" frameborder="0"></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <div class="products-brands-logo">
            {% include svg/customers/customers-aecom.svg %}
          </div>
          <p>AECOM Global CTO Steve Capper discusses his team's success in software distribution with Adaptiva OneSite</p>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="skanska" style="display: none;">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/153144512?color=ff902c" frameborder="0"></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <div class="products-brands-logo">
            {% include svg/customers/customers-skanska.svg %}
          </div>
          <p>James Pitcher talks about how OneSite saves his team endless time and resources with powerful automation capabilities and network awareness</p>
        </div>
      </div>
      <div class="tertiary-nav-content vertical-center-row" id="alere" style="display: none;">
        <div class="j-col j-col-6">
          <div class="responsive-video" style="background-color: #333;">
            <iframe src="https://player.vimeo.com/video/187217690" frameborder="0"></iframe>
          </div>
        </div>
        <div class="j-col j-col-5 push-1">
          <div class="products-brands-logo">
            {% include svg/customers/customers-alere.svg %}
          </div>
          <p>David Baker from Alere shares how Adaptiva helped his organization avoid a large, unwieldy ConfigMgr server infrastructure</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="color-block dark-black centered">
<a href="{{"/resources/" | relative_url }}"{% if page.url == "/resources/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Resources">
    <h2 class="white" style="margin: 0;">Get more product resources <span class="link-arrow">{% include svg/arrow.svg color="orange" width="26" height="26" %}</span></h2>
  </a>
</section>
<section class="color-block lighter-gray">
  <div class="content overflow">
    <h2 class="centered js-scroll slideUp blue">Latest Insights</h2>
    <div class="grid-container">
      {% assign insights = site.data.insights | sort: 'date' | reverse %}
      {% for post in insights limit:3 %}
        {% include html/insights.html %}
      {% endfor %}
    </div>
  </div>
</section>
