---
layout: default
title: Peer-to-Peer Software Distribution with ConfigMgr
product: OneSite
meta: "Adaptiva OneSite™ is a peer-to-peer content distribution engine that delivers IT professionals the ability to securely and reliably deliver software, like Windows 10, across an enterprise without the need for costly server investments, bandwidth throttling, and time-consuming, manual efforts. Get a Free Trial today."
bodyclass: onesite product-single
js:
  - "products.js"
redirect_from:
  - "/simplified-sccm-topology/"
  - "/zero-footprint-caching/"
  - "/peer-to-peer-pxe/"
  - "/virtual-state-migration-points/"
  - "/virtual-san/"
  - "/memory-pipeline-architecture/"
  - "/workflow-designer-engine/"
  - "/sccm-liveflow/"
  - "/whats-new-onesite-5-5/"
  - "/content-push/"
  - "/sccm-powershell-fusion/"
  - "/sccm-endpoint-security/"
  - "/speed/"
---
<section class="product-hero bg-cover bg-cover--center-btm full-800">
    <div class="inner cf">
        <div class="float66 product-hero-content">
            <div class="product-logo"><img src="/assets/img/products/onesite-logo-knockout.png" alt="onesite logo"></div>
            <h1 class="white">Speed Software Distribution</h1>
        </div>
    </div>
    <div class="cf angle-separator"></div>
</section>
<section class="product-subhero bg-lt-grey">
    <div class="inner cf">
        <div class="float33 full-800 right js-scroll slideRight">
            <a class="download-wrap" href="https://www2.adaptiva.com/l/139131/2016-04-15/6s9hh/139131/9648/OneSite_Product_Overview.pdf?_ga=2.104661824.1544815003.1520457394-417149680.1520457394" target="blank">
                <div class="brochure-cta grad-dblue-lblue-reverse diffuse-shadow text-left">
                    <img src="/assets/img/products/onesite-logo-knockout.png" alt="onesite logo">
                    <h3>Product <br />Overview</h3>
                    <div class="b-mark"><img src="/assets/img/products/small-adaptive-brandmark.png"></div>
                </div>
                <p>Download Brochure</p>
            </a>
        </div>
        <div class="float66 product-subhero-text full-800">
            <p class="big-p">The Adaptiva OneSite content distribution engine securely speeds enterprise-wide software deployments with its breakthrough peer-to-peer technology. Now you can reliably distribute any software at unparalleled speed and massive scale without the need for costly server investments, bandwidth throttling, or time-consuming manual efforts.</p>
        </div>
    </div>
</section>
<section class="features">
    <div class="inner">
        <h2>Features</h2>
        <div class="feature-row flex flex-align-center no-flex-800">
            <div class="w50 feature-text">
                <h3>Memory Pipeline Architecure</h3>
                <p>Eliminate IT infrastructure costs with peer-to-peer software distribution </p>
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content js-scroll slideLeft">
                    <script src="https://fast.wistia.com/embed/medias/j0knkj1rfa.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0knkj1rfa videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center row-reverse no-flex-800">
            <div class="w50 feature-text">
                <h3>Virtual SAN</h3>
                <p>Intelligently store content at infinite scale without user or device impact.</p>
            </div>
            <div class="w50 feature-graphic js-scroll slideRight">
                <div class="collapsible-section--content">
                    <script src="https://fast.wistia.com/embed/medias/luwd8v7u0d.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_luwd8v7u0d videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center no-flex-800">
            <div class="w50 feature-text">
                <h3>Predictive Bandwidth Harvesting</h3>
                <p>Maximize delivery speed while protecting the network.</p>
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content js-scroll slideLeft">
                    <script src="https://fast.wistia.com/embed/medias/nmcnn0ed4a.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_nmcnn0ed4a videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center row-reverse no-flex-800">
            <div class="w50 feature-text">
                <h3>LiveFlow</h3>
                <p>Gain real-time visibility and control over content.</p>
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content js-scroll slideRight">
                    <script src="https://fast.wistia.com/embed/medias/cbrtqn7l56.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_cbrtqn7l56 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center no-flex-800">
            <div class="w50 feature-text">
                <h3>P2P PXE</h3>
                <p>Automate Windows OS deployments without tedious configuration work</p>
                
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content">
                    <script src="https://fast.wistia.com/embed/medias/4k111hpxo0.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_4k111hpxo0 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row text-center">
            <div class="inline66 feature-text full-800">
                <h3>Workflow Designer & Engine</h3>
                <p>Automate IT tasks without coding.</p>
                <p>Adaptiva OneSite™ gives you the ability to easily incorporate your company’s best practices and operations standards into the software distribution process. OneSite uses visual workflows to empower you to customize and standardize the procedures your teams follow to distribute content.</p>
            
                <a class="cta" href="https://www2.adaptiva.com/l/139131/2016-07-12/hjl93/139131/20082/Automation_Content_Workflow.pdf?_ga=2.159149562.1544815003.1520457394-417149680.1520457394" target="_blank"><div class="cta-inner">Download Brochure</div></a>
            </div>
        </div>
    </div>
</section>
<section class="comparison grad-black-blue-vertical section-pad">
    <div class="inner">
        <div class="text-col text-center">
            <h2 class="white">Comparison</h2>
            <p  class="white">Traditional approaches to software distribution often can be infrastructure, network, and administration intensive. OneSite’s peer-to-peer approach to software distribution eliminates the need for thousands of costly servers by doing more with the resources you already own. OneSite is the fastest way to deliver content across an enterprise today.</p>
            <h3 class="white">Read our free guide on questions to ask when selecting a content distribution engine</h3>
            <a class="cta cta--alt" href="https://www2.adaptiva.com/l/139131/2017-05-05/228kfg/139131/56481/Questions_to_Ask_When_Evaluating_Content_Delivery_Solutions.pdf" target="_blank"><div class="cta-inner">Download</div></a>
        </div>
        <
       
    </div>
</section>
<section class="bg-lt-grey recommended-content">
  <div class="content overflow">
    <h2>Recommended Content for You</h2>
    <div class="grid-container recommended-content">
        {% assign academy = site.data.academy | sort: 'date' | reverse %}
        {% for asset in academy limit:4 %}
        <div class="float25 half-800 asset-wrap full-500">
            <a class="asset is-showing{% for class in asset.classes %} {{class.class}}{% endfor %}" href="{{asset.link}}" target="_blank" rel="noopener" title="{{asset.title}}" data-original-index="{{forloop.index0}}">
                <div class="asset-content diffuse-shadow">
                    <div class="asset-title grad-dblue-lblue">
                        <h3 class="white">{{asset.title}}</h3>
                        <div class="asset-btm cf">
                            <span class="res-icon">
                                {% if asset.type=='webinar' %}
                                    <i class="fa fa-play-circle"></i> Watch
                                {% elsif asset.type=='podcast' %}
                                    <i class="fa fa-microphone"></i> Listen to
                                {% elsif asset.type=='document' %}
                                    <i class="fa fa-file-alt" aria-hidden="true"></i> Read
                                {% endif %}
                            </span> 
                            {% for category in asset.categories %}
                                {{category.category}}
                            {% endfor %}
                            <div class="right"><img src="/assets/img/products/Chevron-Right.png" alt="resource arrow"></div>
                        </div>
                        
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
</section>
<section class="big-cta bg-cover bg-cover-top">
    <div class="inner text-center">
        <h2 class="white">Ready to Take the Next Step?</h2>
        <p class="white">See our products first-hand. Absolutely free.</p>
        <a class="cta cta--alt diffuse-shadow" href="/products/"><div class="cta-inner">Get a Free Trial</div></a>
    </div>
</section>
