---
layout: default
title: Peer-to-Peer Software Distribution with ConfigMgr
product: OneSite
meta: "Adaptiva OneSite™ is a peer-to-peer content distribution engine that delivers IT professionals the ability to securely and reliably deliver software, like Windows 10, across an enterprise without the need for costly server investments, bandwidth throttling, and time-consuming, manual efforts. Get a Free Trial today."
bodyclass: onesite product-single
js:
  - "products.js"
redirect_from:
  - "/simplified-sccm-topology/"
  - "/zero-footprint-caching/"
  - "/peer-to-peer-pxe/"
  - "/virtual-state-migration-points/"
  - "/virtual-san/"
  - "/memory-pipeline-architecture/"
  - "/workflow-designer-engine/"
  - "/sccm-liveflow/"
  - "/whats-new-onesite-5-5/"
  - "/content-push/"
  - "/sccm-powershell-fusion/"
  - "/sccm-endpoint-security/"
  - "/speed/"
---
<section class="product-hero bg-cover bg-cover--center-btm full-800">
    <div class="inner cf">
        <div class="float66 product-hero-content">
            <div class="product-logo"><img src="/assets/img/products/onesite-logo-knockout.png" alt="onesite logo"></div>
            <h1 class="white">The fastest way to securely distribute content across an enterprise</h1>
        </div>
    </div>
    <div class="cf angle-separator"></div>
</section>
<section class="product-subhero bg-lt-grey">
    <div class="inner cf">
        <div class="float33 full-800 right">
            <a id="brochure" class="download-wrap" href="https://www2.adaptiva.com/l/139131/2016-04-15/6s9hh/139131/9648/OneSite_Product_Overview.pdf?_ga=2.104661824.1544815003.1520457394-417149680.1520457394" target="blank">
                <div class="brochure-cta grad-dblue-lblue-reverse diffuse-shadow text-left">
                    <img src="/assets/img/products/onesite-logo-knockout.png" alt="onesite logo">
                    <h3>Product <br />Overview</h3>
                    <div class="b-mark"><img src="/assets/img/products/small-adaptive-brandmark.png"></div>
                </div>
                <p>Download Brochure</p>
            </a>
        </div>
        <div class="float66 product-subhero-text full-800">
            <p class="big-p">IT professionals face increasing demands to roll out and configure new content and software packages, strengthen endpoint security, and manage more systems in more locations across the enterprise — all while doing it faster.</p>
            <p>The Adaptiva OneSite content distribution engine securely speeds enterprise-wide software deployments with its breakthrough peer-to-peer technology. Now you can reliably distribute any software at unparalleled speed and massive scale without the need for costly server investments, bandwidth throttling, or time-consuming manual efforts.</p>

        </div>
    </div>
</section>
<section class="promotional-banner bg-cover">
    <div class="inner section-pad cf">
        <div class="float66 white">
            <h2 class="white">New: Adaptiva OneSite Cloud</h2>
            <p class="white"><strong>Total visibility and control over all endpoints, regardless of where they are.</strong></p> 
            <p class="white"></p>Introducing OneSite Cloud, the newer version of OneSite specifically created for the era of remote work.</p>
            <p class="white">Securely manage all your endpoints at unprecedented speed and scale whether they are on premise, connected remotely over VPN, or on the internet without a VPN connection. Use OneSite Cloud to advance the power of Microsoft ConfigMgr, Microsoft Intune, and VMWare Workspace ONE and smooth migrations to modern device management and cloud enablement. </p>  
           <p class="white"><em>OneSite Cloud includes the functionality of OneSite for Configuration Manager, OneSite VMware Edition, and OneSite Intune Edition.</em></p> 
           <a class="cta" href="/products/onesite-cloud"><div class="cta-inner">Learn more</div></a>
        </div>
    </div>
</section>
<section class="feature-horz-list">
	<div class="inner cf">
		<ul>
			<li class="text-center float25 full-600">
				<img src="/assets/img/products/icon-distribution.svg" alt="">
				<p>
					Enterprise class P2P helps organizations manage endpoints at unprecedented speed and scale with fewer servers and without impacting end users
				</p>
			</li>
			<li class="text-center float25 full-600">
				<img src="/assets/img/products/bandwidth-harvesting.png" alt="OneSite’s bandwidth harvesting technology" height="70px">
				<p>
					OneSite’s bandwidth harvesting technology proactively predicts the best times in milliseconds to send content and never create congestion
				</p>
			</li>
			<li class="text-center float25 full-600">
				<img src="/assets/img/products/reduce-bandwidth.png" alt="reduce bandwidth" height="70px">
				<p>
					Dramatically reduce bandwidth usage by only downloading content once over the WAN and storing up to 90%+ of content library locally in a Virtual SAN
				</p>
			</li>
			<li class="text-center float25 full-600">
				<img src="/assets/img/products/pause-and-resume-2.png" alt="View, pause, resume, reprioritize and cancel content transfers for an office in real-time" height="70px">
				<p>
					View, pause, resume, reprioritize and cancel content transfers for an office in real-time with OneSite’s interactive traffic control dashboard
				</p>
			</li>
		</ul>
	</div>
</section>
<section class="content-delivery-anywhere">
    <div class="inner cf">
		<div class="float50 full-600">
            <h2>Ensure endpoints stay updated and secure at all times</h2>
            
			<p><strong>Manage endpoints at unprecedented speed and scale</strong></p>
			<p>The ability to distribute content reliably and securely to all endpoints across the enterprise is critical for IT teams. OneSite advances the power of Microsoft System Center Configuration Manager (ConfigMgr) so enterprises can accelerate software deployments and deliver content to endpoints at unprecedented speed and scale without throttling, even over slow/poor connections.</p>
			<p><strong>Eliminate costly infrastructure</strong></p>
			<p>OneSite uses intelligence, not infrastructure, to store content and eliminate the 1000s of servers typically needed to distribute software across an enterprise using Microsoft System Center Configuration Manager —without impacting end users. OneSite’s Virtual SAN technology reduces bandwidth impacts and frequent content downloads over the WAN by storing content locally, while Peer-to-peer PXE intelligently speeds operating system deployments by enabling any computer running the OneSite client to act as a PXE server.</p>
		</div>
		<div class="float50 full-600">
            <div class="image-overflow">
                <img src="/assets/img/products/onesite-LiveFlow.jpg" style="margin-bottom:40px;box-shadow: 0 10px 44px 0 rgba(255,255,255,0.30);">
            </div>
			<p><strong>Gain complete control and visibility</strong></p>
			<p>OneSite automates many time-consuming activities that would otherwise require manual operations and gives IT admins complete control over the content distribution process: View all ConfigMgr content globally, control WAN transfers in real time, view/pause/resume/reprioritize and cancel content transfers for an office in real-time, automatically detect new content and deliver it to specified locations, and customize simple and complex operations through an easy to use Workflow Designer.</p>
			<p><strong>Ensure software distribution stays secure</strong></p>
			<p>Ensure secure software distribution with Encryption Everywhere, under the cover of advanced security protocols which together exceed FIPS 140-2 recommendations, including support for Secure Hash Algorithm (SHA) and the NSA Suite B set of cryptographic algorithms. If security is a concern for some applications, you can use the Adaptiva client to encrypt sensitive data such as company software license keys and know it’s secure.</p>
		</div>
	</div>
</section>
<section class="features">
    <div class="inner">
        <h2>Features</h2>
        <div class="feature-row flex flex-align-center no-flex-800">
            <div class="w50 feature-text">
                <h3>Memory Pipeline Architecure</h3>
                <p>Memory Pipeline Architecture provides quick, fault-tolerant, and reliable content delivery that is resilient to clients going offline, maximizing software delivery success rates. Memory Pipeline Architecture moves data between peers in RAM, so it’s lightning fast, scales easily to thousands of endpoints, and never drops a byte if a peer goes offline.  </p>
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content js-scroll slideLeft">
                    <script src="https://fast.wistia.com/embed/medias/j0knkj1rfa.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0knkj1rfa videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center row-reverse no-flex-800">
            <div class="w50 feature-text">
                <h3>Virtual SAN</h3>
                <p>Virtual SAN provides automated, intelligent content caching that eliminates the need for software distribution points such as expensive connected cache servers. Virtual SAN is self-forming and automatically caches content in unused space on peer computers using “zero footprint caching” and provides every endpoint access to content.</p>
            </div>
            <div class="w50 feature-graphic js-scroll slideRight">
                <div class="collapsible-section--content">
                    <script src="https://fast.wistia.com/embed/medias/luwd8v7u0d.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_luwd8v7u0d videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center no-flex-800">
            <div class="w50 feature-text">
                <h3>Predictive Bandwidth Harvesting</h3>
                <p>Predictive Bandwidth Harvesting predicts network congestion down to the millisecond and automatically harvests unused bandwidth to adjusts content delivery speed to utilize 100% of available bandwidth without impacting business traffic. Predictive Bandwidth Harvesting eliminates the need for bandwidth throttling.</p>
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content js-scroll slideLeft">
                    <script src="https://fast.wistia.com/embed/medias/nmcnn0ed4a.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_nmcnn0ed4a videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center row-reverse no-flex-800">
            <div class="w50 feature-text">
                <h3>LiveFlow</h3>
                <p>LiveFlow provides complete and real time visibility and full control of content transfers in real-time, down to the individual office and machine. See where content is available, in transit, and still needed. Pause, resume, reprioritize, or cancel any transfer at any time.</p>
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content js-scroll slideRight">
                    <script src="https://fast.wistia.com/embed/medias/cbrtqn7l56.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_cbrtqn7l56 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-center no-flex-800">
            <div class="w50 feature-text">
                <h3>P2P PXE</h3>
                <p>PXE typically requires a lot of servers and can be complex to configure. Adaptiva solves this problem with peer-to-peer PXE (P2P PXE), which greatly simplifies Windows deployments. You don’t even need PXE servers. You just check a box and PXE is available worldwide, instantly.</p>
                
            </div>
            <div class="w50 feature-graphic">
                <div class="collapsible-section--content">
                    <script src="https://fast.wistia.com/embed/medias/4k111hpxo0.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;margin-bottom:1rem;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_4k111hpxo0 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>
            </div>
        </div>
        <div class="feature-row flex flex-align-top no-flex-800">
            <div class="inline33  inline-top full-800 feature-text">
                <h3>Flow Equalizer</h3>
                <p>Flow Equalizer cleanly manage all the downloads in a single, controlled flow, which never spikes or impacts the network, and safely delivers content at maximum speed with no throttling.
                </p>
                
            </div>
            <div class="inline33 inline-top full-800 feature-text">
                <h3>Checkpoint Restart</h3>
                <p>OneSite adapts to network constraints and latency and provides the Checkpoint Restart capability to automatically restart content delivery where it left off as machines enter and leave the network.</p>
            </div>
            <div class="inline33 inline-top full-800 feature-text">
                <h3>IntelliStage</h3>
                <p>IntelliStage eliminates manual specification of target machines: self-selects the most highly available machines for delivery, optionally creating and maintaining multiple copies of content for business continuity.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-lt-grey recommended-content">
    <div class="content overflow">
      <h2>Recommended Content for You</h2>
      <div class="grid-container ">
          {% assign academy = site.data.onesite-recomended | sort: 'order' | reverse %}
          {% for asset in academy limit:4 %}
          <div class="float25 half-800 asset-wrap full-500">
              <a class="asset is-showing{% for class in asset.classes %} {{class.class}}{% endfor %}" href="{{asset.link}}" target="_blank" rel="noopener" title="{{asset.title}}" data-original-index="{{forloop.index0}}">
                  <div class="asset-content diffuse-shadow">
                      <div class="asset-title grad-dblue-lblue-reverse">
                          <h3 class="white">{{asset.title}}</h3>
                          <div class="asset-btm cf">
                              <span class="res-icon">
                                  {% if asset.type=='webinar' %}
                                      <i class="fa fa-play-circle"></i> Watch
                                  {% elsif asset.type=='podcast' %}
                                      <i class="fa fa-microphone"></i> Listen to
                                  {% elsif asset.type=='document' %}
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i> Read
                                  {% endif %}
                              </span> 
                              {% for category in asset.categories %}
                                  {{category.category}}
                              {% endfor %}
                              <div class="right"><img src="/assets/img/products/Chevron-Right.png" alt="resource arrow"></div>
                          </div>
                          
                      </div>
                  </div>
              </a>
          </div>
          {% endfor %}
      </div>
    </div>
  </section>
<section class="big-cta bg-cover bg-cover-top">
    <div class="inner text-center">
        <h2 class="white">Ready to Take the Next Step?</h2>
        <p class="grey big-p">See our products first-hand. Absolutely free.</p>
        <a class="cta cta--alt diffuse-shadow" href="https://www2.adaptiva.com/product-demo" target="_blank"><div class="cta-inner">Request a Demo</div></a>
    </div>
</section>
<script>
    jQuery(function(){
        $('#brochure').addClass('active');
    });
</script>