---
layout: default
title: Partners
meta: "Information on Adaptiva's Partner Program. Adaptiva partners with several Fortune 500 companies to resell Adaptiva ConfigMgr software through various channels."
bodyclass: partners
---
<section class="hero" id="hero-partners">
  <div class="content hero-content">
    <h1>{{page.title}}</h1>
  </div>
</section>
<section class="color-block white">
  <div class="content">
    <div class="j-col j-col-8 push-2">
      <h2 class="blue centered">Discover the Adaptiva Partner Opportunity</h2>
      <p>Adaptiva teams with a select group of partners to deliver cost-effective ways for enterprises to scale their IT initiatives by doing more with the resources they already own. We work closely with partners of all sizes to build and deliver systems management solutions that eliminate costs and simplify IT operations for our customers.</p>
      <p>Adaptiva is committed to our partners’ success and we have designed our Partner Program to fit your unique needs. Grow your opportunities with enterprises around the world who are searching for a complete solution to meet their systems management needs.</p>
      <p>Want to become an Adaptiva partner today?</p>
      <a href="http://www2.adaptiva.com/l/139131/2016-06-03/dm2d5" class="button blue" target="_blank" rel="noopener" title="Learn more about the Adaptiva Partner Program">Learn More</a>
    </div>
  </div>
</section>
<section class="color-block lighter-gray partner-levels">
  <div class="content">
    <div class="j-row">
      <div class="j-col j-col-8 push-2 centered">
        <h2 class="blue">Partner Tier Options</h2>
        <p>The Adaptiva Partner Program offers three distinct categories of partnership—Gold, Silver, and Bronze. Partner membership is determined by the level of commitment to selling and supporting Adaptiva products. Partner benefits and rewards increase as companies advance through the program and ultimately reach Gold status.</p>
      </div>
    </div>
    <div class="grid-container">
      <div class="j-col j-col-4 tile partner-tier bronze js-scroll">
        <div class="tile-content white">
          <h3>Bronze</h3>
          <p>Bronze is Adaptiva’s entry level status, offering partners access to basic immediate discounts and benefits. This level requires the partner to manage contracting and billing.</p>
        </div>
      </div>
      <div class="j-col j-col-4 tile partner-tier silver js-scroll">
        <div class="tile-content white">
          <h3>Silver</h3>
          <p>Silver status provides a higher level of benefits and discounts. This level can be obtained by partners that are prepared to make a significant commitment to developing their Adaptiva business, performing co-selling and co-marketing activities, and obtaining product certification.</p>
        </div>
      </div>
      <div class="j-col j-col-4 tile partner-tier gold js-scroll">
        <div class="tile-content white">
          <h3>Gold</h3>
          <p>Gold partner status is awarded to a number of hand-picked partners in each region. These partners are highly committed to Adaptiva, certified in Adaptiva products, display superior sales and technical expertise. They own the sales motion for Adaptiva products, including performing demos and POCs, and are capable of performing first line support.</p>
        </div>
      </div>
    </div>
    <div class="j-row centered" style="margin-top: 1.618em;">
      <p>Already a partner? Log in here:</p>
      <a href="https://partners.adaptiva.com" class="button blue" target="_blank" rel="noopener" title="Sign up for or log into the Adaptiva Partner Portal">Partner Portal</a>
    </div>
  </div>
</section>
<section class="color-block white partners">
  <div class="content">
    <div class="j-row">
      <div class="j-col j-col-10 push-1 centered">
        <h2>Find the Right Parnter</h2>
        <p style="font-size: 1.16em;">Adaptiva works with trusted professional services firms, resellers, distributors, and systems management experts in multiple countries around the world. Below are a sample of some of the quality organizations we recommend to our customers and prospects:</p>
      </div>
    </div>
    <div class="grid-container">
      {% for partner in site.data.partners %}
        <a class="j-col j-col-4 tile partner js-scroll{% if partner.sq %} is-sq{% endif %}" href="{{partner.link}}" title="{{partner.link}}" target="_blank" rel="noopener">
          <div class="tile-content">
            <div class="partner-info">
              {% if partner.png %}
                <img src="/assets/img/partners/{{partner.png}}" alt="{{partner.name}}" />
                {% else %}
                  {% include svg/partners/{{partner.svg}} %}
              {% endif %}
              {{partner.name}}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
