<footer class="footer">
  <div class="content">
    <div class="j-row" style="margin-bottom: 2.618em;">
      <div class="footer-block j-col j-col-4">
        <a href="/" class="logo">
          {% include svg/adaptiva-logo.svg width="178" height="42" %}
        </a>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/products/" | relative_url}}" title="Adaptiva Products">Products</a>
          </li>
          <li class="footer-nav-item">
            <a href="{{"/about/" | relative_url}}" title="About Adaptiva">About</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/academy/" | relative_url }}" title="Adaptiva Academy">Academy</a>
          </li>
          <li class="footer-nav-item">
            <a href="https://insights.adaptiva.com" title="Adaptiva Insights">Insights</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/support/" | relative_url}}" title="Adaptiva Support">Support</a>
          </li>
          <li class="footer-nav-item">
            <a href="{{"/partners/" | relative_url}}" title="Adaptiva Partners">Partners</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/contact/" | relative_url}}" title="Contact Adaptiva">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="{{"/careers/" | relative_url }}" title="Adaptiva Careers">Careers</a>
          </li>
        </ul>
      </div>
    </div>
    <form class="j-row vertical-center-row adaptiva-form form" id="newsletter" method="post" action="https://go.pardot.com/l/139131/2016-02-09/fs9g">
      <label class="j-col j-col-2">Subscribe to our Newsletter</label>
      <div class="j-col j-col-9 adaptiva-form-email">
        <input required name="email" placeholder="Enter your corporate email address here" type="email">
      </div>
      <div class="j-col j-col-1 wrap adaptiva-form-submit">
        <input name="submit" type="submit">
      </div>
    </form>
    <div class="j-row copyright">
      <p class="j-col j-col-8 wrap type-small">Copyright ©<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Adaptiva. All rights reserved. All copyrights and trademarks remain property of their respective owners and are used for identification only. View our <a href="{{"/terms-of-use"}}" title="Adaptiva terms of use">terms of use</a> and <a href="{{"/copyright"}}" title="Adaptiva full copyright notice">full copyright notice</a>.</p>
      <div class="j-col j-col-4 footer-social">
        <a href="https://twitter.com/adaptiva" class="footer-social-link" title="Follow Adaptiva on Twitter!" target="_blank">
          {% include svg/twitter.svg %}
        </a>
        <a href="https://linkedin.com/company/adaptiva" class="footer-social-link" title="Follow Adaptiva on LinkedIn!" target="_blank">
          {% include svg/linkedin.svg %}
        </a>
        <a href="https://facebook.com/adaptiva" class="footer-social-link" title="Like Adaptiva on Facebook!" target="_blank">
          {% include svg/facebook.svg %}
        </a>
        <a href="https://vimeo.com/adaptiva" class="footer-social-link" title="Follow Adaptiva on Vimeo!" target="_blank">
          {% include svg/vimeo.svg %}
        </a>
      </div>
    </div>
  </div>
</footer>
