<footer class="footer">
  <div class="content">
    <div class="j-row" style="margin-bottom: 2.618em;">
      <div class="j-col j-col-4 logo">
        {% include svg/adaptiva-logo.svg width="178" %}
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="#0">Products</a>
          </li>
          <li class="footer-nav-item">
            <a href="#0">About</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="#0">SCCM Academy</a>
          </li>
          <li class="footer-nav-item">
            <a href="#0">Insights</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="#0">Support</a>
          </li>
          <li class="footer-nav-item">
            <a href="#0">Partners</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="#0">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="#0">Careers</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="j-row copyright">
      <p class="j-col j-col-7 wrap type-small">Copyright ©<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>  Adaptiva. All rights reserved. All copyrights and trademarks remain property of their respective owners and are used for identification only. View our terms of use and full copyright notice.</p>
    </div>
    <div class="footer-social">
      <a href="https://twitter.com/adaptiva" class="footer-social-link" title="Follow Adaptiva on Twitter!" target="_blank">
        {% include svg/twitter.svg %}
      </a>
      <a href="https://linkedin.com/company/adaptiva" class="footer-social-link" title="Follow Adaptiva on LinkedIn!" target="_blank">
        {% include svg/linkedin.svg %}
      </a>
      <a href="https://facebook.com/adaptiva" class="footer-social-link" title="Like Adaptiva on Facebook!" target="_blank">
        {% include svg/facebook.svg %}
      </a>
      <a href="https://vimeo.com/adaptiva" class="footer-social-link" title="Follow Adaptiva on Vimeo!" target="_blank">
        {% include svg/vimeo.svg %}
      </a>
    </div>
  </div>
</footer>
