<footer class="footer">
  <div class="content">
    <div class="j-row" style="margin-bottom: 2.618em;">
      <div class="footer-block j-col j-col-4">
        <a href="/" class="logo">
          {% include svg/adaptiva-logo.svg width="178" height="42" %}
        </a>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/products/" | relative_url}}" title="Adaptiva Products">Products</a>
          </li>
          <li class="footer-nav-item">
            <a href="{{"/about/" | relative_url}}" title="About Adaptiva">About</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/resources/" | relative_url }}" title="Adaptiva Resources">Resources</a>
          </li>
          <li class="footer-nav-item">
            <a href="https://insights.adaptiva.com" title="Adaptiva Insights">Insights</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/support/" | relative_url}}" title="Adaptiva Support">Support</a>
          </li>
          <li class="footer-nav-item">
            <a href="{{"/partners/" | relative_url}}" title="Adaptiva Partners">Partners</a>
          </li>
        </ul>
      </div>
      <div class="footer-block j-col j-col-2">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="{{"/contact/" | relative_url}}" title="Contact Adaptiva">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="{{"/careers/" | relative_url }}" title="Adaptiva Careers">Careers</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="j-row" id="newsletter-email">
        <label class="j-col j-col-2">Subscribe to our Newsletter</label>
        <div class="j-col j-col-10 adaptiva-form-email">
          <iframe src="https://www2.adaptiva.com/l/139131/2020-06-08/2l2979" width="100%" height="55" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
        </div>
    </div>
    <div class="j-row form-legal">
        <p class="type-small white j-col-8">By subscribing you agree to our <a href="/privacy">Privacy Policy</a></p>
    </div>
    <div class="j-row copyright">
      <p class="j-col j-col-8 wrap type-small">Copyright ©<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Adaptiva. All rights reserved. All copyrights and trademarks remain property of their respective owners and are used for identification only. View our <a href="{{"/copyright"}}" title="Adaptiva full copyright notice">full copyright notice</a>.</p>
      <div class="j-col j-col-4 footer-social">
        <a href="https://twitter.com/adaptiva" class="footer-social-link" title="Follow Adaptiva on Twitter!" target="_blank">
          {% include svg/twitter.svg %}
        </a>
        <a href="https://linkedin.com/company/adaptiva" class="footer-social-link" title="Follow Adaptiva on LinkedIn!" target="_blank">
          {% include svg/linkedin.svg %}
        </a>
        <a href="https://facebook.com/adaptiva" class="footer-social-link" title="Like Adaptiva on Facebook!" target="_blank">
          {% include svg/facebook.svg %}
        </a>
        <a href="https://vimeo.com/adaptiva" class="footer-social-link" title="Follow Adaptiva on Vimeo!" target="_blank">
          {% include svg/vimeo.svg %}
        </a>
      </div>
    </div>
  </div>
</footer>
