<section class="navbar">
  <div class="content vertical-center-row space-between">
    <a class="logo" href="/">
      {% include svg/adaptiva-logo.svg width="110" %}
    </a>
    <nav class="nav">
      <ul>
        <li class="nav-item">
          <a href="#0"{% if page.url == "/products/" %} class="current"{% endif %}>Products</a>
        </li>
        <li class="nav-item">
          <a href="#0"{% if page.url == "/insights/" %} class="current"{% endif %}>Insights</a>
        </li>
        <li class="nav-item">
          <a href="{{"/about" | relative_url }}"{% if page.url == "/about/" %} class="current"{% endif %}>About</a>
        </li>
        <li class="nav-item">
          <a href="#0"{% if page.url == "/careers/" %} class="current"{% endif %}>Careers</a>
        </li>
        <li class="nav-item">
          <a href="#0"{% if page.url == "/contact/" %} class="current"{% endif %}>Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
