<section class="navbar">
  <div class="content">
    <a class="logo left" href="/">
      {% include svg/adaptiva-logo.svg width="150" %}
    </a>
   
    <nav class="nav left">
      <ul>
        <li class="nav-item">
          <a href="{{"/products/" | relative_url}}" {% if page.url == "/products/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Products">Products</a>
        </li>
        <li class="nav-item">
          <a class="trn" href="https://insights.adaptiva.com" title="Adaptiva Insights">Insights</a>
        </li>
        <li class="nav-item">
          <a href="{{"/resources/" | relative_url }}"{% if page.url == "/resources/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Resources">Resources</a>
        </li>
        <li class="nav-item">
          <a href="{{"/about/" | relative_url }}"{% if page.url == "/about/" %} class="current trn"{% else %}class="trn"{% endif %} title="About Adaptiva">About</a>
            <ul class="sub-menu">
                <li class=""><a href="/about/#leadership" title="Leadership">Leadership</a></li>
                <li class=""><a href="https://insights.adaptiva.com/news/" title="News">News</a></li>
                <li class=""><a href="https://insights.adaptiva.com/press-releases/" title="Press Releases">Press Releases</a></li>
                <li class=""><a href="/support/" title="Support">Support</a></li>
                <li class=""><a href="/partners/" title="Partner Program">Partner Program</a></li>
                <li class=""><a href="/careers/" title="Careers">Careers</a></li>
                <li class=""><a href="/contact/" title="Contact">Contact</a></li>
            </ul>
        </li>
        <!-- <li class="nav-item">
          <a href="{{"/careers/" | relative_url }}"{% if page.url == "/careers/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Careers">Careers</a>
        </li>
        <li class="nav-item">
          <a href="{{"/contact/" | relative_url }}"{% if page.url == "/contact/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Contact">Contact</a>
        </li> -->
        <li class="nav-item header-demo-btn">
          <a href="https://www2.adaptiva.com/product-demo" class="cta" title="Request Demo"><div class="cta-inner">Request Demo</div></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="js-nav-trigger">
    <span></span>
    <span></span>
  </div>
</section>
