<section class="navbar">
  <div class="content vertical-center-row space-between">
    <a class="logo" href="/">
      {% include svg/adaptiva-logo.svg width="110" %}
    </a>
    <div class="js-nav-trigger">
      <span></span>
      <span></span>
    </div>
    <nav class="nav">
      <ul>
        <li class="nav-item">
          <a href="{{"/products/" | relative_url}}" {% if page.url == "/products/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Products">Products</a>
        </li>
        <li class="nav-item">
          <a class="trn" href="https://insights.adaptiva.com" title="Adaptiva Insights">Insights</a>
        </li>
        <li class="nav-item">
          <a href="{{"/academy/" | relative_url }}"{% if page.url == "/academy/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Academy">Academy</a>
        </li>
        <li class="nav-item">
          <a href="{{"/about/" | relative_url }}"{% if page.url == "/about/" %} class="current trn"{% else %}class="trn"{% endif %} title="About Adaptiva">About</a>
        </li>
        <li class="nav-item">
          <a href="{{"/careers/" | relative_url }}"{% if page.url == "/careers/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Careers">Careers</a>
        </li>
        <li class="nav-item">
          <a href="{{"/contact/" | relative_url }}"{% if page.url == "/contact/" %} class="current trn"{% else %}class="trn"{% endif %} title="Adaptiva Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a href="http://www2.adaptiva.com/product-demo" class="button green trn" title="Request Demo">Request Demo</a>
        </li>
        <!-- <li class="nav-item"> -->
          <!--Translate button
           <a id="translate-button">
            <img src="/assets/translate.svg" style="width: 36px; padding-left: 10px; vertical-align: middle;">
            <div class="translate-menu">
              <div class="translate-menu-language" data-language="en">EN</div>
              <div class="translate-menu-language" data-language="de">DE</div>
            </div>
          </a> -->
        <!-- </li> -->
      </ul>
    </nav>
  </div>
</section>
