<div class="lightbox newsletterBox" style="display:none;">
	<div class="lightbox-close">
		<span></span><span></span>
	</div>
	<div class="lightbox-content">
		<h2 class="blue centered">One more thing!</h2>
		<form action="https://go.pardot.com/l/139131/2016-02-09/fs9g" class="form adaptiva-form" id="newsletter">
			<div class="j-row">
				<input required name="email" placeholder="Enter your corporate email address here" type="email">
			</div>
			<div class="j-row" style="padding: .618rem; border: 2px solid #0860b8;">
				<input required type="checkbox" name="consent" value="I give consent to Adaptiva to send me emails">
				<label for="consent"><strong>I give consent to Adaptiva to send me emails</strong></label>
			</div>
			<div class="j-row">
				<button class="button">Subscribe</button>
			</div>
			<div class="j-row">
				<p class="gray" style="margin-bottom: 0;">This form collects data such as your name, email address, etc., so that Adaptiva can send you personalized updates about Adaptiva products, autoresponder emails for downloadable content, and other industry and company related emails.</p>
			</div>
		</form>
	</div>
</div>
