<div class="js-trial-container">
  <div class="js-trial-close"><span></span><span></span></div>
  <div class="trial-content">
    <h2 class="white">See Adaptiva in Action</h2>
    <div class="form-wrap">
      <iframe src="https://go.pardot.com/l/139131/2017-09-14/2594yj" width="100%" height="460" scrolling="no" style="border-color: rgba(255,255,255,0);"></iframe>
    </div>
    <p class="white centered">
      Having problems with this form? View in its <a href="http://www2.adaptiva.com/l/139131/2016-02-09/fnt2" target="_blank" title="View in separate window">own window</a>.
    </p>
  </div>
</div>
