<div class="js-trial-container" style="display:none">
  <div class="js-close-trial trial-close-container"><span></span><span></span></div>
  <div class="trial-content">
    <h2 class="blue">See Adaptiva in Action</h2>
    <div class="form-wrap">
      <form method="post" action="https://go.pardot.com/l/139131/2018-02-28/28ppr9" class="demoForm form" data-mql="true" id="free-trial">
      	<div class="j-row demoForm-name">
      		<div class="j-col j-col-2">
      			<label>Name <span class="asterisk" title="Required field">*</span></label>
      		</div>
					<div class="j-col j-col-10 wrap">
						<div class="j-col j-col-6 demoForm-first-name">
							<input type="text" class="first-name" name="demo_firstname" placeholder="First Name" required>
						</div>
						<div class="j-col j-col-6 demoForm-last-name">
							<input type="text" class="last-name" name="demo_lastname" placeholder="Last Name" required>
						</div>
					</div>
      	</div>
				<div class="j-row demoForm-email">
					<div class="j-col j-col-2">
						<label for="email">Email <span class="asterisk" title="Required field">*</span></label>
					</div>
					<div class="j-col j-col-10">
						<input type="email" name="demo_email" placeholder="Company email only" required>
					</div>
				</div>
				<div class="j-row demoForm-company">
					<div class="j-col j-col-2">
						<label for="company">Company <span class="asterisk" title="Required field">*</span></label>
					</div>
					<div class="j-col j-col-10">
						<input type="text" name="demo_company" required>
					</div>
				</div>
				<div class="j-row demoForm-country country">
					<div class="j-col j-col-2">
						<label for="demo_country">Country <span class="asterisk" title="Required field">*</span></label>
					</div>
					<div class="j-col j-col-10 selectWrap">
						{% include svg/angle.svg color="black" width="6" %}
						<select name="demo_country" id="demo_country" required>
							{% include html/countries.html %}
						</select>
					</div>
				</div>
				<div class="j-row demoForm-state state" style="display: none;">
					<div class="j-col j-col-2">
						<label for="demo_state">State <span class="asterisk" title="Required field">*</span></label>
					</div>
					<div class="j-col j-col-10 selectWrap">
						{% include svg/angle.svg color="black" width="6" %}
						<select name="demo_state" id="demo_state">
							{% include html/states.html %}
						</select>
					</div>
				</div>
				<div class="j-row demoForm-product-interest">
					<div class="j-col j-col-2">
						<span>Product interest <span class="asterisk" title="Required field">*</span></span>
					</div>
					<div class="j-col j-col-10">
						<select multiple name="demo_product_interest" class="demoForm-products">
							<option value="OneSite">OneSite</option>
							<option value="Windows 10 Acclerator Program">Windows 10 Acclerator Program</option>
							<option value="Client Health">Client Health</option>
							<option value="Altiris to SCCM Migration">Altiris to SCCM Migration</option>
						</select>
						<span class="gray type-small">Hold Shift or Ctrl (Cmd on Mac) to select multiple products</span>
					</div>
				</div>
				<div class="j-row demoForm-comments">
					<div class="collapsible-section j-col j-col-12">
						<h3 class="collapsible-title blue">Questions &amp; Comments</h3>
						<div class="collapsible-section--content" style="display: none;">
							<textarea name="demo_comments"></textarea>
						</div>
					</div>
				</div>
				<div class="j-row captcha">
					<div class="j-col j-col-12">
						<div class="g-recaptcha" data-sitekey="6LevqEwUAAAAAILLSs8LozwgQf_SXlFRYSJcvA5L"></div>
					</div>
				</div>
				<div class="j-row demoForm-submit">
					<div class="j-col j-col-12">
						<button class="button" id="free-trial-submit">Submit</button>
						<div class="button button--flat js-close-trial">Cancel</div>
					</div>
				</div>
      </form>
    </div>
  </div>
</div>
