<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    {% if page.noindex %}
    <meta name="robots" content="noindex">
    {% endif %}
    <link rel="preload" href="https://use.typekit.net/abc1def.js" as="script" crossorigin>
    <link rel="preload" href="https://use.typekit.net/abc1def.css" as="style" crossorigin>
    <script>
      (function(d) {
        var config = {
          kitId: 'des5qhx',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link rel="canonical" href="{{page.url | absolute_url}}">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLT892');</script>
    <!-- End Google Tag Manager -->
    <meta name="author" content="Adaptiva">
    {% if page.meta %}
    <meta name="description" content="{{page.meta}}">
    <meta name="og:description" content="{{page.meta}}">
    {% endif %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:type" content="website" />
    <title>{% if page.title %}{{page.title}} - {% endif %}Adaptiva - Smart Scaling for Enterprise IT</title>
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ '/assets/css/adaptiva.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body{% if page.bodyclass %} class="{{page.bodyclass}}"{% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLT892"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include html/trial.html %}
    {% include html/nav.html %}
    {% if page.backtotop %}
      {% include html/backtotop.html %}
    {% endif %}
    {{content}}
    {% include html/footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{"/assets/js/touchswipe.js" | relative_url}}"></script>
    <script type="text/javascript" src="{{"/assets/js/adaptiva.js" | relative_url}}"></script>
    {% if page.js %}
      {% for file in page.js %}
      <script type="text/javascript" src="/assets/js/{{file}}"></script>
      {% endfor %}
    {% endif %}
    {% if page.map %}
      <script>
        {% include js/maps.js %}
      </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9ar4XlyXp0QN774iW5XTIdCVuOpB4Iy0&callback=initMap"></script>
    {% endif %}
    <script type="text/javascript" language="javascript">
      var sf14gv = 22025;
      (function() {
      var sf14g = document.createElement('script'); sf14g.type = 'text/javascript'; sf14g.async = true;
      sf14g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 't.sf14g.com/sf14g.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sf14g, s);
      })();
    </script>
  </body>
</html>
