<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex">
    <link rel="canonical" href="{{page.url | absolute_url}}">
    <meta name="author" content="Adaptiva">
    {% if page.meta %}
    <meta name="description" content="{{page.meta}}">
    <meta name="og:description" content="{{page.meta}}">
    {% endif %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:type" content="website" />
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42681101-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42681101-2');
    </script>
    <title>{% if page.title %}{{page.title}} / {% endif %}Adaptiva - Smart Scaling for Enterprise IT</title>
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ '/assets/css/adaptiva.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="manifest" href="/manifest.json">
    <script src="https://use.typekit.net/des5qhx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body{% if page.bodyclass %} class="{{page.bodyclass}}"{% endif %}>
    {% include html/trial.html %}
    {% include html/nav.html %}
    {{content}}
    {% include html/footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{"/assets/js/touchswipe.js" | relative_url}}"></script>
    <script type="text/javascript" src="{{"/assets/js/adaptiva.js" | relative_url}}"></script>
    <script type="text/javascript" language="javascript">
      var sf14gv = 22025; 
      (function() {
      var sf14g = document.createElement('script'); sf14g.type = 'text/javascript'; sf14g.async = true;
      sf14g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 't.sf14g.com/sf14g.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sf14g, s);
      })();
    </script>
  </body>
</html>
