<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    {% if page.meta %}
    <meta name="description" content="{{page.meta}}">
    {% endif %}
    <title>{% if page.title %}{{page.title}} / {% endif %}Adaptiva - Smart Scaling for Enterprise IT</title>
    <link rel="stylesheet" href="{{ '/assets/css/adaptiva.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://use.typekit.net/des5qhx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    {% include html/nav.html %}
    {{content}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{'/assets/js/adaptiva.js' | relative_url}}"></script>
  </body>
</html>
