#hero-about {
  background-image: url('/assets/img/hero/hero-about.jpg');
  background-color: $dark-black;
  position: relative;
  @include overlay($dark-black);
}
section.about {
  min-height: 460px;
  .tertiary-nav {
    ul {
      margin-top: 0;
    }
  }
  .tertiary-nav-content {
    &.is-visible {
      animation: none;
      h2 {
        animation: slideRight 600ms $transition-ease-in 1 forwards;
      }
      h4 {
        animation: slideRight 900ms $transition-ease-in 1 forwards;
      }
      p {
        animation: slideRight 1200ms $transition-ease-in 1 forwards;
      }
    }
  }
}
.tertiary.leadership {
  .tertiary-nav {
    border-bottom: 2px solid $blue;
  }
  .tertiary-nav-item,
  .is-selected {
    &::after {
      display: none;
    }
  }
  .tertiary-nav-item {
    opacity: 0;
    img {
      display: block;
      box-shadow: 0 0 0 2px $white;
      border-radius: 50%;
      transition: transform 250ms $transition-bounce, box-shadow 300ms $transition-ease-in;
      height: 68px;
      width: 68px;
    }
    &:nth-child(7n+1) {
      transition: opacity 300ms;
    }
    &:nth-child(7n+2) {
      transition: opacity 300ms 100ms;
    }
    &:nth-child(7n+3) {
      transition: opacity 300ms 200ms;
    }
    &:nth-child(7n+4) {
      transition: opacity 300ms 300ms;
    }
    &:nth-child(7n+5) {
      transition: opacity 300ms 400ms;
    }
    &:nth-child(7n+6) {
      transition: opacity 300ms 500ms;
    }
    &:nth-child(7n+7) {
      transition: opacity 300ms 600ms;
    }
    &:hover {
      img {
        box-shadow: 0 0 0 6px $blue;
      }
    }
    &.is-selected {
      img {
        box-shadow: 0 0 0 6px $blue;
        transform: scale(1.2);
      }
    }
    &.is-scrolled {
      opacity: 1;
      &:nth-child(7n+1) {
        animation: slideUp 300ms $transition-ease 1 forwards;
      }
      &:nth-child(7n+2) {
        animation: slideUp 300ms $transition-ease 100ms 1 forwards;
      }
      &:nth-child(7n+3) {
        animation: slideUp 300ms $transition-ease 200ms 1 forwards;
      }
      &:nth-child(7n+4) {
        animation: slideUp 300ms $transition-ease 300ms 1 forwards;
      }
      &:nth-child(7n+5) {
        animation: slideUp 300ms $transition-ease 400ms 1 forwards;
      }
      &:nth-child(7n+6) {
        animation: slideUp 300ms $transition-ease 500ms 1 forwards;
      }
      &:nth-child(7n+7) {
        animation: slideUp 300ms $transition-ease 600ms 1 forwards;
      }
    }
  }
  .tertiary-nav-content {
    padding-top: $spacing-normal;
    * {
      text-align: left;
    }
    h2 {
      color: $blue;
    }
    h4 {
      color: darken($gray, 40%);
    }
    p {
      color: $white;
    }
    &.is-visible {
      animation: none;
      h2 {
        animation: slideRight 600ms $transition-ease-in 1 forwards;
      }
      h4 {
        animation: slideRight 900ms $transition-ease-in 1 forwards;
      }
      p {
        animation: slideRight 1200ms $transition-ease-in 1 forwards;
      }
    }
  }
  @media #{$mobile} {
    .tertiary-nav {
      &::before {
        @include scrollshadow($dark-black);
      }
    }
    .tertiary-nav-item {
      margin: 0;
      &.is-selected {
        img {
          transform: scale(1.2);
        }
      }
    }
    .tertiary-nav-content {
      padding: $spacing-normal;
    }
  }
}
.about-careers-slider {
  height: 33vw;
  min-height: 420px; //lmao
  .slide {
    &.is-visible,
    &.is-visible.next {
      .slide-content {
        animation: slideRight 800ms $transition-ease-in 1 forwards;
        .slide-content-txt {
          animation: slideRight 600ms $transition-ease 1 forwards;
        }
        .button {
          padding: $spacing-small $spacing-large;
          animation: slideRight 1200ms $transition-ease-in 1 forwards;
        }
      }
      &.prev {
        .slide-content {
          animation: slideLeft 800ms $transition-ease-in 1 forwards;
          .slide-content-txt {
            animation: slideLeft 600ms $transition-ease 1 forwards;
          }
          .button {
            animation: slideLeft 1200ms $transition-ease-in 1 forwards;
          }
        }
      }
    }
    @media #{$tablet}, #{$mobile} {
      .slide-content {
        background: rgba($dark-black, .68);
        h3,
        p {
          color: $white;
        }
      }
    }
  }
}
section.awards {
  @media #{$mobile} {
    padding-left: 0;
    padding-right: 0;
  }
}
table.awards {
  width: 100%;
  th,
  td {
    text-align: left;
    display: block;
  }
  th {
    font-weight: 500;
    font-size: $type-small;
    color: lighten($black, 40%);
  }
  tr {
    border-bottom: 2px solid $light-gray;
    padding: $spacing-normal 0;
    @include vertical-center;
    &:nth-child(n+6) {
      display: none;
      &.is-showing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation: fadeIn 500ms linear 1 forwards;
        animation: fadeIn 500ms linear 1 forwards;
      }
    }
    @media #{$mobile} {
      padding: $spacing-normal;
    }
  }
  .organization {
    width: 25%;
    font-weight: 700;
  }
  th.organization {
    font-weight: 500;
  }
  .award-name {
    width: 40%;
  }
  .product {
    width: 25%;
  }
  .year {
    width: 10%;
  }
  .award-name,
  .product,
  .year {
    font-weight: 500;
  }
  @media #{$mobile} {
    thead {
      display: none;
    }
    tr,
    tr:nth-child(n+6).is-showing {
      display: block;
    }
    td {
      &.organization,
      &.award-name,
      &.product,
      &.year {
        width: 100%;
        display: block;
        padding-left: 40%;
        margin-bottom: $spacing-smallest;
        position: relative;
        &::before {
          content: attr(data-th);
          position: absolute;
          top: 0;
          left: 0;
          color: lighten($black, 40%);
          font-size: $type-smaller;
          font-weight: 300;
        }
      }
    }
  }
}
