#hero-about {
  background-image: url('/assets/img/hero/hero-about.jpg');
  background-color: $dark-black;
  position: relative;
  @include overlay($dark-black);
}

.tertiary.leadership {
  .tertiary-nav {
    border-bottom: 2px solid $blue;
  }
  .tertiary-nav-item,
  .is-selected {
    &::after {
      display: none;
    }
  }
  .tertiary-nav-item {
    img {
      display: block;
      border-radius: 50%;
      transition: 250ms $transition-bounce;
      height: 68px;
      width: 68px;
    }
    &:hover {
      img {
        box-shadow: 0 0 0 4px $white;
      }
    }
    &.is-selected {
      img {
        box-shadow: 0 0 0 6px $blue;
        transform: scale(1.42);
      }
      &:hover {
        img {
          box-shadow: 0 0 0 6px $blue;
        }
      }
    }
  }
  .tertiary-nav-content {
    padding-top: $spacing-normal;
    * {
      text-align: left;
    }
    h2 {
      color: $blue;
    }
    h4 {
      color: $black;
    }
    p {
      color: $white;
    }
  }
}
.about-careers-slider {
  height: 600px;
  .slide {
    &.is-visible {
      .slide-content {
        animation: slideLeft 800ms $transition-ease-in 1 forwards;
        .slide-content-txt {
          animation: slideLeft 600ms $transition-ease 1 forwards;
        }
        .button {
          padding: $spacing-small $spacing-large;
          animation: slideLeft 1200ms $transition-ease-in 1 forwards;
        }
      }
    }
  }
}
table.awards {
  width: 100%;
  th,
  td {
    text-align: left;
  }
  th {
    font-weight: 300;
    font-size: $type-small;
    color: lighten($black, 40%);
  }
  tr {
    border-bottom: 2px solid $light-gray;
    padding: $spacing-normal 0;
    @include vertical-center;
    &:nth-child(n+6) {
      display: none;
      &.is-showing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation: fadeIn 500ms linear 1 forwards;
        animation: fadeIn 500ms linear 1 forwards;
      }
    }
  }
  .organization {
    width: 25%;
    font-weight: 700;
  }
  th.organization {
    font-weight: 300;
  }
  .award-name {
    width: 40%;
  }
  .product {
    width: 25%;
  }
  .year {
    width: 10%;
  }
  .award-name,
  .product,
  .year {
    font-weight: 300;
  }
  @media #{$mobile} {
    thead {
      display: none;
    }
    tr,
    tr:nth-child(n+6).is-showing {
      display: block;
    }
    td {
      &.organization,
      &.award-name,
      &.product,
      &.year {
        width: 100%;
        display: block;
        padding-left: 40%;
        margin-bottom: $spacing-smallest;
        position: relative;
        &::before {
          content: attr(data-th);
          position: absolute;
          top: 0;
          left: 0;
          color: lighten($black, 40%);
          font-size: $type-smaller;
          font-weight: 300;
        }
      }
    }
  }
}
// Employee Spotlight Section  ----------
.employee-spotlight-txt {
  padding-left: $spacing-large;
}
