section.hero#hero-academy {
  position: relative;
  @include overlay($dark-black);
  background-image: url('/assets/img/hero/hero-sccm-academy.jpg');
}
.academy-dropdown {
  position: relative;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand {
      display: none;
    }
    display: block;
    position: relative;
    @include z-index-1;
    width: 100%;
    padding: $spacing-small;
    background: rgba($white, 0);
    color: $white;
    border: 2px solid $white;
    border-radius: 0;
    font-size: $type-base;
    transition: 300ms $transition-ease;
    cursor: pointer;
    option {
      background: $white;
      color: $black;
      font-size: $type-base;
    }
    &:hover {
      @include boxshadow($glow-white);
      background: rgba($white, 0.06);
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    right: $spacing-normal;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-image: url('/assets/img/dropdown.svg');
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
  }
}
section.academy {
  min-height: calc(100vh - 600px);
}
.asset {
  margin-bottom: $spacing-small;
  opacity: 0;
  transition: opacity 1000ms;
  &.is-showing {
    opacity: 1;
    -webkit-animation: 1000ms $transition-ease-in 1 forwards slideUp;animation: 1000ms $transition-ease-in 1 forwards slideUp;
  }
}
.asset-title {
  background-color: $blue;
  background-repeat: no-repeat;
  padding: $spacing-small;
  color: $white;
  margin-bottom: $spacing-small;
  transition: 300ms $transition-ease-in;
  position: relative;
  overflow: hidden;
  &.has-image {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: radial-gradient(circle farthest-side at left top, $blue, rgba($blue, 0.01) 125%);
      @include z-index-1;
    }
  }
  h3 {
    margin: 0;
    position: relative;
    @include z-index-2;
    font-size: $type-big;
  }
  &:hover {
    @include boxshadow($boxshadow-med-20);
  }
}
.asset-date {
  display: block;
  margin-bottom: $spacing-smallest;
}
.asset-category {
  font-size: $type-small;
  color: $gray;
  margin-right: $spacing-smallest;
  text-transform: capitalize;
}
