section.hero#hero-academy {
  position: relative;
  @include overlay($dark-black);
  background-image: url('/assets/img/hero/hero-academy.jpg');
  @media #{$mobile} {
    background-image: url('/assets/img/hero/hero-academy--mobile.jpg');
  }
}
.academy-search {
  background: $lighter-gray;
  padding: $spacing-smallest;
  width: 100%;
  @include z-index-2;
}
.academy-search-bar {
  input {
    background: transparent;
    border: none;
    padding: $spacing-small 0;
    width: 100%;
    -webkit-appearance: none;
    @media #{$mobile} {
      text-align: center;
    }
  }
}
.academy-search-button {
  button {
    background: $blue;
    border: 0;
    color: $white;
    cursor: pointer;
    font-weight: 700;
    padding: $spacing-small;
    transition: 300ms ease;
    width: 100%;
    -webkit-appearance: none;
    &:hover {
      background: $dark-blue;
    }
  }
}
.search-tags-tag {
  background: rgba($blue, .2);
  color: $blue;
  cursor: pointer;
  display: inline-block;
  margin: $spacing-normal $spacing-small;
  padding: $spacing-smallest;
  transition: 300ms $transition-ease;
  &.is-active {
    background: $blue;
    color: $white;
    cursor: default;
    pointer-events: none;
  }
  &.is-sub {
    margin-left: 2em;
    position: relative;
    &::before {
      content: '>';
      color: $gray;
      display: block;
      left: -1.75em;
      position: absolute;
      top: .5em;
    }
  }
  &:hover {
    background: rgba($blue, .4);
    &.is-active {
      background: $blue;
    }
  }
}
.academy-dropdown {
  position: relative;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand {
      display: none;
    }
    display: block;
    position: relative;
    @include z-index-1;
    width: 100%;
    padding: $spacing-small;
    background: rgba($white, 0);
    color: $white;
    border: 2px solid $white;
    border-radius: 0;
    font-size: $type-base;
    transition: 300ms $transition-ease;
    cursor: pointer;
    option {
      background: $white;
      color: $black;
      font-size: $type-base;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        @include boxshadow($glow-white);
        background: rgba($white, 0.06);
      }
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    right: $spacing-normal;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-image: url('/assets/img/dropdown.svg');
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
  }
}
section.academy {
  min-height: calc(100vh - 600px);
}
.asset {
  margin-bottom: $spacing-small;
  opacity: 0;
  transition: opacity 1000ms;
  &.is-showing {
    opacity: 1;
    -webkit-animation: 1000ms $transition-ease-in 1 forwards slideUp;animation: 1000ms $transition-ease-in 1 forwards slideUp;
  }
}
.asset-title {
  background-color: $blue;
  background-repeat: no-repeat;
  padding: $spacing-small;
  color: $white;
  margin-bottom: $spacing-small;
  transition: 300ms $transition-ease-in;
  position: relative;
  overflow: hidden;
  &.has-image {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: radial-gradient(circle farthest-side at left top, $blue, rgba($blue, 0.01) 125%);
      @include z-index-1;
    }
  }
  h3 {
    margin: 0;
    position: relative;
    @include z-index-2;
    font-size: $type-big;
  }
  @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
    &:hover {
      @include boxshadow($boxshadow-med-20);
    }
  }
}
.asset-date {
  display: block;
  margin-bottom: $spacing-smallest;
}
.asset-category {
  font-size: $type-small;
  color: $gray;
  margin-right: $spacing-smallest;
  text-transform: capitalize;
}
