section.hero#hero-academy {
  position: relative;
  
  background-image: url('/assets/img/hero/hero-academy.png');
  @media #{$mobile} {
    background-image: url('/assets/img/hero/hero-academy--mobile.png');
  }
}
.academy-dropdown {
  position: relative;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand {
      display: none;
    }
    display: block;
    position: relative;
    @include z-index-1;
    width: 100%;
    padding: $spacing-small;
    background: rgba($white, 0);
    color: $white;
    border: 2px solid $white;
    border-radius: 0;
    font-size: $type-base;
    transition: 300ms $transition-ease;
    cursor: pointer;
    option {
      background: $white;
      color: $black;
      font-size: $type-base;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        @include boxshadow($glow-white);
        background: rgba($white, 0.06);
      }
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    right: $spacing-normal;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-image: url('/assets/img/dropdown.svg');
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
  }
}
.academy-search {
  background: $lighter-gray;
  padding: $spacing-smallest;
  width: 100%;
  @include z-index-2;
}
.academy-search-bar {
	background: $lighter-gray;
	border: none;
	padding: $spacing-small 0;
	width: 100%;
	-webkit-appearance: none;
	&:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 48px $lighter-gray inset;
	}
	@media #{$mobile} {
		border-bottom: 2px solid $light-gray;
		text-align: center;
	}
}
.search-info {
	&.is-showing {
		margin-top: $spacing-normal;
	}
	@media #{$mobile} {
		border-bottom: 2px solid $light-gray;
	}
}
.academy-search-button {
	background: transparent;
	border: 0;
	box-shadow: -2px 0 0 0 $light-gray;
	color: $blue;
	cursor: default;
	font-size: $type-base;
	font-weight: 700;
	padding: $spacing-small;
	transition: 300ms ease;
	width: 100%;
	-webkit-appearance: none;
	&.is-active {
		background: $blue;
		box-shadow: none;
		color: $white;
		cursor: pointer;
	}
	&:hover {
		&.is-active {
			color: $white;
			background: $dark-blue;
		}
	}
	@media #{$mobile} {
		box-shadow: none;
	}
}
.search-sortby {
	@media #{$mobile} {
		border-bottom: 2px solid $light-gray;
		order: 1;
	}
}
.academy-sort {
	color: $blue;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: $spacing-small;
	transition: 300ms $transition-ease;
	&:hover,
	&.is-selected {
		box-shadow: inset 0 -2px 0 0 $blue;
		@media #{$mobile} {
			box-shadow: 0 2px 0 0 $blue;
		}
	}
	&.is-selected {
		cursor: default;
	}
}
.search-tags-tag {
  background: rgba($blue, .2);
  color: $blue;
  cursor: pointer;
  display: inline-block;
  margin: 0 $spacing-small 0 0;
  padding: $spacing-smallest;
  transition: 300ms $transition-ease;
  &.is-active {
    box-shadow: inset 0 -2px 0 0 $blue;
    cursor: default;
    pointer-events: none;
  }
  &.is-sub {
    margin-left: 2em;
    position: relative;
    &::before {
      content: '>';
      color: $gray;
      display: block;
      left: -1.75em;
      position: absolute;
      top: .5em;
    }
  }
  &:hover {
    background: rgba($blue, .4);
    &.is-active {
      background: rgba($blue, .2);
    }
  }
}
#searchTags .search-tags-tag:first-child {
	margin-left: 0;
}
span#resultCount {
	display: inline-block;
	margin-top: $spacing-normal;
}
section.academy {
  min-height: calc(100vh - 600px);
}
.asset {
  margin-bottom: $spacing-small;
  opacity: 0;
  transition: opacity 1000ms;
  &.is-showing {
    opacity: 1;
    -webkit-animation: 1000ms $transition-ease-in 1 forwards slideUp;animation: 1000ms $transition-ease-in 1 forwards slideUp;
  }
}
.asset-title {
  background-color: $blue;
  background-repeat: no-repeat;
  padding: $spacing-small;
  color: $white;
  margin-bottom: $spacing-small;
  transition: 300ms $transition-ease-in;
  position: relative;
  overflow: hidden;
  &.has-image {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: radial-gradient(circle farthest-side at left top, $blue, rgba($blue, 0.01) 125%);
      @include z-index-1;
    }
  }
  h3 {
    margin: 0;
    position: relative;
    @include z-index-2;
    font-size: $type-big;
  }
  @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
    &:hover {
      @include boxshadow($boxshadow-med-20);
    }
  }
}
.asset-date {
  display: block;
  margin-bottom: $spacing-smallest;
  font-weight: 500;
}
.asset-category {
  font-size: 18px;
  color: #333;
  margin-right: 0;
  text-transform: capitalize;
font-weight: 800;
display: block;
padding: 10px;
margin-right: 0;
/*
color: #fff;
background-color: #002546;
border-top: 1px solid #245492;
*/
}
