.hero#hero-careers,
.hero#job-opening {
  background-image: url('/assets/img/hero/hero-adaptiva-careers-jobs.jpg');
  position: relative;
  @include overlay($dark-black);
}
.hero#job-opening {
  h1 {
    color: $white;
  }
}
a.job {
  display: block;
  width: 100%;
  padding: $spacing-small;
  position: relative;
  color: $blue;
  font-size: $type-big;
  background: $white;
  margin-bottom: $spacing-smallest;
  transition: opacity 1000ms, box-shadow 500ms $transition-ease-in;
  @include boxshadow($boxshadow-sm-10);
  opacity: 0;
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $spacing-small;
    transition: 300ms $transition-ease-in;
  }
  &:hover {
    @include boxshadow($boxshadow-med-20);
    span {
      right: $spacing-smallest;
    }
  }
  &.is-scrolled {
    opacity: 1;
    &:nth-child(3n+1) {
      animation: slideRight 1000ms $transition-ease-in 1 forwards;
    }
    &:nth-child(3n+2) {
      animation: slideRight 1000ms $transition-ease-in 100ms 1 forwards;
    }
    &:nth-child(3n+3) {
      animation: slideRight 1000ms $transition-ease-in 200ms 1 forwards;
    }
  }
}
section.color-block.job-description {
  text-align: left;
  h2 {
    text-align: left;
  }
}
.sidebar-jobs {
  margin-top: $spacing-normal;
  a {
    display: block;
    padding: $spacing-smallest;
    color: lighten($black, 30%);
    transition: 300ms $transition-ease-in;
    font-size: $type-small;
    &:hover {
      box-shadow: inset 0 0 0 2px $gray;
      color: $black;
    }
  }
}
.careers-slider {
  height: 600px;
}
.careers-perk {
  margin-bottom: $spacing-large;
  span {
    display: block;
    padding-right: $spacing-normal;
  }
  @media #{$mobile} {
    text-align: center;
  }
}
section.job-description {
  h2 {
    color: $blue;
  }
}
