section.hero#hero-contact {
  background-image: url('/assets/img/hero/hero-contact.png');
  position: relative;

  h1 {
    color: $white;
  }
  @media #{$mobile} {
    background-image: url('/assets/img/hero/hero-contact--mobile.png');
  }
}
.contactForm-submit {
	button {
		@media #{$mobile}, #{$tablet} {
			display: block;
			margin-top: $spacing-small;
			width: 100%;
		}
	}
}
section.location {
  width: 100%;
  height: 33vw;
  min-height: 420px; //lmao
  position: relative;
  padding: 0;
  #map {
    @include z-index-0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .content {
    position: relative;
    @include z-index-1;
    background: transparent;
  }
  .tile {
    margin-top: $spacing-large;
    .tile-content {
      background: rgba($white, .88);
      @include boxshadow($boxshadow-xl-50);
    }
    h2 {
      font-size: $type-large;
    }
  }
  @media #{$mobile} {
    height: 100vh;
    padding-bottom: $spacing-larger;
    .content {
      position: absolute;
      bottom: 0;
    }
    .tile {
      margin-top: 0;
      h2 {
        font-size: $type-big;
      }
    }
  }
}
.sales-map {
  position: relative;
  svg {
    position: relative;
    @include z-index-1;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 100%;
      height: 600px;
    }
  }
  .territory {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0;
    transition: transform 200ms $transition-pop, opacity 600ms linear;
    cursor: pointer;
    @include boxshadow($boxshadow-sm-30);
    @include z-index-2;
		&.ada-hq {
			background: $bright-blue;
		}
    &#ada-hq {
      bottom: 50%;
      left: 12.6%;
    }
    &#jeffrey-day {
      top: 42%;
      left: 46%;
    }
		&.jeffrey-day {
			background: $red;
		}
    &#rich-helgeson {
      top: 48%;
      left: 27%;
    }
		&.rich-helgeson {
			background: $orange;
		}
		&#bob-rooney {
			bottom: 46%;
			left: 13%;
		}
		&.bob-rooney {
			background: $green;
		}
    &#geza {
      top: 48%;
			left: 27%;
    }

    &.geza-lauturner {
      background: $yellow;
    }
		&#row-3 {
			bottom: 18%;
			left: 34%;
		}
		&#row-2 {
			bottom: 14%;
			right: 13%;
		}
		&#row-1 {
			bottom: 43%;
      right: 19%;
		}
    &#david-sommerville {
      top: 55%;
      left: 21%;
    }
		&.david-sommerville {
			background: $purple;
		}
    &.is-scrolled {
      opacity: 1;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        transform: scale(1.25);
        @include boxshadow($boxshadow-sm-50);
      }
    }
    @media #{$mobile} {
      height: 20px;
      width: 20px;
    }
  }
  &.is-scrolled {
    svg {
      -webkit-animation: slideUp 1000ms $transition-ease-in 1 forwards, fadeIn 600ms linear 1 forwards;animation: slideUp 1000ms $transition-ease-in 1 forwards, fadeIn 600ms linear 1 forwards;
    }
  }
}
.sales-map-profile {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba($dark-black, .96);
  opacity: 0;
  transition: opacity 500ms linear;
  text-align: left;
  @include z-index-8;
  .content {
    padding: 0 $spacing-large;
    @include vertical-center-absolute;
  }
  .js-sales-close {
    position: absolute;
    top: $spacing-normal;
    right: $spacing-normal;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 300ms $transition-ease-in;
    span {
      display: block;
      position: absolute;
      background: $white;
      height: 2px;
      width: 24px;
      top: 11px;
      transition: 300ms $transition-ease-in;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        span {
          background: $bright-blue;
        }
      }
    }
  }
  img {
    display: block;
    width: 100%;
  }
  h2,
  p {
    color: $white;
  }
  h4 {
    color: $blue;
  }
  .js-prev,
  .js-next {
    position: absolute;
    display: block;;
    top: 50%;
    transform: translateY(-50%);
    @include z-index-6;
    cursor: pointer;
    span {
      display: block;
      padding: $spacing-small;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        .icon {
          fill: $bright-blue;
        }
      }
    }
  }
  .js-prev {
    left: 0;
    span {
      transform: rotate(180deg);
    }
  }
  .js-next {
    right: 0;
  }
  &.is-visible {
    opacity: 1;
    &.is-current,
    &.is-current.next {
      .sales-map-img {
        -webkit-animation: slideLeft 600ms $transition-ease-in 1 forwards;animation: slideLeft 600ms $transition-ease-in 1 forwards;
      }
      .sales-map-info {
        -webkit-animation: slideLeft 1000ms $transition-ease-in 1 forwards;animation: slideLeft 1000ms $transition-ease-in 1 forwards;
      }
      &.prev {
        .sales-map-img {
          -webkit-animation: slideRight 600ms $transition-ease-in 1 forwards;animation: slideRight 600ms $transition-ease-in 1 forwards;
        }
        .sales-map-info {
          -webkit-animation: slideRight 1000ms $transition-ease-in 1 forwards;animation: slideRight 1000ms $transition-ease-in 1 forwards;
        }
      }
      .js-sales-close {
        span {
          &:first-child {
            -webkit-animation: salesClose1 600ms $transition-ease-in 1 forwards;animation: salesClose1 600ms $transition-ease-in 1 forwards;
          }
          &:last-child {
            -webkit-animation: salesClose2 600ms $transition-ease-in 1 forwards;animation: salesClose2 600ms $transition-ease-in 1 forwards;
          }
        }
      }
    }
  }
}
.sales-map-img {
  img {
    display: block;
    width: 100%;
    border-radius: 50%;
    @include boxshadow($boxshadow-xl-50);
    @media #{$tablet}, #{$mobile} {
      width: 50%;
    }
  }
}
