#hero-homepage {
  background-color: $dark-black;
  position: relative;
  background-image: url('/assets/img/hero/hero-homepage.gif');
  @include overlay($dark-black);
  a#scroll {
    position: absolute;
    display: block;
    height: 68px;
    width: 68px;
    background: $lighter-gray;
    border-radius: 50%;
    bottom: $spacing-larger;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: 200ms $transition-ease;
    @include z-index-2;
    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(90deg);
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 68px;
      height: 68px;
      border: 1px solid $blue;
      transition: 150ms $transition-bounce;
      border-radius: 50%;
      opacity: 0;
      transform-origin: center;
      @include z-index-1;
    }
    &:hover {
      width: 60px;
      height: 60px;
      &::before {
        width: 68px;
        height: 68px;
        -webkit-animation: scrollRing1 3600ms linear infinite alternate;
                animation: scrollRing1 3600ms linear infinite alternate;
      }
      &::after {
        width: 68px;
        height: 68px;
        -webkit-animation: scrollRing2 4200ms linear infinite alternate;
                animation: scrollRing2 4200ms linear infinite alternate;
      }
    }
  }
  @media #{$mobile} {
    background-image: url('/assets/img/hero/hero-homepage--mobile.jpg');
  }
}
.tertiary.what-is-p2p {
  .tertiary-nav {
    &::before {
      @include scrollshadow($white);
    }
  }
  .tertiary-nav-content {
    &.is-visible {
      p {
        -webkit-animation: 800ms $transition-ease-in 1 forwards slideRight;animation: 800ms $transition-ease-in 1 forwards slideRight;
      }
      .button {
        -webkit-animation: 1200ms $transition-ease-in 1 forwards slideLeft;animation: 1200ms $transition-ease-in 1 forwards slideLeft;
      }
      .responsive-video {
        -webkit-animation: 600ms $transition-ease-in 1 forwards slideUp;animation: 600ms $transition-ease-in 1 forwards slideUp;
      }
    }
  }
}
.tertiary.customers-home {
  .tertiary-nav {
    &::before {
      @include scrollshadow($light-gray);
    }
  }
}
