section.hero#hero-ignite {
  background-image: url('/assets/img/hero/hero-ignite-2018.jpg');
  position: relative;
  @include overlay($dark-black);
  @media #{$mobile} {
    background-image: url('/assets/img/hero/hero-ignite-2018.jpg');
  }
}
