// slideUp ----------
//  fades in and animates upward
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
// slideRight ----------
//  animates in from left
@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
// slideLeft ----------
//  animates in from right
@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
// fadeIn ----------
//  fades in smoothly
//  dependent on .hide() and .show() functions in jQuery
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// fadeOut ----------
//  fades out smoothly
//  dependent on .hide() and .show() functions in jQuery
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
