// slideUp ----------
//  fades in and animates upward
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
// slideRight ----------
//  animates in from left
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
// slideLeft ----------
//  animates in from right
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
// fadeIn ----------
//  fades in smoothly
//  dependent on .hide() and .show() functions in jQuery
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// fadeOut ----------
//  fades out smoothly
//  dependent on .hide() and .show() functions in jQuery
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scrollRing1 {
  0% {
    width: 60px;
    height: 60px;
  }
  25% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 100px;
    height: 100px;
  }
  75% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 110px;
    height: 110px;
  }
}
@keyframes scrollRing2 {
  0% {
    width: 60px;
    height: 60px;
  }
  25% {
    width: 110px;
    height: 110px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  75% {
    width: 120px;
    height: 120px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
