section.hero#hero-products {
  background-image: url('/assets/img/hero/hero-products.jpg');
  position: relative;
  @include overlay($dark-black);
  @media #{$mobile} {
    background-image: url('/assets/img/hero/hero-products--mobile.jpg');
  }
}
section.products {
  .slider-dot {
    border-color: rgba($blue, .5);
    &:hover {
      background: rgba($blue, .5);
    }
    &.is-selected {
      border-color: $blue;
      background: $blue;
      &:hover {
        background: $blue;
      }
    }
  }
  .slider {
    min-height: 420px; //lmao
    .slide {
      padding: 0;
      background-color: $white;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      h3 {
        @media #{$mobile} {
          font-size: $type-base;
        }
      }
      p {
        color: $black;
        position: relative;
        @include z-index-0;
      }
      .responsive-video {
        @include z-index-1;
        &.text-content {
          @media #{$mobile} {
            height: auto;
            padding: $spacing-small;
            .responsive-video-content {
              position: static;
              top: auto;
              left: auto;
              transform: none;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    .slider-arrow {
      top: auto;
      bottom: $spacing-smallest;
      transform: none;
      width: auto;
      height: auto;
      background: transparent;
      @include vertical-center;
      span {
        color: $black;
        transition: 300ms $transition-ease;
      }
      &.prev {
        span {
          margin-left: $spacing-normal;
        }
      }
      &.next {
        span {
          margin-right: $spacing-normal;
        }
      }
      &:hover {
        span {
          color: $blue;
        }
      }
    }
    .slide {
      h3 {
        margin-top: 0;
      }
      &:first-child {
        .slider-arrow.prev {
          display: none;
        }
      }
      &:last-child {
        .slider-arrow.next {
          display: none;
        }
      }
    }
    @media #{$tablet}, #{$mobile} {
      min-height: initial;
      padding-bottom: $spacing-normal;
      .slides,
      .slide {
        position: static;
        height: auto;
      }
      .slider-dots {
        bottom: -$spacing-small;
      }
      .slider-arrow {
        bottom: -$spacing-normal;
        span {
          font-size: $type-small;
        }
      }
    }
  }
  .tertiary-nav {
    &::before {
      @include scrollshadow($white);
    }
  }
  .tertiary-nav-content.is-visible {
    .slide {
      &.is-visible,
      &.next {
        h3,
        h4 {
          -webkit-animation: slideRight 600ms $transition-ease-in 1 forwards;animation: slideRight 600ms $transition-ease-in 1 forwards;
        }
        p,
        strong,
        span {
          -webkit-animation: slideRight 1000ms $transition-ease-in 1 forwards;animation: slideRight 1000ms $transition-ease-in 1 forwards;
        }
        .button,
        .product-feature-icon {
          -webkit-animation: slideRight 800ms $transition-ease-in 1 forwards;animation: slideRight 800ms $transition-ease-in 1 forwards;
        }
        .responsive-video{
          -webkit-animation: slideUp 1000ms $transition-ease-in 1 forwards;
          animation: slideUp 1000ms $transition-ease-in 1 forwards;
          + p {
            -webkit-animation: slideDown 600ms $transition-ease-in 1 forwards;
            animation: slideDown 600ms $transition-ease-in 1 forwards;
          }
        }
      }
      &.prev {
        h3,
        h4 {
          -webkit-animation: slideLeft 600ms $transition-ease-in 1 forwards;animation: slideLeft 600ms $transition-ease-in 1 forwards;
        }
        p,
        strong,
        span {
          -webkit-animation: slideLeft 1000ms $transition-ease-in 1 forwards;animation: slideLeft 1000ms $transition-ease-in 1 forwards;
        }
        .button,
        .product-feature-icon {
          -webkit-animation: slideLeft 800ms $transition-ease-in 1 forwards;animation: slideLeft 800ms $transition-ease-in 1 forwards;
        }
      }
    }
  }
}
.product-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: $spacing-smallest;
}
.product-feature-item {
  padding: $spacing-small;
  width: 50%;
  float: left;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  transition: 300ms $transition-ease;
  cursor: pointer;
  .product-feature-name {
    display: block;
    padding: 0 $spacing-small;
    color: $black;
    transition: 300ms $transition-ease;
    width: 83.33%;
    width: calc(100% / 12 * 10);
  }
  &.is-selected,
  &:hover {
    .product-feature-name {
      color: $blue;
    }
  }
  &:hover {
    background: rgba($blue, .1);
  }
  &.is-selected {
    background: rgba($blue, .16);
  }
  @media #{$tablet}, #{$mobile} {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    .product-feature-name {
      font-size: 0.8em;
    }
  }
}
.product-features-video {
  .responsive-video {
    margin-bottom: $spacing-small;
  }
  p {
    margin: 0;
    font-size: 0.8em;
  }
}
.product-feature-icon {
  width: 16.67%;
  width: calc(100% / 12 * 2);
  svg {
    max-height: 26px;
  }
}
section.products-brands {
  background-color: $dark-black;
  background-image: url('/assets/img/adaptiva-customer-testimonials-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @include overlay($dark-black);
  .content {
    position: relative;
    @include z-index-1;
  }
  li.tertiary-nav-item {
    &.is-selected {
      span {
        color: $white;
      }
    }
    &:hover {
      span {
        color: $white;
      }
    }
  }
  .tertiary-nav-content {
    p {
      color: $white;
    }
    &.is-visible {
      .products-brands-logo {
        -webkit-animation: slideRight 600ms $transition-ease-in 1 forwards;animation: slideRight 600ms $transition-ease-in 1 forwards;
      }
      p,
      strong,
      span {
        -webkit-animation: slideRight 1000ms $transition-ease-in 1 forwards;animation: slideRight 1000ms $transition-ease-in 1 forwards;
      }
      .button {
        -webkit-animation: slideRight 800ms $transition-ease-in 1 forwards;animation: slideRight 800ms $transition-ease-in 1 forwards;
      }
      .responsive-video {
        -webkit-animation: slideUp 1000ms $transition-ease-in 1 forwards;
        animation: slideUp 1000ms $transition-ease-in 1 forwards;
      }
    }
  }
  .products-brands-logo {
    margin-bottom: $spacing-small;
    svg {
      display: block;
      max-width: 178px;
    }
  }
  .tertiary-nav-content#alere {
    svg {
      max-width: 68px;
    }
  }
}
