/* need to float things? we got you covered. */
.left, .floatleft { float: left !important; }
.right, .floatright { float: right !important; }

/* these are for images, below. gives a nice margin. sweet. */
.alignright { float: right; margin: 0 0 15px 15px;}
.alignleft { float: left; margin: 0 15px 15px 0;}
.floatnone { float: none; }

/* need a middle-aligned header. don't write another CSS rule. just use these! */
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

/* positioning */
.absolute {position: absolute;}
.relative {position: relative;}
.fixed {position: fixed;}
.flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-align-center {align-items: center;}
.flex-justify-center {justify-content: center;}
.flex-space-between {justify-content: space-between;}
.row-reverse {flex-direction: row-reverse;}
.flex-row {flex-direction: row;}

/* need to add z-index?  Us these class? */
.z0 {z-index: 0;}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;}
/* For a little extra reassurance */
.z99{z-index: 99;}

/* magic. many combinations exists with simplicity. */
.float20 { float: left; width: 20%;}
.float25 { float: left; width: 25%;}
.float33 { float: left; width: 33.3333%;}
.float50 { float: left; width: 50%;}
.float66 { float: left; width: 66.6667%;}
.float75 { float: left; width: 75%;}
.float80 { float: left; width: 80%;}

.inline25 { display: inline-block; width: 25%; margin-right: -4px; } 
.inline33 { display: inline-block; width: 33.3333%; margin-right: -4px; } 
.inline50 { display: inline-block; width: 50%; margin-right: -4px; } 
.inline66 { display: inline-block; width: 66.6666%; margin-right: -4px; } 
.text-col {width: 100%; max-width: 880px; margin: 0 auto;}

.w50 {width: 50%;}
.w33 {width: 33.33%;}
.w66 {width: 66.66%;}
.bg-black {background-color: #000;}
.bg-lt-grey {background-color: #eeeeee;}
.bg-cover {background-size:cover; background-position: center center;}
.bg-cover.bg-cover--center-btm {background-position: center bottom;}
.bg-cover.bg-cover--right-center {background-position: right center;}
.bg-cover.bg-cover--center-top {background-position: center top;}
.cta {padding: 3px; display: inline-block; text-transform: uppercase;background-image:linear-gradient(-90deg,#010A11,#05224B); transition: all 0.3s ease;}
.cta.cta--alt {background-image:linear-gradient(-90deg,#4DCF83,#275797);}
.big-p {font-size: 24px;font-weight:400;}
.cta-inner {background-color: #000;padding:13px 30px; display: inline-block; color:#ACCFFE;text-transform: uppercase; transition: color 0.3s ease; font-weight: bold;}
.cta:hover .cta-inner {color:#fff;}
.grad-black-blue {background-image:linear-gradient(90deg,#010A11,#05224B);}
.grad-black-blue-vertical {background-image:linear-gradient(#05224B,#010A11);}
.grad-dblue-lblue,.asset-title.grad-dblue-lblue{background-image:linear-gradient(#002546,#275797)}
.grad-dblue-lblue-reverse {background-image:linear-gradient(#275797,#002546)}

.diffuse-shadow {box-shadow: 0 10px 44px rgba(0,0,0,0.3);}
.brochure-cta img, .image-max img {max-width: 100%;}
.inner {width:100%; max-width: 1200px; margin: 0 auto; padding: 0 24px;}
//home page 2020
.home h2, .home h3, .home h4 {margin-top: 0;}
.home h2 {font-size: 40px;font-weight: bold;}
.home-hero { background-image: url('/assets/img/home/home-hero-bg.jpg');background-size: cover;padding-top: 150px; padding-bottom: 200px;}
.home-hero h1 {font-weight: bold; color:#fff; font-size: 48px; line-height: 1.2em;}
.home-hero p {color: #CCCCCC; font-size: 20px;}
.after-border {position: relative; padding-bottom: 35px;}
.after-border:after {content:'';width:110px; border-top: 2px solid #F9EF39;box-shadow:  0px 0px 10px #F9EF39, 0px 0px 20px #F9EF39,0px 0px 30px #F9EF39; top:100%; left:0; position: absolute;}

.home-banner {padding: 15px 20px;}
.banner-text {padding-right: 40px;}
.home-banner p {margin-bottom: 0px;font-size: 18px;margin-top: 0px;margin-bottom: 0px; }
.sub-hero {color:#fff; padding: 150px 0 100px;}
.ss-graphic {width: 50%; position: absolute;right:0;top:0;}
.speed-and-scale h2 + p {font-size: 24px;}
.sub-hero p {color: #CCCCCC; }
.speed-scale-value-props {margin-top: 50px;}
.speed-scale-value-prop {padding: 0 20px 40px 150px; position: relative; }
.speed-scale-value-prop p {font-size: 18px;}
.speed-scale-value-prop:before {content:'';position: absolute;left: 12px; top:23px; height:calc(100% - 22px); border-left: 2px dotted #2CB566;box-shadow:  0px 0px 14px #2CB566;}
.speed-scale-value-prop:after {content:''; width: 21px; height: 21px; border-radius: 50%; border: 2px solid #2CB566; position: absolute; left:0; top:0; box-shadow:  0px 0px 14px #2CB566;}
.speed-scale-value-prop:last-child:before {display:none;}
.speed-scale-value-prop h3 {margin-top: 0px;}
.adaptiva-solutions {margin-top: 200px;}
.solution-logo {padding: 20px; vertical-align: top;}
.solution-logo p {font-size: 18px; font-weight: 400;}
.logo-wrap {height: 50px; margin-bottom: 20px;}
.solution-logo img {max-width: 100%; max-height: 100%;}
.adaptiva-stats {margin-top: 100px;}
.stat {padding: 0 45px; vertical-align: top;}
.stat-number {font-size: 72px; font-weight: bold; line-height: 1.1em; margin-bottom: 20px;}
.big-cta {padding:150px 0; background-image: url('/assets/img/home/big-cta-bg.jpg');}
.product-single .big-cta, .products .big-cta {padding:150px 0; background-image: url('/assets/img/products/products-footer-cta.jpg');}


// PRODUCTS
.products-hero {background-image:url('/assets/img/products/products-hero.jpg'); padding: 250px 0 300px}
.products-subhero {background-image: linear-gradient(#04224B,#000911);}
.p-subhero-content {transform: translateY(-100px);}
.feature-text {font-weight: 400;}
.prod-logo {height: 70px; margin-bottom: 45px;}
.prod-logo img{max-height: 100%;}
.products section.products-brands {background-image: none; background-color: #000;}
.products section.products-brands:before {background-image:url('/assets/img/products/products-hero.jpg'); filter:blur(6px); opacity: .8;}
.products-landing h3 { color: #275797; font-size: 18px; text-transform: uppercase; font-weight: bold;}


/* Product Single */
.product-hero {padding: 150px 0 0; background-image: url('/assets/img/products/product-bg.jpg');}
.product-logo {max-width: 500px; margin-bottom: 60px;}
.product-logo img {max-width: 100%;}
.product-hero h1 {font-size: 48px;}
.product-single h2 {font-size: 40px; font-weight: bold;}
.product-single h3 {font-size: 32px; font-weight: 500;}
.product-hero-content {margin-bottom: 150px;}
.product-banner {padding: 30px 0; text-align: center;}
.product-banner h2 {margin-bottom: 0;}
.angle-separator {position: relative; height: 150px;}
.angle-separator:before{position: absolute;height: 100%;transform: translateX(-100%); width: calc(100vw - 1200px);left: 30px; background-color: #eeeeee; transform-origin: top;}
.angle-separator:after {position: absolute; height: 100%; transform: skewX(45deg); width: 100vw; right: 41.33%; background-color: #eeeeee; transform-origin: top left;}
.product-subhero-text {transform: translateY(-75px);}
.download-wrap {width: 170px;margin: 0 auto;transform: translateY(-154px); text-align: center;float: right;}
.download-wrap p{color: #275797; font-weight: bold;}
.brochure-cta { width: 100%; height: 210px; padding: 20px 10px 30px;position: relative; margin-bottom: 20px;}
.brochure-cta h3 {color: #fff; font-size: 18px; font-weight: 300;}
.brochure-cta .b-mark {position: absolute; bottom: 10px; right:10px;}
.brochure-cta svg {height: auto !important;}
.section-pad, .features {padding: 65px 0;}
.feature-row {padding: 40px 0;}
h2 + .feature-row {padding-top: 0px;}
.feature-graphic {padding-left: 3%;}
.row-reverse .feature-graphic {padding-left: 0; padding-right: 3%;}
.recommended-content .asset-title{height: 320px;position: relative;}
.asset-wrap {padding: 15px;}
.asset-title h3 {font-size: 24px; font-weight: 500;}
.asset-btm {position: absolute; left:0;bottom:0; width:100%; padding: 1rem;font-size: 18px; font-weight: 500; color: #fff !important;}
.asset-btm .res-icon, .asset-btm .fa  {color: #fff; font-weight: 500;}
.asset-btm .fa{margin-right: 5px;}
.recommended-content {padding: 90px 0;}
.green-planet-benefits .w33 {padding: 15px;}
.gp-feature {padding-left: 30px; position: relative; margin-bottom: 30px; border-left: 2px solid #4dcf83;}
.gp-feature h3 {margin-top: 0px;}
.gp-feature p {margin-bottom: 0px;}
.gp-bene {padding: 15px; display: block;height:100%; width: 100%;}
.gp-bene h3 {font-size: 24px; }
@media (max-width: 1200px){
    .stat {padding:0 3%;}
    .stat-number {font-size: calc(10vw * .6);}
}
@media (max-width: 1000px){
    .half-1000 { width: 50%; }
    .full-1000 { float: none; width: 100%; display: block; }
    .no-flex-1000 { display: inherit;}
    .speed-scale-value-prop {padding-left: 80px;}
    .asset-title h3 {font-size: 18px;}
}
@media (max-width: 800px){
    .half-800 { width: 50%; }
    .full-800, .full-800.right { float: none !important; width: 100%; display: block; }
    .no-flex-800 { display: inherit;}
    .no-flex-800 .w50 {width: 100%;}
    .adaptiva-solutions {margin-top: 100px;}
    .feature-text {margin-bottom: 40px;}
    .feature-graphic {padding-left: 0;}
    .row-reverse .feature-graphic {padding-right: 0px;}
    .home-banner {text-align: center;}
    .banner-text {padding-right: 0px; margin-bottom: 15px;}
    .home-banner .text-right {text-align: center;}
    .big-p {font-size: 1.3em;}
    .angle-separator {display: none;}
    .product-subhero {padding-top: 40px;}
    .product-subhero .float33.right {float: left !important; margin: 0 20px 20px 0; width:33.33%; }
    .download-wrap {transform: translateY(0);float: left; margin-top: -100px;}
    .products-hero {padding: 20vw 0 20vw;}
    .p-subhero-content {transform: translateY(-50px);}
    .product-subhero-text {transform: translateY(0);}
}
@media (max-width: 600px){
    .half-600 { width: 50%; }
    .full-600 { float: none; width: 100%; display: block; }
    .no-flex-600 { display: inherit;}
    .stat.inline33,.solution-logo.inline33 {display: block; width:100%; margin-bottom: 40px; text-align: center;}
    .stat-number {font-size: 60px;}
    .product-subhero .float33.right {float: none !important;}
    .download-wrap {float: none; display: block; margin: -100px auto 0;}
    .product-hero h1 {font-size: 34px;}

}
@media (max-width: 500px){
    .half-500 { width: 50%; }
    .full-500 { float: none; width: 100%; display: block; }
    .no-flex-500 { display: inherit;}
}
@media (max-width: 400px){
    .half-400 { width: 50%; }
    .full-400 { float: none; width: 100%; display: block; }
    .no-flex-400 { display: inherit;}
}